{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="card collapsed-card card-warning">
    <div class="card-header">
        <h3 class="card-title"><i class="icon fas fa-exclamation-triangle"></i> Avertissement</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <p>Export en cours d'affinage, il est impératif de procéder a des contrôles manuels pour détecter d'éventuelles incohérences.</br>
    Cette extraction est le reflet de ce qui est présent dans Divalto, elle ne pourra jamais être parfaite et nécéssitera toujours une intervention humaine....</p>
    <p>CR => Coût de Revient</p>
    <p>CMP => Coût moyen pondéré</p>
    <p>CMA => Coût d'achat</p>
    <p>La colonne Total Retenu reprends le prix qui est le plus probablement juste dans cette ordre de priorité => prix d'achat, CMP, CR</p>
    <p>Le CMA est déterminé par la ventilation achat associé, il est possible que pour une vente il y ai plusieurs achats concernés,
    pour représenter cela, la quantité vente est éclaté en fonction des ventilations achats dans lesquels elle pioche</p>
    <p>Le compte achat est adapté en fonction du mouvement de ventilation en achat lié, si aucun mouvement en achat n'est trouvé,
    le compte achat est déterminé par le fournisseur habituel de l'article</p>
    <p>L'estimation du transport ne tient pas compte des ZRPO (Redevance), cette fonctionnalité n'est pas parfaite, 
    car certains produits ont beau être en plus grande quantité dans la facture fournisseur, cela ne signifie pas qu'ils sont responsable à part égale du transport</p> 
    <!-- /.card-footer-->
    </div>
</div>

                
<div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header d-flex justify-content-between">
                        <h2 class="card-title">Compta Analytique Lhermitte frères</h2>
                        {{ form_start(monthYear, { 'attr' : { 'class' : 'ml-auto' }} ) }}
                        <div class='d-flex'>
                            <div class="p-1 mt-2">
                                Selectionnez les dates : 
                            </div>
                            <div class="p-1">
                                {{ form_row(monthYear.month) }}
                            </div>
                            <div class="p-1">
                                {{ form_row(monthYear.year) }}
                            </div>
                            <div class="p-1">
                                {{ form_row(monthYear.filtrer)}}
                            </div>
                        </div>
                    {{ form_end(monthYear)}}
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
							{% if ventes %}
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>Facture</span></th>
                                    <th class="text-center"><span>Ref</span></th>
                                    <th class="text-center"><span>Sref1</span></th>
                                    <th class="text-center"><span>Sref2</span></th>
                                    <th class="text-center"><span>Designation</span></th>
                                    <th class="text-center"><span>Uv</span></th>
                                    <th class="text-center"><span>OP</span></th>
                                    <th class="text-center"><span>CR</span></th>
                                    <th class="text-center"><span>CMP</span></th>
                                    <th class="text-center"><span>CMA</span></th>
                                    <th class="text-center"><span>Article</span></th>
                                    <th class="text-center"><span>Client</span></th>
                                    <th class="text-center"><span>Compte Achat</span></th>
                                    <th class="text-center"><span>Qte Vendu</span></th>
                                    <th class="text-center"><span>Total CR</span></th>
                                    <th class="text-center"><span>Total CMP</span></th>
                                    <th class="text-center"><span>Total CMA</span></th>
                                    <th class="text-center"><span>Total Retenu</span></th>
                                    <th class="text-center"><span>Transport Fournisseur</span></th>
                                </tr>
                            </thead>
                            <tbody>
                            
                                {% for vente in ventes %}
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-dark">{{ vente.Facture }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ vente.Ref}}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ vente.Sref1}}</a>
                                        </td>
                                        <td class="text-left">
                                            <a class="text-dark">{{ vente.Sref2 }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ vente.Designation }}</a>
                                        </td>
                                        <td class="text-left">
                                            <a class="text-dark">{{ vente.Uv }}</a>
                                        </td>
                                        <td class="text-left">
                                            <a class="text-dark">{{ vente.Op }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ vente.CoutRevient|number_format(4) }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ vente.CoutMoyenPondere|number_format(4) }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ vente.Cma|number_format(4) }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ vente.Article }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ vente.Client }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ vente.CompteAchat }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ vente.QteSign }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{% if vente.TotalCoutRevient %}{{ vente.TotalCoutRevient|number_format(4) }}{% endif %}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{% if vente.TotalCoutMoyenPondere %}{{ vente.TotalCoutMoyenPondere|number_format(4) }}{% endif %}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{% if vente.TotalCoutCma %}{{ vente.TotalCoutCma|number_format(4) }}{% endif %}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{% if vente.prixRetenu %}{{ vente.prixRetenu|number_format(4) }}{% endif %}</a>
                                        </td>
                                        <td class="text-center">
                                            {% if vente.DetailFacture %}<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-xl-{{ vente.Facture }}"><i class="fas fa-eye"></i></button>{% endif %}
                                        {% if vente.DetailFacture %}
                                        <!-- modal -->
                                                <div class="modal fade" id="modal-xl-{{ vente.Facture }}">
                                                    <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <div class='d-flex flex-column'>
                                                        <h3 class="modal-title">Détail des factures achats</h3>
                                                        <span class="modal-title text-left">
                                                            Le produit concerné : ref: {{ vente.Ref }} Des:{{ vente.Designation }}  
                                                            {% if vente.Sref1 %} Sref1: {{ vente.Sref1 }}{% endif %}
                                                            {% if vente.Sref2 %} Sref2: {{ vente.Sref2 }}{% endif %}
                                                        </span>
                                                        
                                                        {% if vente.estimation or vente.estimationTotal %}
                                                            <span class="modal-title text-left">Seul les produits de la famille 'TRANSPOR' sont utilisés pour calculer l'estimation du port par produits</span>
                                                        {% endif %}
                                                        {% if vente.estimation %}
                                                            <span class="modal-title text-left">L'estimation du port par unité de vente est de {{ vente.estimation|number_format(2) }} €</span>
                                                        {% endif %}
                                                        {% if vente.estimationTotal %}
                                                            <span class="modal-title text-left">L'estimation du port pour le total des unitées de vente est de {{ vente.estimationTotal|number_format(2) }} €</span>
                                                        {% endif %}
                                                        </div>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center"><span>Facture</span></th>
                                                                    <th class="text-center"><span>Famille</span></th>
                                                                    <th class="text-center"><span>Référence</span></th>
                                                                    <th class="text-center"><span>Sref1</span></th>
                                                                    <th class="text-center"><span>Sref2</span></th>
                                                                    <th class="text-center"><span>Désignation</span></th>
                                                                    <th class="text-center"><span>Qte</span></th>
                                                                    <th class="text-center"><span>Op</span></th>
                                                                    <th class="text-center"><span>Montant Signé</span></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for detail in vente.DetailFacture %}
                                                                    <tr>
                                                                        <td class="text-center">
                                                                            <a class="text-dark">{{ detail.Facture }}</a>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <a class="text-dark">{{ detail.famille }}</a>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <a class="text-dark">{{ detail.Ref }}</a>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <a class="text-dark">{{ detail.Sref1 }}</a>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <a class="text-dark">{{ detail.Sref2 }}</a>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <a class="text-dark">{{ detail.Designation }}</a>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <a class="text-dark">{{ detail.Qte }}</a>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <a class="text-dark">{{ detail.Op }}</a>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <a class="text-dark">{{ detail.MontantSign }}</a>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                        </div>
                                                        <div class="modal-footer d-flex justify-content-between">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>
                                                <!-- /.modal -->
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center"><span>Facture</span></th>
                                    <th class="text-center"><span>Ref</span></th>
                                    <th class="text-center"><span>Sref1</span></th>
                                    <th class="text-center"><span>Sref2</span></th>
                                    <th class="text-center"><span>Designation</span></th>
                                    <th class="text-center"><span>Uv</span></th>
                                    <th class="text-center"><span>OP</span></th>
                                    <th class="text-center"><span>CR</span></th>
                                    <th class="text-center"><span>CMP</span></th>
                                    <th class="text-center"><span>CMA</span></th>
                                    <th class="text-center"><span>Article</span></th>
                                    <th class="text-center"><span>Client</span></th>
                                    <th class="text-center"><span>Compte Achat</span></th>
                                    <th class="text-center"><span>Qte Vendu</span></th>
                                    <th class="text-center"><span>Total CR</span></th>
                                    <th class="text-center"><span>Total CMP</span></th>
                                    <th class="text-center"><span>Total CMA</span></th>
                                    <th class="text-center"><span>Total Retenu</span></th>
                                    <th class="text-center"><span>Détail</span></th>
                                </tr>
                            </tfoot>
                        </table>
                                {% else %}
                                     <h4 class="text-left text-dark"><i class="fas fa-info-circle pr-2 text-primary"></i>Veuillez selectionner un filtre.</h4>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

