<p>Bonjour,</p>

<p>De la marchandise a été retiré pour le Chantier
	<strong>{{ chantier }}</strong>
</p>
{% if retrait %}
	<p>Pour le tiers =>
		<strong>{{ retrait.tiers }}
			-
			{{ retrait.nom }}
		</strong>
	</p>
	<p>
		<u>
			<strong>Le fichier pour intégrer les mouvements tiers. ('TypePiece' 'Type Tiers' 'date')</strong>
		</u>
		<ul>
			<li>Menu Divalto => Import de Piéces par tableur</li>
			<li>Paramétre 'Type de traitement' => Création</li>
			<li>Paramétre 'Phase' => Import</li>
			<li>Paramétre 'Mise à jour' => Mise à jour réelle</li>
			<li>Paramétre 'Ouvrir le classeur à la fin du traitement' => Coché</li>
			<li>En validant avec le V, allez chercher le fichier que vous aurez au préalable copié sur votre bureau de session à distance pour l'intégrer !</li>
		</ul>
	</p>
{% else %}
	<p>
		<strong>Client non identifié donc piéce interne</strong>
	</p>
	<p>
		<u>
			<strong>Le fichier pour intégrer les régularisations internes. ( Import Stock 'date')</strong>
		</u>
		<ul>
			<li>Menu Divalto => Import de Piéces par tableur</li>
			<li>Paramétre 'Type de traitement' => Stock</li>
			<li>Paramétre 'Phase' => Import</li>
			<li>Paramétre 'Mise à jour' => Mise à jour réelle</li>
			<li>Paramétre 'Ouvrir le classeur à la fin du traitement' => Coché</li>
			<li>En validant avec le V, allez chercher le fichier que vous aurez au préalable copié sur votre bureau de session à distance pour l'intégrer !</li>
		</ul>
	</p>
{% endif %}

{% if stockfaux %}
	<p>
		<u>
			<strong>Veuillez trouver ci dessous la liste des stocks faux produits rapportés:
			</strong>
		</u>
	</p>
	{% for stockfau in stockfaux %}
		<p>{{ stockfau }}</p>
	{% endfor %}
{% endif %}

{% if commentaire %}

	<p>Un commentaire a été ajouté a ce retrait de marchandise :</p>

	<p>{{ commentaire|raw }}</p>

{% endif %}

<p>Intranet Axis</p>
<p>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</p>
