{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="card collapsed-card card-info">
    <div class="card-header">
    <h3 class="card-title"><i class="icon fas fa-info-circle pr-2"></i>Informations utiles</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
<!-- /.card-header -->
    <div class="card-body">
        <p>Facilite vos décisions d'achat</p>
    </div>
<!-- /.card-footer-->
</div>

<div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <!-- /.card-header -->
                        
                            
                            <div class="card card-dark collapsed-card">
                                <div class="card-header">
                                    <h3 class="card-title">Décisionnel</h3>

                                    <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                                    </button>
                                    </div>
                                    <!-- /.card-tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    {{ form_start(formAddNewFou) }}
                                    {{ form_widget(formAddNewFou.majFou) }}
                                    {{ form_end(formAddNewFou) }}

                                    {{ form_start(CreerDecisionnel)}}
                                        <div class="form-group">
                                        {{ form_widget(CreerDecisionnel.Nom)}}
                                        {{ form_widget(CreerDecisionnel.fournisseurs)}}
                                        {{ form_widget(CreerDecisionnel.Creer)}}
                                        </div>
                                    {{ form_end(CreerDecisionnel)}}
                                </div>
                            <!-- /.card-body -->
                            
                            <!-- /.card -->
                            </div>


                    <div class="card-body">
                        {% if listeDecisionnel %}    
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>Nom du Décisionnel</span></th>
                                    <th class="text-center"><span>Fournisseurs</span></th>
                                    <th class="text-center"><span>Articles</span></th>
                                    <th class="text-center"><span>Date de création</span></th>
                                    <th class="text-center"><span>Créateur</span></th>
                                    <th class="text-center"><span>Actions</span></th>
                                </tr>
                            </thead>
                            <tbody>
							 
                                                        
                              <!-- >boucle -->
                             {% for decision in listeDecisionnel %}
                                 
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ decision.Nom }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">
                                            {% for fournisseur in decision.fournisseurs %}  
                                                {{ fournisseur.nom }}, 
                                            {% endfor %}
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">Articles</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ decision.createdAt|date("d/m/Y") }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ decision.user.pseudo }}</a>
                                        </td>
                                        
                                        <td class="text-center">
                                            <a class="btn btn-info" href="{{path('app_view_decision', {'id' : decision.id})}}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a class="btn btn-warning" href="{{path('app_edit_decision', {'id' : decision.id})}}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger" data-toggle="modal" data-target="#modal-default">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>



                                    <div class="modal fade" id="modal-default">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h4 class="modal-title">Voulez vous vraiment supprimer ce décisionnel ?</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                            <p>Attention, cette action est irréversible !&hellip;</p>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">J'arrête tout !</button>
                                            <a type="button" class="btn btn-danger" href="{{path('app_delete_decision', {'id' : decision.id})}}">Supprimer le décistionnel définitivement</a>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <!-- /.modal -->
                              
                             {% endfor %}
                             <!-- >boucle -->

                            </tbody>
                            <tfoot>
                                <tr>
                                   <th class="text-center"><span>Nom du Décisionnel</span></th>
                                    <th class="text-center"><span>Fournisseurs</span></th>
                                    <th class="text-center"><span>Articles</span></th>
                                    <th class="text-center"><span>Date de création</span></th>
                                    <th class="text-center"><span>Créateur</span></th>
                                    <th class="text-center"><span>Actions</span></th>
                                </tr>
                            </tfoot>
                        </table>
                        {% else %}
                            <h4 class="text-left text-dark"><i class="fas fa-info-circle pr-2 text-primary"></i>Aucun décisionnel n'a été créer</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

<script>
window.onload = () => {
    let article = document.querySelector("#")
}
</script>
{% endblock %}
