{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Résumé des states métiers du
							{{ dd }}
							au
							{{ df }}
						</h1>
					</div>
					{{ form_start(form) }}
					<div class='d-flex'>
						<div class="p-1 mt-2">
							Veuillez selectionner la période :
						</div>
						<div class="p-1">
							{{ form_widget(form.startDate) }}
						</div>
						<div class="p-1">
							{{ form_widget(form.endDate) }}
						</div>
						<div class="p-1">
							{{ form_row(form.filtrer, { 'attr' : { 'class' : 'btn btn-xl btn-secondary' }}
							) }}
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>
		{% if app.request.attributes.get('dos') == 1 %}
			{% set route = 'app_states_lhermitte' %}
			{% set client =  'app_states_par_clients_dd_dfLh'%}
			{% set produit = 'app_states_par_produits_dd_dfLh' %}
			{% set familleClient = 'app_states_par_famille_clients_dd_dfLh' %}
			{% set familleProduit = 'app_states_par_famille_dd_dfLh' %}
			{% set commerciaux = 'app_states_commerciaux_dd_dfLh' %}
		{% elseif app.request.attributes.get('dos') == 3 %}
			{% set route = 'app_states_roby' %}
			{% set client = 'app_states_par_clients_dd_df' %}
			{% set produit = 'app_states_par_produits_dd_df' %}
			{% set familleClient = 'app_states_par_famille_clients_dd_df' %}
			{% set familleProduit = 'app_states_par_famille_dd_df' %}
			{% set commerciaux = 'app_states_commerciaux_dd_df' %}
		{% endif %}

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div
						class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-info">
							<div class="inner">
								<h3>{{ total.montantN|format_currency('EUR', locale='fr') }}</h3>

								<p>Chiffre d'affaire</p>
							</div>
							<div class="icon">
								<i class="ion ion-bag"></i>
							</div>
							<a href="{{path(route)}}" class="small-box-footer">En savoir +
								<i class="fas fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
					<!-- ./col -->
					<div
						class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-success">
							<div class="inner">
								{% if pourcTotaux[0].montantN != 0 and pourcTotaux[0].montantN1 != 0 %}
									{% set delta = ((pourcTotaux[0].montantN - pourcTotaux[0].montantN1) / pourcTotaux[0].montantN1)* 100 %}
								{% else %}
									{% set delta = 0 %}
								{% endif %}
								<h3>{{ delta|number_format(2, '.', ' ') }}
									%<sup style="font-size: 20px"></sup>
								</h3>

								<p>Delta %</p>
							</div>
							<div class="icon">
								<i class="ion ion-stats-bars"></i>
							</div>
							<a href="{{path(route)}}" class="small-box-footer">En savoir +
								<i class="fas fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
					<!-- ./col -->
					<div
						class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-warning">
							<div class="inner">
								<h3>{{ nbClient }}</h3>

								<p>Nombre de clients différents</p>
							</div>
							<div class="icon">
								<i class="ion ion-person-add"></i>
							</div>
							<a href="{{path(client, {'dos' : app.request.attributes.get('dos'), 'dd' : dd, 'df' : df})}}" class="small-box-footer">En savoir +
								<i class="fas fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
					<!-- ./col -->
					<div
						class="col-lg-3 col-6">
						<!-- small box -->
						<div class="small-box bg-danger">
							<div class="inner">
								<h3>{{ nbProduits}}</h3>

								<p>Nombre de produits différents</p>
							</div>
							<div class="icon">
								<i class="ion ion-pie-graph"></i>
							</div>
							<a href="{{path(produit, {'dos' : app.request.attributes.get('dos'), 'dd' : dd, 'df' : df})}}" class="small-box-footer">En savoir +
								<i class="fas fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
					<!-- ./col -->
				</div>
				<div class="row">
					<div
						class="col-md-6">


						<!-- LINE CHART -->
						<div class="card card-info">
							<div class="card-header">
								<h3 class="card-title">Evolution du chiffre d'affaire
									{{ "now"|date("Y") - 6 }}
									et
									{{ "now"|date("Y") }}</h3>

								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="maximize">
										<i class="fas fa-expand"></i>
									</button>
								</div>
							</div>
							<div class="card-body">
								<div class="chart">
									<canvas id="lineChart7years" style="min-height: 250px; height: 250px; max-height: 93%; max-width: 93%;"></canvas>
								</div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->


						<!-- BAR CHART -->
						<div class="card card-success">
							<div class="card-header">
								<h3 class="card-title">Comparaison
									{{ trancheD }}
									et
									{{ trancheF }}</h3>

								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="maximize">
										<i class="fas fa-expand"></i>
									</button>
								</div>
							</div>
							<div class="card-body">
								<div class="chart">
									<canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 93%; max-width: 93%;"></canvas>
								</div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->


						<!-- DONUT CHART -->
						<div class="card card-danger">
							<div class="card-header">
								<h3 class="card-title">Chiffre d'affaire par familles clients du
									{{ dd }}
									au
									{{ df }}</h3>

								<div class="card-tools">
									<a class="btn btn-dark" href="{{path(familleClient, {'dos' : app.request.attributes.get('dos'), 'dd' : dd, 'df' : df})}}">Détails</a>
									<button type="button" class="btn btn-tool" data-card-widget="maximize">
										<i class="fas fa-expand"></i>
									</button>
								</div>
							</div>
							<div class="card-body">
								<canvas id="donutChart" style="min-height: 250px; height: 300px; max-height: 93%; max-width: 93%;"></canvas>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->


					</div>
					<!-- /.col (LEFT) -->
					<div
						class="col-md-6">

						<!-- AREA CHART -->
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">Chiffre d'affaire par commercial
									{{ "now"|date("Y") - 6 }}
									et
									{{ "now"|date("Y") }}</h3>

								<div class="card-tools">
									<a class="btn btn-dark text-white" href="{{path(commerciaux, {'dos' : app.request.attributes.get('dos'), 'dd' : dd, 'df' : df})}}">Détails</a>
									<button type="button" class="btn btn-tool" data-card-widget="maximize">
										<i class="fas fa-expand"></i>
									</button>
								</div>
							</div>
							<div class="card-body">
								<div class="chart">
									<canvas id="lineChartCommerciaux" style="min-height: 250px; height: 250px; max-height: 93%; max-width: 93%;"></canvas>
								</div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
						<!-- LINE CHART -->
						<div class="card card-info">
							<div class="card-header">
								<h3 class="card-title">Chiffre d'affaire
									{{ trancheD }}
									et
									{{ trancheF }}</h3>

								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="maximize">
										<i class="fas fa-expand"></i>
									</button>
								</div>
							</div>
							<div class="card-body">
								<div class="chart">
									<canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 93%; max-width: 93%;"></canvas>
								</div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->

						<!-- PIE CHART -->
						<div class="card card-orange">
							<div class="card-header">
								<h3 class="card-title text-white">Chiffre d'affaire par familles produits du
									{{ dd }}
									au
									{{ df }}
								</h3>

								<div class="card-tools">
									<a class="btn btn-dark text-white" href="{{path(familleProduit, {'dos' : app.request.attributes.get('dos'), 'dd' : dd, 'df' : df})}}">Détails</a>
									<button type="button" class="btn btn-tool" data-card-widget="maximize">
										<i class="fas fa-expand"></i>
									</button>
								</div>
							</div>
							<div class="card-body">
								<canvas id="pieChart" style="min-height: 250px; height: 300px; max-height: 93%; max-width: 93%;"></canvas>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->


					</div>
					<!-- /.col (RIGHT) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>


{% endblock %}
{% block javascripts %}


	<script>
		$(function () {
/* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */

// --------------
// - AREA CHART -
// --------------


var lineChartData = {
labels: {{ mois|raw }},
datasets: [
{
label: {{ trancheDJson|raw }},
backgroundColor: 'rgba(210, 214, 222, 1)',
borderColor: 'rgba(210, 214, 222, 1)',
pointRadius: false,
pointColor: 'rgba(210, 214, 222, 1)',
pointStrokeColor: '#c1c7d1',
pointHighlightFill: '#fff',
pointHighlightStroke: 'rgba(220,220,220,1)',
data: {{ moisMontantN1|raw }}
}, {
label: {{ trancheFJson|raw }},
backgroundColor: 'rgba(60,141,188,0.9)',
borderColor: 'rgba(60,141,188,0.8)',
pointRadius: false,
pointColor: '#3b8bba',
pointStrokeColor: 'rgba(60,141,188,1)',
pointHighlightFill: '#fff',
pointHighlightStroke: 'rgba(60,141,188,1)',
data: {{ moisMontantN|raw }}
},
]
}

var lineChartOptions = {
maintainAspectRatio: true,
responsive: true,
legend: {
display: true
},
scales: {
xAxes: [
{
gridLines: {
display: true
}
}
],
yAxes: [
{
gridLines: {
display: true
}
}
]
}
}


// -------------
// - LINE CHART -
// --------------
var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
var lineChartOptions = $.extend(true, {}, lineChartOptions)
var lineChartData = $.extend(true, {}, lineChartData)
lineChartData.datasets[0].fill = false;
lineChartData.datasets[1].fill = false;
lineChartOptions.datasetFill = false

var lineChart = new Chart(lineChartCanvas, {
type: 'line',
data: lineChartData,
options: lineChartOptions
})


var ctx = document.getElementById('donutChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'doughnut',
data: {
labels: {{ familleClient|raw }},
datasets: [
{
label: '# of Votes',
data: {{ montantClient|raw }},
backgroundColor: {{ colorClient|raw }},
borderWidth: 1
}
]
},
options: {
plugins: {
legend: {
display: true,
labels: {
color: 'rgb(100, 99, 132)'
}
}
}
}
});

// -------------
// - PIE CHART -
// -------------
// Get context with jQuery - using jQuery's .get() method.

var ctx = document.getElementById('pieChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'pie',
data: {
labels: {{ familleProduit|raw }},
datasets: [
{
label: '# of Votes',
data: {{ montantProduit|raw }},
backgroundColor: {{ colorProduit|raw }},
borderWidth: 1
}
]
},
options: {
plugins: {
legend: {
display: true,
labels: {
color: 'rgb(100, 99, 132)'
}
}
}
}
});


// -------------
// - BAR CHART -
// -------------
var barChartCanvas = $('#barChart').get(0).getContext('2d')
var barChartData = $.extend(true, {}, lineChartData)
var temp0 = lineChartData.datasets[0]
var temp1 = lineChartData.datasets[1]
barChartData.datasets[1] = temp1
barChartData.datasets[0] = temp0

var barChartOptions = {
responsive: true,
maintainAspectRatio: false,
datasetFill: false
}

new Chart(barChartCanvas, {
type: 'bar',
data: barChartData,
options: barChartOptions
})


})
	</script>

	<script>
		const ctx = document.getElementById('lineChart7years');

new Chart(ctx, {
type: 'line',
data: {
labels: {{ sevenAnnee|raw }},
datasets: [
{
label: 'Evolution du chiffre d\'affaire ',
data: {{ sevenMontant|raw }},
fill: false,
borderColor: 'rgb(40, 167, 69)',
// tension: 0.1,
borderWidth: 5
}
]
},
options: {
scales: {
y: {
beginAtZero: true
}
}


}
});
	</script>

	<script>
		// Line Chart Commerciaux
var names2 = {{ nomCommerciaux|raw }};
var colors2 = {{ couleurCommercial|raw }};
var data2 = {{ donneesCommerciaux|raw }};
var dates2 = {{ anneeCommerciaux|raw }};

new Chart('lineChartCommerciaux', {
type: 'line',
data: {
labels: dates2,
datasets: names2.map(
(ds, i) => ({label: names2[i], data: data2[i], borderColor: colors2[i], borderWidth: 3})
)
},
options: {
scales: {
y: {
min: 0
}
}
}
});
	</script>

{% endblock %}
