{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container-fluid">
			<div class="card card-dark collapsed-card">
				<div class="card-header">
					<h3 class="card-title">Créer un nouveau contact dans l'annuaire</h3>
					
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-plus"></i>
						</button>
					</div>
					<!-- /.card-tools -->
				</div>
				<!-- /.card-header -->
				<div class="row card-body">
					<div class="col-12">
						<div class="card">
							{{ form_start(formAnnuaire)}}
							<div class="d-flex flex-wrap card-body">
								<div class="form-group col-4">
									{{ form_row(formAnnuaire.interne, {'attr' : {'placeholder' : "Numéro Interne", 'class' : "form-control"}})}}
								</div>
								<div class="form-group col-4">
									{{ form_row(formAnnuaire.nom, {'attr' : {'placeholder' : "Nom et prénom", 'class' : "form-control"}})}}
								</div>
								<div class="form-group col-4">
									{{ form_row(formAnnuaire.exterieur, {'attr' : {'placeholder' : "Numéro Extérieur", 'class' : "form-control"}})}}
								</div>
								<div class="form-group col-4">
									{{ form_row(formAnnuaire.mail, {'attr' : {'placeholder' : "E-mail", 'class' : "form-control"}})}}
								</div>
								<div class="form-group col-4">
									{{ form_row(formAnnuaire.fonction, {'attr' : {'placeholder' : "Fonction", 'class' : "form-control"}})}}
								</div>
								<div class="form-group col-4">
									{{ form_row(formAnnuaire.portable, {'attr' : {'placeholder' : "Numéro GSM", 'class' : "form-control"}})}}
								</div>
								<div class="form-group col-4">
									{{ form_row(formAnnuaire.Societe, {'attr' : {'class' : "form-control"}}
									)}}
								</div>

								<div class="form-group mx-auto pt-5">
									<button type="submit" class="btn btn-lg btn-dark mx-auto ">Créer le contact dans l'annuaire</button>
								</div>
							</div>
							{{ form_end(formAnnuaire)}}
						</div>
					</div>
				</div>
				<!-- /.card-body -->
			</div>

			<!-- /.card -->
			<div class="row">
				<div class="col-12">
					<div class="card card-dark">
						<div class="card-header d-flex">
							<h3 class="card-title text-center mr-auto">Modification de l'annuaire</h3>
							<a href="{{ path('app_admin') }}" class="badge badge-success ml-auto">Retourner à l'Administration générale</a>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center">
											<span>interne</span>
										</th>
										<th class="text-center">
											<span>Nom</span>
										</th>
										<th class="text-center">
											<span>Extérieur</span>
										</th>
										<th class="text-center">
											<span>mail</span>
										</th>
										<th class="text-center">
											<span>Fonction</span>
										</th>
										<th class="text-center">
											<span>Société</span>
										</th>
										<th class="text-center">
											<span>Portable</span>
										</th>
										<th class="text-center">
											<span>Action</span>
										</th>
									</tr>
								</thead>

								<tbody>
									<small>{{ form_errors( formAnnuaire.nom ) }}</small>
									{% for annuaire in annuaires %}
										<tr id="<?= $id ?>">
											<td class="text-center" id="{{ annuaire.id }}">
												<a class="text-center" style="max-width: 40px;">{{annuaire.interne}}</a>
											</td>
											<td class="text-center" id="{{ annuaire.id }}">
												<a class="text-center">{{annuaire.nom}}</a>
											</td>
											<td class="text-center" id="{{ annuaire.id }}">
												<a class="text-center">{{ annuaire.exterieur}}</a>
											</td>
											<td class="text-center" id="{{ annuaire.id }}">
												<a class="text-center">{{annuaire.mail}}</a>
											</td>
											<td class="text-center" id="{{ annuaire.id }}">
												<a class="text-center">{{annuaire.fonction}}</a>
											</td>
											<td class="text-center" id="{{ annuaire.id }}">
												<a class="text-center">{{ annuaire.societe.nom }}</a>
											</td>
											<td class="text-center" id="{{ annuaire.id }}">
												<a class="text-center">{{annuaire.portable}}</a>
											</td>
											<td class="text-center">
												<a class="btn btn-warning" href="{{path('app_edit_annuaire', {'id' : annuaire.id})}}">
													<i class="fas fa-edit"></i>
												</a>
												<a class="btn btn-danger" href="{{path('app_delete_annuaire', {'id' : annuaire.id})}}">
													<i class="fas fa-trash-alt"></i>
												</a>
											</td>
										{% endfor %}
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th class="text-center">
											<span>interne</span>
										</th>
										<th class="text-center">
											<span>Nom</span>
										</th>
										<th class="text-center">
											<span>Extérieur</span>
										</th>
										<th class="text-center">
											<span>mail</span>
										</th>
										<th class="text-center">
											<span>Fonction</span>
										</th>
										<th class="text-center">
											<span>Société</span>
										</th>
										<th class="text-center">
											<span>Portable</span>
										</th>
										<th class="text-center">
											<span>Action</span>
										</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
