{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<section class="content-header">
		<div class="container-fluid">
			<div
				class="card card-dark">
				<!--collapsed-card-->
				<div class="card-header d-flex">
					<h3 class="card-title">Création/Modification Services</h3>
					<a href="{{ path('app_admin_parameter') }}" class="badge badge-success ml-auto">Retourner aux paramétres</a>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-plus"></i>
						</button>
					</div>
					<!-- /.card-tools -->
				</div>
				<!-- /.card-header -->
				<div class="row card-body">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title text-center mr-auto">Création d'un service</h3>
							</div>

							{{ form_start(formService)}}
							<div class="d-flex flex-wrap card-body">
								<div class="form-group col-12"></div>

								<label>{{ form_label(formService.title) }}:</label>
								{{ form_widget(formService.title, {'attr' : {'placeholder' : "Nom du service", 'class' : "form-control"}})}}


								<label>{{ form_label(formService.color) }}:</label>
								<div class="input-group my-colorpicker2">
									{{ form_widget(formService.color, {'attr' : {'placeholder' : "Couleur du service", 'class' : "form-control"}}) }}
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-square"></i>
										</span>
									</div>
								</div>
                                <label>{{ form_label(formService.textColor) }}:</label>
								<div class="input-group my-colorpicker2">
									{{ form_widget(formService.textColor, {'attr' : {'placeholder' : "Couleur du texte service", 'class' : "form-control"}}) }}
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fas fa-square"></i>
										</span>
									</div>
								</div>
								<button type="submit" class="btn btn-lg btn-dark mx-auto m-5">Créer un service</button>

							</div>
							{{ form_end(formService)}}
							<div class="card-header">
								<h3 class="card-title text-center mr-auto">Modification des services</h3>
							</div>
							<!-- /.card-header -->
							<div class="">
								<table id="example2" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center">
												<span>id</span>
											</th>
											<th class="text-center">
												<span>Nom</span>
											</th>
                                            <th class="text-center">
												<span>Couleur fond</span>
											</th>
                                            <th class="text-center">
												<span>Couleur Texte</span>
											</th>
                                            <th class="text-center">
												<span>Rendu</span>
											</th>
											<th class="text-center">
												<span>Action</span>
											</th>
										</tr>
									</thead>
									<tbody>
										{% for service in services %}
											<tr>
													<td class="text-center">
														<a class="text-center">{{ service.id}}</a>
													</td>
													<td class="text-center">
														{{service.title}}
													</td>
                                                    <td class="text-center">
														{{service.color}}
													</td>
                                                    <td class="text-center">
														{{service.textColor}}
													</td>
                                                    <td class="text-center">
														<button class="btn btn-xl" style= "background-color: {{ service.color }}; color: {{ service.textColor }}";>{{ service.title }}</button>
													</td>
													<td class="text-center">
														<a href="{{ path('app_edit_service', {'id' : service.id}) }}" type="button" class="btn btn-warning">
															<i class="fas fa-edit"></i>
														</a>
														<a href="{{ path('app_delete_service', {'id' : service.id}) }}" type="button" class="btn btn-danger">
															<i class="fas fa-trash-alt"></i>
														</a>
													</td>
											</tr>
										{% endfor %}
									</tbody>
									<tfoot>
										<tr>
											<th class="text-center">
												<span>id</span>
											</th>
											<th class="text-center">
												<span>Nom</span>
											</th>
                                             <th class="text-center">
												<span>Couleur fond</span>
											</th>
                                            <th class="text-center">
												<span>Couleur Texte</span>
											</th>
                                            <th class="text-center">
												<span>Rendu</span>
											</th>
											<th class="text-center">
												<span>Action</span>
											</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
