{% extends 'minimum.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Veuillez saisir votre nouveau mot de passe !</p>

        {{ form_start(changePasswordForm) }}
        <div>
        <small>{{ form_errors(changePasswordForm.plainPassword.first) }}</small>
			<div class="input-group mb-3">
				{{ form_widget(changePasswordForm.plainPassword.first, {'attr': {'class': 'form-control','placeholder': 'Mot de passe...'}}) }}
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
			</div>

			<div class="input-group mb-3">
				{{ form_widget(changePasswordForm.plainPassword.second, {'attr': {'class': 'form-control','placeholder': 'Confirmation du Mot de passe...'}}) }}
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
			</div>
        <div class="row text-center">
          <div class="col-12">
            <button type="submit" class="btn btn-dark btn-block">Modifier mon mot de passe</button>
          </div>
          <!-- /.col -->
        </div>
        {{ form_end(changePasswordForm) }}
      <p class="mt-3 mb-1 text-center">
        <a href="{{path('app_login')}}">Vous avez déjà un compte? S'identifier</a>
      </p>
      <p class="mb-0 text-center">
        <a href="{{path('app_register')}}">Inscription</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
<!-- /.login-box -->
{% endblock %}