{% extends 'base.html.twig' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block body %}
<section class="content-header">
  <div class="alert alert-info alert-dismissible col-12" role="alert" id="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><i class="icon fas fa-info-circle"></i> info</h5>
    Pour déposer une idée d'amélioration, cliquez sur tickets sur la gauche puis sur la barre à droite de Créer un nouveau ticket. </br>
    Dans le degrés d'urgence, selectionnez boite à idée. </br>
  </div>

<div class='d-flex justify-content-between'>

<div class="col-12 col-sm-9">
  <div class="card card-dark card-tabs">
    <div class="card-header p-0 pt-1">
      <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="actuality" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Actualités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="custom-tabs-one-calendar-tab" data-toggle="pill" href="#calendrier" role="tab" aria-controls="custom-tabs-one-calendar" aria-selected="false">Calendrier</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="custom-tabs-one-tabContent">
        <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="actuality">
          <!-- TODO ajouter les 5 derniéres actualités sous forme de caroussel--> 

<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  {% set myVal = 1 %}

    {% for new in news %}
    {% if myVal == 1 %}
    <div class="carousel-item active">
    {% else %}
    <div class="carousel-item">
    {% endif %}
      <h2 class="d-block w-100 text-center text-dark">{{ new.title }} </h2>
      <p class="d-block w-100">{{ new.content|raw }} </p>
     {% set myVal = myVal + 1 %}
    </div>
    {% endfor %}
  </div>        
</div>

        </div>
        <div class="tab-pane fade" id="calendrier" role="tabpanel" aria-labelledby="custom-tabs-one-calendar-tab">
            <div >
            <!-- THE CALENDAR -->
            <div id="external-events"></div>
            <div id="calendar"></div>
            </div>
        </div>
      </div>
    </div>
    <!-- /.card -->
  </div>
</div>

<div class="col-md-3 float-right">
<!-- USERS LIST -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Membres</h3>
            <div class="card-tools">
                <span class="badge badge-danger">{{ users|length }} Membres</span>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
        </div>
    <!-- /.card-header -->
        <div class="card-body p-0">
            <ul class="users-list clearfix">
                {% for user in users %}
                    <li>
                    <img src="img/profile/{{ user.img }}" alt="User Image">
                    <a class="users-list-name" href="mailto:{{ user.email }}">{{ user.pseudo }}</a>
                    
                        {% for track in tracks %}
                            {% if track.user_id == user.id %}
                              {% if track.inHoliday %}
                                  <small class="badge badge-warning"><i class="fas fa-sun text-white mr-1"></i> {{ track.inHoliday }}</small>
                              {% else %}
                                  {% if track.ago == 'en ligne' or track.ago ends with 'secondes' %}
                                  <small class="badge badge-success"><i class="far fa-clock text-white mr-1"></i> en ligne</small>
                                  {% else %}
                                  <small class="badge badge-secondary"><i class="far fa-clock text-white mr-1"></i> {{ track.ago }}</small>  
                                  {% endif %}                                
                              {% endif %}
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}              
            </ul>
        </div>
    </div>
</div>
</div>             
</section>
{% endblock %}
{% block javascripts %}

<script>
var myCarousel = document.querySelector('#carousel')
var carousel = new bootstrap.Carousel(myCarousel, {
  interval: 2000
})

</script>

<!-- fullCalendar 2.2.5 -->
<script>
  $(function () {

    /* initialize the external events
     -----------------------------------------------------------------*/
    function ini_events(ele) {
      ele.each(function () {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        }

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject)

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex        : 1070,
          revert        : true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        })

      })
    }

    ini_events($('#external-events div.external-event'))

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()

    var Calendar = FullCalendar.Calendar;
    var Draggable = FullCalendarInteraction.Draggable;

    var containerEl = document.getElementById('external-events');
    var checkbox = document.getElementById('drop-remove');
    var calendarEl = document.getElementById('calendar');

    // initialize the external events
    // -----------------------------------------------------------------

    new Draggable(containerEl, {
      itemSelector: '.external-event',
      eventData: function(eventEl) {
        console.log(eventEl);
        return {
          title: eventEl.innerText,
          backgroundColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          borderColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          textColor: window.getComputedStyle( eventEl ,null).getPropertyValue('color'),
        };
      }
    });

    var calendar = new Calendar(calendarEl, {
      plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid' ],
	  locale: 'fr',
    timeZone: 'Europe/Paris',
      header    : {
        left  : 'prev,next today',
        center: 'title',
        right : 'dayGridMonth,timeGridWeek,timeGridDay'
      },
	  buttonText: {
		  today: 'Aujourd\'hui',
		  month: 'Mois',
      day: 'Jour',
		  week: 'Semaine'
	  },
      //Random default events
      events    : {{ data|raw }},
      editable  : false,
      droppable : true, // this allows things to be dropped onto the calendar !!!
      drop      : function(info) {
        // is the "remove after drop" checkbox checked?
        if (checkbox.checked) {
          // if so, remove the element from the "Draggable Events" list
          info.draggedEl.parentNode.removeChild(info.draggedEl);
        }
      }    
    });

    calendar.render();
    // $('#calendar').fullCalendar()

    /* ADDING EVENTS */
    var currColor = '#3c8dbc' //Red by default
    //Color chooser button
    var colorChooser = $('#color-chooser-btn')
    $('#color-chooser > li > a').click(function (e) {
      e.preventDefault()
      //Save color
      currColor = $(this).css('color')
      //Add color effect to button
      $('#add-new-event').css({
        'background-color': currColor,
        'border-color'    : currColor
      })
    })
    $('#add-new-event').click(function (e) {
      e.preventDefault()
      //Get value and make sure it is not null
      var val = $('#new-event').val()
      if (val.length == 0) {
        return
      }

      //Create events
      var event = $('<div />')
      event.css({
        'background-color': currColor,
        'border-color'    : currColor,
        'color'           : '#fff'
      }).addClass('external-event')
      event.html(val)
      $('#external-events').prepend(event)

      //Add draggable funtionality
      ini_events(event)

      //Remove event from text input
      $('#new-event').val('')
    })
  })
</script>
<!-- End Calendrier -->

{% endblock %}