{% extends 'base.html.twig' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block body %}
	<div class="card collapsed-card card-info">
		<div class="card-header">
			<h3 class="card-title">
				<i class="icon fas fa-info-circle"></i>
				Info</h3>
			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse">
					<i class="fas fa-minus"></i>
				</button>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<p>Vous pouvez vérrouiller manuellement cette piéce avec le bouton rouge "Vérrouiller manuellement cette piéce" si vous constaté un probléme de papier aprés la facturation fournisseur, un commentaire est nécéssaire.</p>
			<p>Le tableau en dessous reprends les informations de la piéce directement sur DIVALTO.</p>
			<p></p>
			<p>Il y a ensuite la liste des documents, vous pouvez catégoriser les documents si cela n'a pas été fait lors de leurs dépôts ou qu'une erreur à été constaté. Tant que les documents ne sont pas catégorisés, ils ne sont pas considérés et un mail de rappel vous sera envoyé.</p>
			<p>La section suivante permet de déposer de nouveau document, le bouton bleu ciel permet d'aller consulter le site FSC pour voir si le fournisseur est toujours certifié, il faut mettre cette preuve dans les documents.</p>
			<p>Vous pouvez mettre plusieurs documents à la fois, il faut par contre mettre des documents d'un même type à la fois sous peine de devoir corriger manuellement le type au dessus.</p>
			<p>Plus bas vous pouvez ajouter un commentaire si nécéssaire et voir tous les commentaires déposés, par qui à quelle heure....</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			{% if piece.probleme == 0 %}
				<div class="card card-dark">
				{% else %}
					<div class="card card-danger">
					{% endif %}

					<div class="card-header d-flex justify-content-between flex-wrap">
						<div class="card-title">
							<h2>Liste des produits de la piéce fournisseur pour notre référence :
								{{ notreRef }}</h2>
							{% if piece.probleme > 0 %}
								<span>Il y a un probléme avec les documents remis par le fournisseur, veuillez vérifier les commentaires ci dessous</span>
							{% endif %}
						</div>
						<div class="ml-auto">
							{% if factureAchat %}
								<H5 class='mr-2'>Type FSC actuel :
									{{ piece.perimetreBois }}</H5>
								<button type="button" class="btn btn-default" data-toggle="modal" data-target="#perimetre">
									Modifier le Type de FSC
								</button>
							{% endif %}
							{% if piece.probleme == 0 %}
								<button type="button" title='Bloquer cette piéce suite à un probléme' data-toggle="modal" data-target="#modal-{{piece.id}}" class="btn btn-danger ">
									<i class="far fa-times-circle pr-2"></i>
									Vérrouiller manuellement cette piéce
								</button>
							{% else %}
								<button type="button" title='Débloquer cette piéce' data-toggle="modal" data-target="#modal-{{piece.id}}" class="btn btn-success ">
									<i class="fas fa-check-circle pr-2"></i>
									Dévérrouiller manuellement cette piéce
								</button>
							{% endif %}
							<a title='Retourner à la liste des piéces à alimenter' href="{{ path('app_fsc_attached_file') }}" class="btn btn-warning text-dark">
								<i class="fas fa-thumbs-down pr-2"></i>Voir les piéces à alimenter
							</a>
						</div>
					</div>
					{% if factureAchat %}
						<!-- modal -->
						<div class="modal fade" id="perimetre">
							<div class="modal-dialog modal-xl">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">Indiquer le Type FSC</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div>
											<embed src="{{ asset('/doc/Roby/Fsc/' ~ factureAchat.file ) }}" width="800" height="500" type="application/pdf"/>
											<div>
												<h2>
													Lien vers le fichier :</h2>
												<a class="text-left" href="{{ asset('/doc/Roby/Fsc/' ~ factureAchat.file ) }}" class="text-dark">{{ factureAchat.file }}</a>
											</div>
										</div>
										{{ form_start(formPerimetre, { attr: { 'accept-charset' : 'utf-8' }}) }}
										{{ form_label(formPerimetre.perimetreBois) }}
										{{ form_widget(formPerimetre.perimetreBois) }}
										{{ form_errors(formPerimetre.perimetreBois) }}
									</div>
									<div class="modal-footer justify-content-between">
										<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
										{{ form_widget(formPerimetre.ModifierPerimetre, {'label': "Modifier le périmétre bois", 'attr' : { 'class': 'btn btn-outline-secondary mb-3' }}) }}
										{{ form_end(formPerimetre) }}
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->
					{% endif %}

					<!-- modal -->
					<div class="modal fade" id="modal-{{piece.id}}">
						<div class="modal-dialog modal-xl">
							<div class="modal-content">
								<div class="modal-header">
									{% if piece.probleme == 0 %}
										<h4 class="modal-title">Souhaitez vous bloquer cette piece suite a un probléme avec les documents fournisseur ?</h4>
									{% else %}
										<h4 class="modal-title">Souhaitez vous débloquer cette piece ? Le fournisseur a pu se justifier ?</h4>
									{% endif %}

									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body text-left">
									<p>Un commentaire va être automatiquement générer en votre nom avec date et heure, merci préciser les raisons de ce changement de statut ci dessous.</p>
									<p>N'oubliez pas que toutes
										<strong>les piéces FSC doivent être appuyées de documents</strong>
									</p>
									<ul>
										<li>Document commercial du fournisseur avec la mention FSC sur les produits (notre facture d'achat)</li>
										<li>Contrat d’achat de matière première du fournisseur</li>
										<li>permissions de coupe</li>
										<li>factures d’achats de la matiére premiére du fournisseur</li>
										<li>Le document du site FSC attestant que le fournisseur est encore certifié à ce jour</li>
									</ul>
									{% if piece.probleme == 0 %}
										<p>Il est important de noter dans ce commentaire les
											<strong>numéros de piéces internes</strong>qui ont permis de régulariser cette situation en basculant les articles sur des produits standards
										</p>
										<p>Merci de
											<strong>retirer les étiquettes FSC des palettes concernées et de préciser dans le commentaire qui s'en est chargé !</strong>
										</p>
										<p>
											<strong>Ne pas mélanger les palettes avec d'autres produits au risque de ne plus pouvoir les remettres en FSC en cas de régularisation future, il faut donc les identifier distinctement !</strong>
										</p>
									{% else %}
										<p>
											<strong>Seulement si ces palettes sont clairement identifiables :</strong>
										</p>
										<p>Vous devez supprimer les bons internes inutiles pour
											<strong>remettre les articles sur les produits FSC</strong>.</p>
										<p>Vous devez également
											<strong>remettre les étiquettes FSC sur les palettes</strong>
											en question si celle ci ont été retirées.</p>
										<p>
											<strong>Si ces palettes ne sont pas identifiables car elles n'ont pas été isolées, elles doivent rester en produits standards</strong>
										</p>
									{% endif %}
									{{ form_start(formText) }}{{ form_errors(formText.content) }}{{ form_row(formText.content) }}</div>
								<div class="modal-footer justify-content-between">
									<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
									<button type="submit" class="btn btn-danger">
										{% if piece.probleme == 0 %}Vérrouiller cette piéce
											{% else %}Dévérrouiller cette piéce
										{% endif %}
									</button>
									{{ form_end(formText) }}
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						{% if details %}
							<table id="example3" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center">
											<span>Date Pièce</span>
										</th>
										<th class="text-center">
											<span>Type Pièce</span>
										</th>
										<th class="text-center">
											<span>Numéro Pièce</span>
										</th>
										<th class="text-center">
											<span>Tiers</span>
										</th>
										<th class="text-center">
											<span>Ref</span>
										</th>
										<th class="text-center">
											<span>Sref1</span>
										</th>
										<th class="text-center">
											<span>Sref2</span>
										</th>
										<th class="text-center">
											<span>Désignation</span>
										</th>
										<th class="text-center">
											<span>Lot</span>
										</th>
									</tr>
								</thead>
								<tbody>
									{% for detail in details %}
										{% if detail.codePiece == 2 %}
											{% set p = 'Commande' %}
										{% elseif detail.codePiece == 3 %}
											{% set p = 'Bon de livraison' %}
										{% elseif detail.codePiece == 4 %}
											{% set p = 'Facture' %}
										{% endif %}
										{% set codePiece = detail.codePiece %}{% set numPiece = detail.num %}{% set tiers = detail.tiers %}<tr>
											<td class="text-center">
												<a class="text-dark">{{ detail.datePiece|date("Y/m/d") }}</a>
											</td>
											<td class="text-center">
												<a class="text-dark">{{ p }}</a>
											</td>
											<td class="text-center">
												<a class="text-dark">{{ detail.num }}</a>
											</td>
											<td class="text-center">
												<a class="text-dark">{{ detail.tiers}}</a>
											</td>
											<td class="text-center">
												<a class="text-dark">{{ detail.ref}}</a>
											</td>
											<td class="text-center">
												<a class="text-dark">{{ detail.sref1}}</a>
											</td>
											<td class="text-center">
												<a class="text-dark">{{ detail.sref2}}</a>
											</td>
											<td class="text-center">
												<a class="text-dark">{{ detail.designation}}</a>
											</td>
											<td class="text-center">
												<a class="text-dark">{{ detail.lot}}</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th class="text-center">
											<span>Date Pièce</span>
										</th>
										<th class="text-center">
											<span>Type Pièce</span>
										</th>
										<th class="text-center">
											<span>Numéro Pièce</span>
										</th>
										<th class="text-center">
											<span>Tiers</span>
										</th>
										<th class="text-center">
											<span>Ref</span>
										</th>
										<th class="text-center">
											<span>Sref1</span>
										</th>
										<th class="text-center">
											<span>Sref2</span>
										</th>
										<th class="text-center">
											<span>Désignation</span>
										</th>
										<th class="text-center">
											<span>Lot</span>
										</th>
									</tr>
								</tfoot>
							</table>
						{% else %}
							<h4 class="text-left text-dark">
								<i class="fas fa-info-circle pr-2 text-primary"></i>Aucunes details à traiter actuellement, Félicitation !</h4>
						{% endif %}
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card card-dark">
								<div class="card-header d-flex">
									<h2 class="card-title mr-auto p-2 col-4">Liste des factures client en lien avec cette achat</h2>
								</div>
								<div class="card-body">
									{% if piecesclients|length > 0 %}
										<table id="example1" class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="text-center">
														<span>Facture</span>
													</th>
													<th class="text-center">
														<span>Date Facture</span>
													</th>
													<th class="text-center">
														<span>Tiers</span>
													</th>
													<th class="text-center">
														<span>Nom</span>
													</th>
													<th class="text-center">
														<span>Notre référence</span>
													</th>
												</tr>
											</thead>
											<tbody>
												{% for piecesclient in piecesclients %}
													<tr>
														<td class="text-center">
															<a class="btn btn-xl btn-info" href='{{path('app_movement_bill_fsc_show', {'id' : piecesclient.id } ) }}'>{{ piecesclient.numFact }}<i class="fas fa-eye pl-2"></i>
															</a>
														</td>
														<td class="text-center">
															<a class="text-dark">{{ piecesclient.dateFact|date("d/m/Y") }}</a>
														</td>
														<td class="text-center">
															<a class="text-dark">{{ piecesclient.tiers}}</a>
														</td>
														<td class="text-center">
															<a class="text-dark">{{ piecesclient.nom}}</a>
														</td>
														<td class="text-center">
															<a class="text-dark">{{ piecesclient.notreRef}}</a>
														</td>
													</tr>
												{% endfor %}
											</tbody>
											<tfoot>
												<tr>
													<th class="text-center">
														<span>Facture</span>
													</th>
													<th class="text-center">
														<span>Date Facture</span>
													</th>
													<th class="text-center">
														<span>Tiers</span>
													</th>
													<th class="text-center">
														<span>Nom</span>
													</th>
													<th class="text-center">
														<span>Notre référence</span>
													</th>
												</tr>
											</tfoot>
										</table>
									{% else %}
										<h4 class="text-left text-dark">
											<i class="fas fa-info-circle pr-2 text-primary"></i>Pas de factures clients reliées
										</h4>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card card-dark">
								<div class="card-header d-flex justify-content-between">
									<h2 class="card-title">Liste des documents pour le FSC liés à la piéce</h2>
								</div>
								<div class="card-body">{% set docs = documents.file|length %}
									{% if docs > 0 %}
										<div class='d-flex justify-content-center'>
											{% for typeDoc in typeDocs %}
												{% set count = 0 %}
												{% for findDoc in findDocs %}
													{% if typeDoc.id == findDoc.id %}
														{% set count = findDoc.count %}
													{% endif %}
												{% endfor %}
												{% if count > 0 %}
													{% set countColor = 'success' %}
												{% else %}
													{% set countColor = 'danger' %}
												{% endif %}
												<a class='btn btn-xl btn-{{countColor}} m-2'>{{ typeDoc.title }}
													<span class='ml-2 badge badge-dark'>{{ count }}</span>
												</a>
											{% endfor %}
										</div>
										<table id="example2" class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="text-center">
														<span>Id</span>
													</th>
													<th class="text-center">
														<span>Nom du document</span>
													</th>
													<th class="text-center">
														<span>Type de document</span>
													</th>
													<th class="text-center">
														<span>Action</span>
													</th>
												</tr>
											</thead>
											<tbody>
												{% for docs in documents.file %}
													<tr>
														<td class="text-center">
															<a class="text-left text-dark">{{ docs.id }}</a>
														</td>
														<td class="text-center">
															<a class="text-left" href="{{ asset('/doc/Roby/Fsc/' ~ docs.file ) }}" class="text-dark">{{ docs.file }}</a>
														</td>
														<td class="text-center">
															{% if docs.typeDoc %}
																<a class="btn btn-xl text-white" class="text-dark" style="background-color: {{ docs.typeDoc.color }}" ;>
																	<i class='{{ docs.typeDoc.icone }} mr-2'></i>
																	{{ docs.typeDoc.title }}</a>
																<a class="btn btn-warning" href="{{ path('app_change_type_doc_fsc', {id: docs.id })}}">
																	<i class="fas fa-edit"></i>
																</a>
															{% else %}
																<a class="btn btn-primary" href="{{ path('app_change_type_doc_fsc', {id: docs.id })}}">Selectionner le type de document</a>
															{% endif %}
														</td>
														<td class="text-center">
															<a target="_blank" href="{{ asset('/doc/Roby/Fsc/' ~ docs.file ) }}" class="btn btn-info btn-xl">
																<i class="fas fa-download" download></i>
															</a>
															<a class="btn btn-danger btn-xl" data-toggle="modal" data-target="#modal-default-{{docs.id}}">
																<i class="fas fa-trash-alt"></i>
															</a>
															<div class="modal fade" id="modal-default-{{docs.id}}">
																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h4 class="modal-title">Voulez vous vraiment supprimer ce document ?</h4>
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			</button>
																		</div>
																		<div class="modal-body">
																			<p>Cette action est irréversible !&hellip;</p>
																		</div>
																		<div class="modal-footer justify-content-between">
																			<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
																			<a type="button" href="{{ path('app_document_fsc_delete', {id: docs.id })}}" class="btn btn-danger">Supprimer</a>
																		</div>
																	</div>
																</div>
															</div>
														</td>
													</tr>
												{% endfor %}
											</tbody>
											<tfoot>
												<tr>
													<th class="text-center">
														<span>Id</span>
													</th>
													<th class="text-center">
														<span>Nom du document</span>
													</th>
													<th class="text-center">
														<span>Type de document</span>
													</th>
													<th class="text-center">
														<span>Action</span>
													</th>
												</tr>
											</tfoot>
										</table>
									{% else %}
										<h4 class="text-left text-dark">
											<i class="fas fa-exclamation-triangle pr-2 text-danger"></i>Aucuns documents sur cette piéce, merci d'alimenter !
										</h4>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card card-dark">
								<div class="card-header d-flex justify-content-between flex-wrap">
									<h4 class="card-title">Ajouter des documents</h4>
									<a target="_blank" class="badge badge-info ml-auto" href='https://app.powerbi.com/view?r=eyJrIjoiN2U3NGMyNWEtZTAxNS00MzVhLWExNmMtOThhZjdiYjQ4MWNkIiwidCI6IjEyNGU2OWRiLWVmNjUtNDk2Yi05NmE5LTVkNTZiZWMxZDI5MSIsImMiOjl9'>Consulter le site FSC pour voir si les fournisseurs sont tourjours agrées</a>
								</div>
								<div class="card-body">{{ form_start(form, { attr: { 'accept-charset' : 'utf-8' }}) }}{{ form_label(form.typeDoc) }}{{ form_widget(form.typeDoc) }}{{ form_errors(form.typeDoc) }}<div class="input-group">
										<div class="custom-file">{{ form_label(form.file) }}{{ form_widget(form.file) }}{{ form_errors(form.file) }}</div>
										<div class="input-group-append">{{ form_widget(form.envoyer, {'label': "Télécharger des fichiers", 'attr' : { 'class': 'btn btn-outline-secondary mb-3' }}) }}</div>
									</div>
									{{ form_rest(form) }}{{ form_end(form) }}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card card-dark">
								<div class="card-header d-flex justify-content-between">
									<h2 class="card-title">Commentaires sur cette piéce</h2>
									<div class='ml-auto'></div>
								</div>
								<div class="card-body">
									{% if comments %}
										<div class="card direct-chat direct-chat-primary">
											<div class="card-header">
												<h3 class="card-title">Liste des commentaires</h3>
												<div class="card-tools">
													<span title="{{ comments|length }} Commentaires" class="badge badge-primary">{{ comments|length }}</span>
													<button type="button" class="btn btn-tool text-secondary" data-card-widget="collapse">
														<i class="fas fa-minus"></i>
													</button>
												</div>
											</div>
											<div class="card-body">
												<div class="p-5">
													{% for comment in comments %}
														{% if app.user.id == comment.user.id %}
															<div class="direct-chat-msg right">
																<div class="direct-chat-infos clearfix">
																	<span class="direct-chat-name float-right">{{ comment.user.pseudo }}</span>
																	<span class="direct-chat-timestamp float-left">{{ comment.createdAt|date("d/m/Y H:i")}}</span>
																</div>
																<img class="direct-chat-img" src="{{ asset(asset('img/profile/' ~ comment.user.img))}}" alt="message user image">
																<div class="direct-chat-text">{{ comment.content|raw }}</div>
															</div>
														{% else %}
															<div class="direct-chat-msg">
																<div class="direct-chat-infos clearfix">
																	<span class="direct-chat-name float-left">{{ comment.user.pseudo }}</span>
																	<span class="direct-chat-timestamp float-right">{{ comment.createdAt|date("d/m/Y H:i")}}</span>
																</div>
																<img class="direct-chat-img" src="{{ asset(asset('img/profile/' ~ comment.user.img))}}" alt="message user image">
																<div class="direct-chat-text">{{ comment.content|raw }}</div>
															</div>
														{% endif %}
													{% endfor %}

												</div>
											</div>
										{% else %}
											<h4 class="text-left text-dark">
												<i class="fas fa-info-circle pr-2 text-primary"></i>Aucun commentaire actuellement !
											</h4>
										{% endif %}
										{{ form_start(formComment) }}
										{{ form_errors(formComment.content) }}
										{{ form_row(formComment.content) }}
										{{ form_widget(formComment.ajouter, {'attr' : { 'class': 'btn btn-outline-primary mt-3 float-right' }}) }}
										{{ form_end(formComment) }}
									</div>
								</div>
							</div>
						</div>
					{% endblock %}
