{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="card collapsed-card card-info">
    <div class="card-header">
        <h3 class="card-title"><i class="icon fas fa-info-circle"></i> Info</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <p>Le numéro de commande est la base de tout, c'est grâce à cela que les mises à jours sont éffectuées</p>
        <p>Les piéces présentent dans cette liste sont celles présentent dans Divalto, si vous supprimer une commande dans Divalto, 
        celle ci sera supprimé de la liste et toutes les piéces jointes qui lui sont alouées seront supprimées</p>
        <p>A 00h45 chaque jours, la liste est mise à jour, vous pouvez cliquer sur le bouton bleu avec la fléche qui tourne pour forcer la mise à jour </p>
        <p>La mise à jour a pour but de suivre l'évolution de la piéce et donc d'alimenter le numéro de Bl et de facture de maniére à savoir ou nous en sommes, elle permet également d'ajouter les nouvelles piéces.</p>
        <p>Un mail automatique vous sera envoyé chaque jour pour vous signaler les piéces à alimenter, un minimum de 5 piéces jointes est nécéssaire</p>
        <ul>
            <li>Document commercial du fournisseur avec la mention FSC sur les produits (notre facture d'achat)</li>
            <li>Contrat d’achat de matière première du fournisseur</li>
            <li>permissions de coupe</li>
            <li>factures d’achats de la matiére premiére du fournisseur</li>
            <li>Le document du site FSC attestant que le fournisseur est encore certifié</li>
        </ul>
        <p>Le bouton vert "Voir les piéces traitées" permet d'aller consulter les piéces déjà traitées</p>
        <p>L'oeil bleu permet de voir le détail et de déposer des piéces jointes, à coté vous avez le nombre de commentaire lié à cette facture (grisé si aucun), puis le statut de la piéce, point d'exclamation = probléme signalé manuellement sur cette piéce.</p>
        <p>Les piéces jointes déposées doivent être au format pdf, jpg ou png</p>
        <p>La section en rouge reprends les piéces sur lesquels il y a eu un probléme que nous avons détecté aprés facturation, 
        des dispositions ont été prise pour régulariser la situation, voir détail avec le bouton oeil bleu.</p>
        <p>la colonne nbre Types Docs reprends le nombre de type de documents différents que nous avons pu reccuillir pour cette facture. le minimum étant fixé à 5</p>

    </div>
</div>
                
<div class="row">
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header d-flex justify-content-between">
            {% if app.request.attributes.get('_route')  == 'app_fsc_attached_file_ok' %}
                <h2 class="card-title">Liste des piéces fournisseurs qui sont suffisaments alimentées avec des piéces jointes</h2>
            {% elseif app.request.attributes.get('_route')  == 'app_fsc_attached_file' %}
                <h2 class="card-title">Liste des piéces fournisseurs sur lesquelles il faut ajouter des piéces jointes</h2>
            {% endif %}
                <div class='ml-auto'>
                    {% if app.request.attributes.get('_route')  == 'app_fsc_attached_file_ok' %}
                    <a title = 'Piéces à alimentées avec des piéces jointes!' href="{{ path('app_fsc_attached_file') }}" class="btn btn-warning text-dark"><i class="fas fa-thumbs-down pr-2"></i>Voir les piéces à traitrer</a>
                    {% else %}
                    <a title = 'Metre à jour les données' href="{{ path('app_fsc_order_list_maj') }}" class="btn btn-primary "><i class="fas fa-redo-alt pr-2"></i>Mettre à jour</a>
                    <a title = 'Piéces alimentées, beau travail !' href="{{ path('app_fsc_attached_file_ok') }}" class="btn btn-success"><i class="fas fa-thumbs-up pr-2"></i>Voir les piéces traitées</a>
                    {% endif %}
                    
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                    {% if pieces %}
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center"><span>Tiers</span></th>
                            <th class="text-center"><span>Notre Ref</span></th>
                            <th class="text-center" title='2 = commande, 3 = Bl, 4 = Facture'><span>Type Pièce</span></th>
                            <th class="text-center"><span>Numéro Cmd</span></th>
                            <th class="text-center"><span>Date Commande</span></th>
                            <th class="text-center"><span>Numéro BL</span></th>
                            <th class="text-center"><span>Date BL</span></th>
                            <th class="text-center"><span>Numéro Facture</span></th>
                            <th class="text-center"><span>Date Facture</span></th>
                            <th class="text-center"><span>Dernier Mail</span></th>
                            <th class="text-center"><span>derniére demande</span></th>
                            <th class="text-center"><span>Assigné à</span></th>
                            <th class="text-center"><span>Nbre Types Docs</span></th>
                            <th class="text-center"><span>Type FSC</span></th>
                            <th class="text-center"><span>Actions</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        {% for piece in pieces %}
                            <tr>
                                <td class="text-center">
                                    <a class="text-dark">{{ piece.tiers }}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piece.notreRef }}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark" title='2 = commande, 3 = Bl, 4 = Facture'>{{ piece.codePiece}}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piece.numCmd}}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piece.datecmd|date("Y/m/d") }}</a>
                                </td>
                                <td class="text-center">
                                {% if piece.numBl > 0 %}
                                    <a class="text-dark">{{ piece.numBl}}</a>
                                {% endif %}
                                </td>
                                <td class="text-center">
                                {% if piece.numBl > 0 %}
                                    <a class="text-dark">{{ piece.dateBl|date("Y/m/d") }}</a>
                                {% endif %}
                                </td>
                                <td class="text-center">
                                {% if piece.numFact > 0 %}
                                    <a class="text-dark">{{ piece.numFact}}</a>
                                {% endif %}
                                </td>
                                <td class="text-center">
                                {% if piece.numFact > 0 %}
                                    <a class="text-dark">{{ piece.dateFact|date("Y/m/d") }}</a>
                                {% endif %}
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piece.updatedAt|date("d/m/Y H:i") }}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piece.createdAt|time_diff(piece.updatedAt) }}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piece.utilisateur }}</a>
                                </td>
                                <td class="text-center">
                                {% set count = 0 %}
                                {% for typePiece in typePieces %}
                                    {% if piece.id == typePiece.idMov %}
                                        {% set count = count + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {% if count > 4 %}
                                    {% set val = 'text-success' %}
                                {% else %}
                                    {% set val = 'text-danger' %}
                                {% endif %}
                                
                                    <a class="font-weight-bold {{ val }} ">{{ count }}</a>
                                </td>
                                <td class="text-center">
                                {% if piece.perimetreBois == 'Non Renseigné' and piece.numFact %}
                                    <strong class="text-danger">{{ piece.perimetreBois }}</strong>
                                {% else %}
                                    <a class="text-dark">{{ piece.perimetreBois }}</a>        
                                {% endif %}
                                </td>
                                {% if piece.codePiece == 4 %}
                                {% set p = piece.numFact %}
                                {% elseif piece.codePiece == 3 %}
                                {% set p = piece.numBl %}    
                                {% elseif piece.codePiece == 2 %}
                                {% set p = piece.numCmd %}   
                                {% endif %}
                                
                                <td class="text-center">
                                    <a href='{{path('app_fsc_show', {'num' : p, 'type' : piece.codePiece, 'tiers' : piece.tiers } ) }}' class="text-light btn btn-xl btn-info"><i class="fas fa-eye"></i></a>
                                    {% set Nombre = 0 %}
                                    {% for comment in comments %}
                                        {% if comment.identifiant == piece.id %}
                                        {% set Nombre = Nombre + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if Nombre > 0 %}
                                        <a class="text-primary pl-2">
                                            <span class='mr-2'>{{ Nombre }}</span><i title="Il y a des commentaires sur cette piéce" class="fas fa-comments"></i>
                                        </a>
                                    {% else %}
                                        <a class="pl-2 text-secondary">
                                            <i title='Pas de commentaires' class="fas fa-comment-slash"></i>
                                        </a>
                                    {% endif %}

                                    {% if piece.Probleme == 0 %}
                                    <i title="Pas de probléme signalé sur cette piéce" class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i title="Probléme signalé sur cette piéce" class="fas fa-exclamation-circle text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-center"><span>Tiers</span></th>
                            <th class="text-center"><span>Notre Ref</span></th>
                            <th class="text-center" title='2 = commande, 3 = Bl, 4 = Facture'><span>Type Pièce</span></th>
                            <th class="text-center"><span>Numéro Cmd</span></th>
                            <th class="text-center"><span>Date Commande</span></th>
                            <th class="text-center"><span>Numéro BL</span></th>
                            <th class="text-center"><span>Date BL</span></th>
                            <th class="text-center"><span>Numéro Facture</span></th>
                            <th class="text-center"><span>Date Facture</span></th>
                            <th class="text-center"><span>Dernier Mail</span></th>
                            <th class="text-center"><span>derniére demande</span></th>
                            <th class="text-center"><span>Assigné à</span></th>
                            <th class="text-center"><span>Nbre Types Docs</span></th>
                            <th class="text-center"><span>Type FSC</span></th>
                            <th class="text-center"><span>Actions</span></th>
                        </tr>
                        </tr>
                    </tfoot>
                </table>
                        {% else %}
                                <h4 class="text-left text-dark"><i class="fas fa-info-circle pr-2 text-primary"></i>Aucunes pieces à traiter actuellement, Félicitation !</h4>
                    {% endif %}
            </div>
        </div>
    </div>
</div>



{% if app.request.attributes.get('_route')  == 'app_fsc_attached_file' %}
<div class="row">
    <div class="col-md-12">
        <div class="card collapsed-card card-danger">
            <div class="card-header">
                <h2 class="card-title">Liste des factures fournisseurs bloquées faute de document</h2>
                <div class="card-tools">
                    <span title="Nombre de piéce vérrouillée manuellement" class="badge badge-secondary">{{ piecesBloquees|length }}</span>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                    {% if piecesBloquees %}
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center"><span>Tiers</span></th>
                            <th class="text-center"><span>Notre Ref</span></th>
                            <th class="text-center" title='2 = commande, 3 = Bl, 4 = Facture'><span>Type Pièce</span></th>
                            <th class="text-center"><span>Numéro Cmd</span></th>
                            <th class="text-center"><span>Date Commande</span></th>
                            <th class="text-center"><span>Numéro BL</span></th>
                            <th class="text-center"><span>Date BL</span></th>
                            <th class="text-center"><span>Numéro Facture</span></th>
                            <th class="text-center"><span>Date Facture</span></th>
                            <th class="text-center"><span>Dernier Mail</span></th>
                            <th class="text-center"><span>derniére demande</span></th>
                            <th class="text-center"><span>Assigné à</span></th>
                            <th class="text-center"><span>Nbre de Fichiers</span></th>
                            <th class="text-center"><span>Type FSC</span></th>
                            <th class="text-center"><span>Actions</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        {% for piecesBloquee in piecesBloquees %}
                            <tr>
                                <td class="text-center">
                                    <a class="text-dark">{{ piecesBloquee.tiers }}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piecesBloquee.notreRef }}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark" title='2 = commande, 3 = Bl, 4 = Facture'>{{ piecesBloquee.codePiece}}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piecesBloquee.numCmd}}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piecesBloquee.datecmd|date("d/m/Y") }}</a>
                                </td>
                                <td class="text-center">
                                {% if piecesBloquee.numBl > 0 %}
                                    <a class="text-dark">{{ piecesBloquee.numBl}}</a>
                                {% endif %}
                                </td>
                                <td class="text-center">
                                {% if piecesBloquee.numBl > 0 %}
                                    <a class="text-dark">{{ piecesBloquee.dateBl|date("d/m/Y") }}</a>
                                {% endif %}
                                </td>
                                <td class="text-center">
                                {% if piecesBloquee.numFact > 0 %}
                                    <a class="text-dark">{{ piecesBloquee.numFact}}</a>
                                {% endif %}
                                </td>
                                <td class="text-center">
                                {% if piecesBloquee.numFact > 0 %}
                                    <a class="text-dark">{{ piecesBloquee.dateFact|date("d/m/Y") }}</a>
                                {% endif %}
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piecesBloquee.updatedAt|date("d/m/Y H:i") }}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piecesBloquee.createdAt|time_diff(piecesBloquee.updatedAt) }}</a>
                                </td>
                                <td class="text-center">
                                    <a class="text-dark">{{ piecesBloquee.utilisateur }}</a>
                                </td>
                                <td class="text-center">
                                {% if piecesBloquee.file|length > 4 %}
                                    {% set val = 'text-success' %}
                                {% else %}
                                    {% set val = 'text-danger' %}
                                {% endif %}
                                
                                    <a class="font-weight-bold {{ val }} ">{{ piecesBloquee.file|length }}</a>
                                </td>
                                <td class="text-center">
                                {% if piecesBloquee.perimetreBois == 'Non Renseigné' and piecesBloquee.numFact %}
                                    <strong class="text-danger">{{ piecesBloquee.perimetreBois }}</strong>
                                {% else %}
                                    <a class="text-dark">{{ piecesBloquee.perimetreBois }}</a>        
                                {% endif %}
                                </td>
                                {% if piecesBloquee.codePiece == 4 %}
                                {% set p = piecesBloquee.numFact %}
                                {% elseif piecesBloquee.codePiece == 3 %}
                                {% set p = piecesBloquee.numBl %}    
                                {% elseif piecesBloquee.codePiece == 2 %}
                                {% set p = piecesBloquee.numCmd %}   
                                {% endif %}
                                
                                <td class="text-center">
                                    <a href='{{path('app_fsc_show', {'num' : p, 'type' : piecesBloquee.codePiece, 'tiers' : piecesBloquee.tiers } ) }}' class="text-light btn btn-xl btn-info"><i class="fas fa-eye"></i></a>
                                    {% set Nombre = 0 %}
                                    {% for comment in comments %}
                                        {% if comment.identifiant == piecesBloquee.id %}
                                        {% set Nombre = Nombre + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if Nombre > 0 %}
                                        <a class="text-primary pl-2">
                                            <span class='mr-2'>{{ Nombre }}</span><i class="fas fa-comments"></i>
                                        </a>
                                    {% else %}
                                        <a title='Pas de commentaires' class="pl-2 text-secondary">
                                            <i class="fas fa-comment-slash"></i>
                                        </a>
                                    {% endif %}

                                    {% if piecesBloquee.Probleme == 0 %}
                                    <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                    <i class="fas fa-exclamation-circle text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-center"><span>Tiers</span></th>
                            <th class="text-center"><span>Notre Ref</span></th>
                            <th class="text-center" title='2 = commande, 3 = Bl, 4 = Facture'><span>Type Pièce</span></th>
                            <th class="text-center"><span>Numéro Cmd</span></th>
                            <th class="text-center"><span>Date Commande</span></th>
                            <th class="text-center"><span>Numéro BL</span></th>
                            <th class="text-center"><span>Date BL</span></th>
                            <th class="text-center"><span>Numéro Facture</span></th>
                            <th class="text-center"><span>Date Facture</span></th>
                            <th class="text-center"><span>Dernier Mail</span></th>
                            <th class="text-center"><span>derniére demande</span></th>
                            <th class="text-center"><span>Assigné à</span></th>
                            <th class="text-center"><span>Nbre de Fichiers</span></th>
                            <th class="text-center"><span>Type FSC</span></th>
                            <th class="text-center"><span>Actions</span></th>
                        </tr>
                        </tr>
                    </tfoot>
                </table>
                        {% else %}
                                <h4 class="text-left text-dark"><i class="fas fa-info-circle pr-2 text-primary"></i>Aucunes pieces bloquées actuellement, Félicitation !</h4>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}


