{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<div class="card collapsed-card card-warning">
    <div class="card-header">
        <h3 class="card-title"><i class="icon fas fa-exclamation-triangle"></i> Avertissement</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    Les Statistiques par mois sont éditées le 20 du mois suivant la statistique. </br>
    Exemple: les Statistiques du mois de janvier 2021 sont extraites le 20 février 2021. </br>
    Les Statistiques ne respectant pas cette condition ne reprendront généralement pas toutes les factures ! </br>
    Les différences qui peuvent apparaitres dans le temps sur le CA peuvent s'expliquer par le changement de commercial assigné a un client ou par le changement de secteur d'un article. </br>
    L'extraction des states a été tester avec un échantillon de 13 factures contenant des remises sur 2 ans. </br>
    Par souci de lisibilité, les pourcentages sont affichés avec 2 chiffres après la virgule, cela peut générer de petit écart lors de calculs manuel.</br>
    Si vous détectez des incohérences, merci d'en faire part au service informatique.
    </div>
    <!-- /.card-footer-->
</div>


<div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header d-flex justify-content-between ">
                        <h3 class="card-title text-center">States Lhermitte   
                        {% if state %}
                            {{ mois }} - {{ annee -1}}/{{ annee}}
                        {% endif %}
                        </h3>
                        {{ form_start(monthYear, { 'attr' : { 'class' : 'ml-auto' }} ) }}
                        <div class='d-flex'>
                            <div class="p-1 mt-2">
                                Selectionnez les dates : 
                            </div>
                            <div class="p-1">
                                {{ form_row(monthYear.month) }}
                            </div>
                            <div class="p-1">
                                {{ form_row(monthYear.year) }}
                            </div>
                            <div class="p-1">
                                {{ form_row(monthYear.filtrer, { 'attr' : { 'class' : 'btn btn-xl btn-secondary' }} ) }}
                            </div>
                        </div>
                    {{ form_end(monthYear)}}
                    </div>
                    {% if state %}

                     <div class="row">
             
             {% for commercial in state.commercial %}
            <div class="card-body col-lg-3 col-6 pt-2">
                <div class="callout callout-{{ themeColor }}">
                  
              <!-- /.col -->
                  <div class="">
                        <div class="mr-auto border-bottom"><h5>{{ commercial.nom }}</h5></div>
                    <div class="text-right">
                        <span class="description-percentage text-{{ commercial.colorMontant }}"><i class="fas fa-caret-{{ commercial.flecheMontant }} pr-1"></i>{{commercial.deltaMontant|number_format(2) }} %</span>
                    </div>
                    <div class="border-bottom pt-1">
                        <div class="progress-group">
                        CA {{ annee -1 }}
                        <span class="float-right"><b>{{commercial.montantN1|number_format(2)}} €</b>/ {{state.secteur.montantN1|number_format(2)}} </span>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-primary" style="width: {{commercial.deltaTotalN1}}%"></div>
                        </div>
                        </div>
                        <!-- /.progress-group -->

                        <div class="progress-group">
                        CA {{ annee }}
                        <span class="float-right"><b>{{commercial.montantN|number_format(2)}} €</b>/ {{state.secteur.montantN|number_format(2)}} </span>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-danger" style="width: {{commercial.deltaTotalN}}%"></div>
                        </div>
                        </div>
                    </div>
                    <div class="text-right pt-1">
                        <span class="description-percentage text-{{ commercial.colorClient }}"><i class="fas fa-caret-{{ commercial.flecheClient }} pr-1"></i>{{commercial.deltaClient|number_format(2) }} %</span>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Nbe Clients {{ annee -1 }}</span>
                      <span class="float-right"><b>{{commercial.clientN1 }}</b>/ {{ state.count.client.anneeN1 }} </span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-success" style="width: {{ commercial.deltaTotalClientN1}}%"></div>
                      </div>
                    </div>

                    <!-- /.progress-group -->
                    <div class="progress-group">Nbe Clients {{ annee }}
                      <span class="float-right"><b>{{ commercial.clientN }}</b>/ {{ state.count.client.anneeN }} </span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-warning" style="width: {{commercial.deltaTotalClientN}}%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->
                  </div>
                  <!-- /.col -->
                </div>
            </div>
             

          {% endfor %}
          </div>

                    


                            <!-- Info boxes -->
<div class="row">
    <div class="col-12 col-sm-6 col-md-2">

        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-fw fa-truck-loading"></i></span>

            <div class="info-box-content">
                <div class="description-block">
                    <span class="description-percentage text-{{ state.count.bl.color }}"><i class="fas fa-caret-{{ state.count.bl.fleche }}"></i>{{ state.count.bl.delta|number_format(2) }} %</span>
                    <h5 class="description-header"><strong class="text-secondary">{{ annee -1 }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.count.bl.anneeN1|number_format(2, '.', ' ') }}</h5>
                    <h5 class="description-header"><strong class="text-secondary">{{ annee }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.count.bl.anneeN|number_format(2, '.', ' ') }}</h5>
                    <span class="description-text">Nbre d'expéditions</span>
                </div>
            </div>
        <!-- /.info-box-content -->
        </div>
    <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-2">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-file-invoice-dollar"></i></span>

            <div class="info-box-content">
                <div class="description-block">
                    <span class="description-percentage text-{{ state.count.facture.color }}"><i class="fas fa-caret-{{ state.count.facture.fleche }}"></i>{{ state.count.facture.delta|number_format(2) }} %</span>
                    <h5 class="description-header"><strong class="text-secondary">{{ annee -1 }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.count.facture.anneeN1|number_format(2, '.', ' ') }}</h5>
                    <h5 class="description-header"><strong class="text-secondary">{{ annee }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.count.facture.anneeN|number_format(2, '.', ' ') }}</h5>
                    <span class="description-text">Nbre de Factures</span>
                </div>
            </div>
        <!-- /.info-box-content -->
        </div>
    <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-2">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>

                <div class="info-box-content">
                    <div class="description-block">
                        <span class="description-percentage text-{{ state.count.client.color }}"><i class="fas fa-caret-{{ state.count.client.fleche }}"></i>{{ state.count.client.delta|number_format(2) }} %</span>
                        <h5 class="description-header"><strong class="text-secondary">{{ annee -1 }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.count.client.anneeN1|number_format(2, '.', ' ') }}</h5>
                        <h5 class="description-header"><strong class="text-secondary">{{ annee }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.count.client.anneeN|number_format(2, '.', ' ') }}</h5>
                        <span class="description-text">Nbre de clients</span>
                    </div>
                </div>
            <!-- /.info-box-content -->
            </div>
        <!-- /.info-box -->
        </div>
          <div class="col-12 col-sm-6 col-md-2">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-warehouse"></i></span>
                <div class="info-box-content">
                    <div class="description-block">
                        <span class="description-percentage text-{{ state.depot.color }}"><i class="fas fa-caret-{{ state.depot.fleche }}"></i>{{ state.depot.delta|number_format(2) }} %</span>
                        <h5 class="description-header"><strong class="text-secondary">{{ annee -1 }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.depot.montantN1|number_format(2, '.', ' ') }} €</h5>
                        <h5 class="description-header"><strong class="text-secondary">{{ annee }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.depot.montantN|number_format(2, '.', ' ') }} €</h5>
                        <span class="description-text">CA Dépôt</span>
                    </div>
                </div>
            <!-- /.info-box-content -->
            </div>
        <!-- /.info-box -->
        </div>
          <div class="col-12 col-sm-6 col-md-2">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-purple elevation-1"><i class="fas fa-route"></i></span>

                <div class="info-box-content">
                    <div class="description-block">
                        <span class="description-percentage text-{{ state.direct.color }}"><i class="fas fa-caret-{{ state.direct.fleche }}"></i> {{ state.direct.delta|number_format(2) }} %</span>
                        <h5 class="description-header"><strong class="text-secondary">{{ annee -1 }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.direct.montantN1|number_format(2, '.', ' ') }} €</h5>
                        <h5 class="description-header"><strong class="text-secondary">{{ annee }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.direct.montantN|number_format(2, '.', ' ') }} €</h5>
                        <span class="description-text">CA Direct</span>
                    </div>
                </div>
            <!-- /.info-box-content -->
            </div>
        <!-- /.info-box -->
        </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-2">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-euro-sign"></i></span>

            <div class="info-box-content">
                <div class="description-block">
                    <span class="description-percentage text-{{ state.secteur.color }}"><i class="fas fa-caret-{{ state.secteur.fleche }}"></i> {{ state.secteur.delta|number_format(2) }} %</span>
                    <h5 class="description-header"><strong class="text-secondary">{{ annee -1 }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.secteur.montantN1|number_format(2, '.', ' ') }} €</h5>
                    <h5 class="description-header"><strong class="text-secondary">{{ annee }}<i class="fas fa-caret-right pr-2 pl-2"></i></strong>{{ state.secteur.montantN|number_format(2, '.', ' ') }} €</h5>
                    <span class="description-text">CA Total</span>
                </div>
            </div>
        <!-- /.info-box-content -->
        </div>
    <!-- /.info-box -->
    
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
                    

                    {% endif %}

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>Commercial</span></th>
                                    <th class="text-center"><span>Tiers</span></th>
                                    <th class="text-center"><span>Nom</span></th>
                                    {% if annee %}
                                    <th class="text-center"><span>{{ mois }} - {{ annee -1 }}</span></th>
                                    {% else %}
                                    <th class="text-center"><span>Année N-1</span></th>  
                                    {% endif %}

                                    <th class="text-center"><span>Delta %</span></th>

                                    {% if annee %}
                                    <th class="text-center"><span>{{ mois }} - {{ annee }}</span></th>
                                    {% else %}
                                    <th class="text-center"><span>Annee Selectionnée</span></th>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <th class="text-center"><span>Détails</span></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
							
                                {% for client in clients %}
                                    <tr id="<?= $id ?>">
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ client.commercial}}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ client.tiers }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ client.nom }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ client.montantN1|number_format(2) }} €</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center description-percentage text-{{ client.color }}"><i class="fas fa-caret-{{ client.fleche }}"></i>{{ client.delta|number_format(2) }} %</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ client.montantN|number_format(2) }} €</a>
                                        </td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <td class="text-center">
                                            <a href="{{path('app_states_lhermitte_ev_par_article', {'tiers' : 'C0052900', 'annee' : annee , 'mois' : mois } ) }}" class="text-center btn btn-xl btn-info text-white"><i class="far fa-eye"></i></a>
                                        </td>
                                       {% endif %}
                                    </tr>
                                {% endfor %}

                            </tbody>
                            <tfoot>
                                <tr>
                                   <th class="text-center"><span>Commercial</span></th>
                                    <th class="text-center"><span>Tiers</span></th>
                                    <th class="text-center"><span>Nom</span></th>
                                    <th class="text-center"><span>N - 1</span></th>
                                    <th class="text-center"><span>Delta %</span></th>
                                    <th class="text-center"><span>Annee Selectionnée</span></th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <th class="text-center"><span>Détails</span></th>
                                    {% endif %}
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
