{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header d-flex justify-content-between ">
                        <h3 class="card-title text-center">Détail des ventes du client {{ statesClientParArticle[0].Nom }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>Mois</span></th>
                                    <th class="text-center"><span>Famille Produit</span></th>
                                    <th class="text-center"><span>Ref</span></th>
                                    <th class="text-center"><span>Désignation</span></th>
                                    <th class="text-center"><span>Sref1</span></th>
                                    <th class="text-center"><span>Sref2</span></th>
                                    <th class="text-center"><span>U.V</span></th>
                                    <th class="text-center"><span>Qte N - 1</span></th>
                                    <th class="text-center"><span>N - 1</span></th>  
                                    <th class="text-center"><span>Delta %</span></th>
                                    <th class="text-center"><span>Delta €</span></th>
                                    <th class="text-center"><span>Qte N</span></th>
                                    <th class="text-center"><span>N</span></th>
                                </tr>
                            </thead>
                            <tbody>
							
                                {% for state in statesClientParArticle %}
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.Mois}}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.FamArticle}}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.Ref}}</a>
                                        </td>
                                        <td class="text-left">
                                            <a class="text-dark">{{ state.Designation }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.Sref1 }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.Sref2 }}</a>
                                        </td>
                                         <td class="text-center">
                                            <a class="text-dark">{{ state.Uv }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.QteTotalN1|number_format(2) }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.CATotalN1 }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="description-percentage text-{{ state.Color }}"><i class="fas fa-caret-{{ state.Fleche }}"></i>{{ state.Delta|number_format(2) }} %</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="description-percentage text-{{ state.Color }}">{{ state.Mont }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.QteTotalN|number_format(2) }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.CATotalN }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center"><span>Mois</span></th>
                                    <th class="text-center"><span>Famille Produit</span></th>
                                    <th class="text-center"><span>Ref</span></th>
                                    <th class="text-center"><span>Désignation</span></th>
                                    <th class="text-center"><span>Sref1</span></th>
                                    <th class="text-center"><span>Sref2</span></th>
                                    <th class="text-center"><span>U.V</span></th>
                                    <th class="text-center"><span>Qte N - 1</span></th>
                                    <th class="text-center"><span>N - 1</span></th>  
                                    <th class="text-center"><span>Delta %</span></th>
                                    <th class="text-center"><span>Delta €</span></th>
                                    <th class="text-center"><span>Qte N</span></th>
                                    <th class="text-center"><span>N</span></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
