{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title text-center">Annuaire des sociétés</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>interne</span></th>
                                    <th class="text-center"><span>Nom</span></th>
                                    <th class="text-center"><span>Extérieur</span></th>
                                    <th class="text-center"><span>mail</span></th>
                                    <th class="text-center"><span>Fonction</span></th>
                                    <th class="text-center"><span>Société</span></th>
                                    <th class="text-center"><span>Portable</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for annuaire in annuaires %}
                                    <tr id="<?= $id ?>">
                                        <td class="text-center" id="{{ annuaire.id }}">
                                            <a class="text-center" style="max-width: 40px;">{{annuaire.interne}}</a>
                                        </td>
                                        <td class="text-center" id="{{ annuaire.id }}">
                                            <a class="text-center">{{annuaire.nom}}</a>
                                        </td>
                                        <td class="text-center" id="{{ annuaire.id }}">
                                            <a class="text-center">{{ annuaire.exterieur}}</a>
                                        </td>
                                        <td class="text-center" id="{{ annuaire.id }}">
                                            <a class="text-center">{{annuaire.mail}}</a>
                                        </td>
                                        <td class="text-center" id="{{ annuaire.id }}">
                                            <a class="text-center">{{annuaire.fonction}}</a>
                                        </td>
                                        <td class="text-center" id="{{ annuaire.id }}">
                                            <a class="text-center">{{ annuaire.societe.nom }}</a>
                                        </td>
                                        <td class="text-center" id="{{ annuaire.id }}">
                                            <a class="text-center">{{annuaire.portable}}</a>
                                        </td>
                                    {% endfor %}
                                    </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center"><span>interne</span></th>
                                    <th class="text-center"><span>Nom</span></th>
                                    <th class="text-center"><span>Extérieur</span></th>
                                    <th class="text-center"><span>mail</span></th>
                                    <th class="text-center"><span>Fonction</span></th>
                                    <th class="text-center"><span>Société</span></th>
                                    <th class="text-center"><span>Portable</span></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
