{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<!-- general form elements disabled -->
	<div class="card card-navy">
		<div class="card-header">
			<h3 class="card-title">Retrait / Retour</h3>
			<div class="card-tools">
				<a href='{{path('app_affaire_me_nok' ) }}' class="badge badge-primary">
					<i class="fas fa-share mr-1"></i>
					Affaires
				</a>
				<a href="{{ path('app_mouv_tiers_ns') }}" class="badge badge-danger ml-auto">Retrait non soumis</a>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			{% include 'components/product_card.html.twig' %}
			{% include 'components/product_card_light.html.twig' %}
			{% include 'components/modal_scanner.html.twig' %}
			{% include 'components/modal_products.html.twig' %}
			{{ form_start(form, { 'attr' : { 'class' : 'ml-auto' }}
			) }}
			<div class="form-group">
				{{ form_widget(form.chantier, {'id': 'chantier' ,'attr' : { 'value' : chantier} }) }}
				{{ form_errors(form.chantier) }}
				<span id="resultatTiers"></span>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<button id="btn-ean" class="btn btn-warning" type="button" data-toggle="modal" data-target="#scannerModal" data-target-id="ean">
							<i class="fa-solid fa-camera"></i>
						</button>
					</div>
					{{ form_widget(form.ean, { 'id': 'ean', 'name':"ean" , 'attr' : { 'class' : 'form-control col-12 is-warning' } }) }}
					<div class="input-group-append">
						<button class="btn btn-secondary" type="button" id="openProductsModal">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</div>
				</div>
				<div class="form-check form-check-lg mt-2">
					<input class="form-check-input" type="checkbox" id="openProductsCheckbox" checked>
					<label class="form-check-label" for="openProductsCheckbox">
						Uniquement les articles ouverts
					</label>
				</div>
				<div class="form-check form-check-lg mt-2">
					<input class="form-check-input" type="checkbox" id="openProductsStockCheckbox" checked>
					<label class="form-check-label" for="openProductsStockCheckbox">
						Uniquement les articles en stock
					</label>
				</div>
			</div>
			{{ form_errors(form.ean) }}
			<div id="panier" class="d-none">
				<div class="row">
					<div class="col-md-6 col-6">
						<div id="stockFaux" class="custom-control custom-switch h5">
							{{ form_widget(form.stockFaux) }}
							{{ form_label(form.stockFaux) }}
						</div>
					</div>
					<div class="col-md-6 col-6">
						<div id="rr" class="custom-control custom-switch h5">
							{{ form_widget(form.retour) }}
							{{ form_label(form.retour) }}
						</div>
					</div>
				</div>
				<div class="form-group mt-2">
					<label class="col-form-label" for="location">
						<i class="fa-solid fa-location-dot"></i>
						{{ form_label(form.location) }}
					</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<button id="btn-emplacement" class="btn btn-warning" type="button" data-toggle="modal" data-target="#scannerModal" data-target-id="retrait_marchandise_ean_location">
								<i class="fa-solid fa-camera"></i>
							</button>
						</div>
						{{ form_widget(form.location, {'attr': {'disabled': true}}) }}
					</div>
					<small>Retirer ou retourner le stock sur cet emplacement</small>
					{{ form_errors(form.location) }}
				</div>

				<div class="form-group d-flex justify-content-between align-items-center">
					{{ form_widget(form.qte, {'id': 'qte', 'type': 'number', 'attr': {'class': 'form-control col-4', 'step': '0.001', 'min': '0'}}) }}
					{{ form_errors(form.qte) }}
					{{ form_widget(form.save, {'attr': {'class': 'form-control btn btn-xl btn-warning col-7'}}) }}
				</div>
			</div>
			{{ form_end(form)}}

		</div>
	</div>

	{% if paniers %}
		<div class="card card-dark mt-4">
			<div class="card-header">
				<h3 class="card-title">Votre panier</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body p-0">
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Produit</th>
							<th>qte</th>
							<th style="width: 40px">X</th>
						</tr>
					</thead>
					<tbody>
						{% for panier in paniers %}
							<tr>
								{% set col = 'text-dark' %}
								{% set retour = '' %}
								{% if panier.qte < 0 %}
									{% set col = 'text-danger' %}
									{% set retour = '( Retour )' %}
								{% endif %}

								<td class="{{ col }}">{{ panier.designation }}
									{{ retour }}</td>
								<td class="align-middle {{ col }}">{{ panier.qte }}</td>
								<td class="text-align align-middle">
									<a data-toggle="modal" data-target={{"#modal-sm#{panier.id}"}} class="{{ col }}">
										<i class="fa-solid fa-trash-can fa-bounce"></i>
									</a>
									<div class="modal fade" id={{"modal-sm#{panier.id}"}}>
										<div class="modal-dialog modal-sm">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Voulez vous vraiment supprimer cette ligne ?</h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="card-footer p-0">
													<ul class="nav flex-column">
														<li class="nav-item">
															<small class="nav-link">
																Id :
																<span class="float-right">{{ panier.id }}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Ean :
																<span class="float-right">{{ panier.ean }}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Référence :
																<span class="float-right">{{panier.ref}}</span>
															</small>
														</li>
														{% if panier.sref1 %}
															<li class="nav-item">
																<small class="nav-link">
																	Sref1 :
																	<span class="float-right">{{panier.sref1}}</span>
																</small>
															</li>
														{% endif %}
														{% if panier.sref2 %}
															<li class="nav-item">
																<small class="nav-link">
																	Sref2 :
																	<span class="float-right">{{panier.sref2}}</span>
																</small>
															</li>
														{% endif %}
														<li class="nav-item">
															<small class="nav-link">
																Désignation :
																<span class="float-right">{{panier.designation}}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Unité de vente :
																<span class="float-right">{{panier.uv}}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																{% if panier.qte >= 0 %}
																	Quantité sortie de marchandise :
																{% else %}
																	Quantité retour de marchandise :
																{% endif %}
																<span class="float-right">{{ panier.qte|abs }}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Emplacement :
																<span class="float-right">{{panier.location}}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Stock Faux ? :
																<span class="float-right">
																	{% if panier.stockFaux == 1 %}
																		Oui
																	{% else %}
																		Non
																	{% endif %}
																</span>
															</small>
														</li>
													</ul>
												</div>
												<div class="modal-footer justify-content-between">
													<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
													<a href="{{path('app_mouv_tiers-delete', {'id' : panier.id, 'chantier' : app.request.attributes.get('chantier') })}}" type="button" class="btn btn-danger">
														<i class="fa-solid fa-thumbs-down mr-2"></i>Supprimer cette ligne</a>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% if paniers %}
					<a data-toggle="modal" data-target="#modal-sm-cloture" class="btn btn-success text-center col-12 mt-3 mb-3">
						<i class="fa-solid fa-thumbs-up mr-2"></i>Soumettre ce panier</a>
					<div class="modal fade" id="modal-sm-cloture">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Voulez vous vraiment soumettre ce panier ?</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<form action="{{path('app_mouv_tiers-send', {'chantier' : app.request.attributes.get('chantier') })}}" method="POST">
									<div class="modal-body form-group">
										<label>Commentaires
											<small>
												<i>(facultatif)</i>
											</small>
										</label>
										<textarea type="text" name="ta" class="form-control" rows="10" placeholder="Vous pouvez ajouter un commentaire, des produits qui n'avaient pas de code barre, etc ..."></textarea>
									</div>
									<div class="modal-footer justify-content-between">
										<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
										<button class="btn btn-success" type="submit">
											<i class="fa-solid fa-thumbs-up mr-2"></i>Soumettre ce panier
										</button>
										<small>Cette action est irréverssible et va générer des fichiers qui auront un impact sur le stock ! en cas d'erreur aprés soumission, veuillez contacter votre responsable.</small>
									</div>
								</form>
							</div>
						</div>
					</div>

					<a data-toggle="modal" data-target="#modal-sm-supprimer" class="text-white btn btn-danger col-12">
						<i class="fa-solid fa-thumbs-down mr-2"></i>Supprimer ce panier définitivement</a>
					<div class="modal fade" id="modal-sm-supprimer">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Voulez vous vraiment supprimer intégralement et définitivement ce panier
										{{app.request.attributes.get('chantier')}}
										?</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-footer justify-content-between">
									<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
									<a href="{{path('app_mouv_tiers_delete_all', {'chantier' : app.request.attributes.get('chantier') })}}" type="button" class="btn btn-danger">
										<i class="fa-solid fa-thumbs-down mr-2"></i>Supprimer</a>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
				{% endif %}
			</div>
		</div>

	{% endif %}


{% endblock %}
{% block javascripts %}
	{{ parent() }}

	<script src="https://unpkg.com/html5-qrcode"></script>
	<script src="{{ asset("js/html5-qrcode.min.js")}}"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>{{ eanScannerScript | raw }}</script>
	<script>{{ productFormScript | raw }}</script>
	<script>

		function handleLocationChange() {
var selectedOption = $('#retrait_marchandise_ean_location').find(':selected');
var qteInput = $('#qte');
var scanEmpl = $('#btn-emplacement');
var qteEmplacement = parseFloat(selectedOption.data('qte'));

if (!isNaN(qteEmplacement)) {
qteInput.removeClass('disabled');
qteInput.val("");
qteInput.attr('max', qteEmplacement);
} else {
qteInput.val("");
qteInput.addClass('disabled');
qteInput.removeAttr('max'); // Retirer l'attribut max
}
}

function alimSource(stockData) { // Cloner le contenu de #retrait_marchandise_ean_location avant de le vider
var cloneOptions = $('#retrait_marchandise_ean_location').children().clone();
// Stockez le champ de localisation initial
var originalLocationField = $('#retrait_marchandise_ean_location').clone();

// Supprimer toutes les options actuelles du champ location
$('#retrait_marchandise_ean_retour').prop('checked', false);
$('#retrait_marchandise_ean_location').empty();
$('#retrait_marchandise_ean_location').prop('disabled', true);
var qteInput = $('#qte');
var scanEmpl = $('#btn-emplacement');
qteInput.val("");
qteInput.addClass('disabled');
scanEmpl.addClass('disabled');

// Ajouter d'autres options en fonction de vos résultats (emplacements disponibles avec quantités)
if (stockData && Array.isArray(stockData) && stockData.length > 0) { // Lors du remplissage de la liste déroulante
stockData.forEach(stockRow => { // Ajoutez une option pour chaque emplacement avec sa valeur et son texte
$('#retrait_marchandise_ean_location').append($('<option>', {
value: stockRow.empl,
text: stockRow.empl + ' - ' + stockRow.natureStock + ' - ' + stockRow.qteStock,
'data-qte': stockRow.qteStock // Stockez la quantité comme attribut de données
}));
});
// Activer les champs location et qte
$('#retrait_marchandise_ean_location').prop('disabled', false);
qteInput.removeClass('disabled');
// Déclencher manuellement l'événement "change" pour appliquer la limitation de la valeur maximale
handleLocationChange();
}

// Ajouter un gestionnaire d'événements pour le changement de la valeur du champ location
$('#retrait_marchandise_ean_location').on('change', handleLocationChange);

// Ajouter un gestionnaire d'événements pour le bouton "retour"
$('#retrait_marchandise_ean_retour').on('change', function () {
var isRetour = this.checked;
if (isRetour) { // Si le bouton "retour" est coché, désactiver le champ qte et définir l'emplacement sur "ATTENTE"
qteInput.removeClass('disabled');
scanEmpl.removeClass('disabled');
$('#retrait_marchandise_ean_location').empty();
qteInput.removeAttr('max');
// Retirer l'attribut max

// Ajouter un champ de texte pour "Saisir manuellement"
$('#retrait_marchandise_ean_location').replaceWith($('<input>', {
type: 'text',
id: 'retrait_marchandise_ean_location',
name: 'retrait_marchandise_ean[location]',
class: 'form-control col-12',
placeholder: 'Saisir manuellement'
}));

$('#retrait_marchandise_ean_location').prop('disabled', false);
// Ajouter un gestionnaire d'événements pour le champ de texte "Saisie manuelle"
$(document).on('input', '#retrait_marchandise_ean_location', function () {
var inputValue = $(this).val();
$(this).val(inputValue.toUpperCase());
});

} else { // Si le bouton "retour" est décoché, appeler la fonction handleLocationChange
$('#retrait_marchandise_ean_location').replaceWith(originalLocationField.clone());
alimSource(stockData);
}
});

// Ajouter un gestionnaire d'événements pour le bouton "stockFaux"
$('#retrait_marchandise_ean_stockFaux').on('change', function () {
var isStockFaux = this.checked;
if (isStockFaux) { // Si le bouton "retour" est coché, désactiver le champ qte et définir l'emplacement sur "ATTENTE"
qteInput.removeClass('disabled');
scanEmpl.removeClass('disabled');
$('#retrait_marchandise_ean_location').empty();
qteInput.removeAttr('max');
// Retirer l'attribut max

// Ajouter un champ de texte pour "Saisir manuellement"
$('#retrait_marchandise_ean_location').replaceWith($('<input>', {
type: 'text',
id: 'retrait_marchandise_ean_location',
name: 'retrait_marchandise_ean[location]',
class: 'form-control col-12',
placeholder: 'Saisir manuellement'
}));

$('#retrait_marchandise_ean_location').prop('disabled', false);
// Ajouter un gestionnaire d'événements pour le champ de texte "Saisie manuelle"
$(document).on('input', '#retrait_marchandise_ean_location', function () {
var inputValue = $(this).val();
$(this).val(inputValue.toUpperCase());
});

} else { // Si le bouton "retour" est décoché, appeler la fonction handleLocationChange
$('#retrait_marchandise_ean_location').replaceWith(originalLocationField.clone());
alimSource(stockData);
}
});
}
	</script>
	<script>
		$(document).ready(function () { // ou $(function () {
function updateTiers() {
let chantier = $('#chantier');
if (chantier) {
$.ajax({
url: "/mouv/tiers/ajax/" + chantier.val(),
type: "GET"
}).done(function (data) {
if (data.tiers) {
$('#resultatTiers').text('Tiers : ' + data.tiers);
$("#chantier").attr('class', 'form-control col-12 is-valid');
$("#resultatTiers").attr('class', ''); // Assurez-vous que la classe est vide pour afficher l'élément
} else {
$("#chantier").attr('class', 'form-control col-12 is-invalid');
$('#resultatTiers').text('Tiers : Aucun résultat trouvé.');
}
});
}
}

// Appeler la fonction updateTiers lors du chargement de la page
updateTiers();

// Ajouter un gestionnaire d'événements pour le changement de la sélection
$('#chantier').on('change', function () { // Appeler la fonction updateTiers à chaque changement
updateTiers();
});
});
	</script>
{% endblock %}
