{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}
{% block body %}
	<a href="{{ path('app_mouv_tiers') }}" class="text-white btn btn-success col-12">
		<i class="fa-solid fa-cart-plus mr-2"></i>Créer un nouveau panier</a>
	<div class="content-header">
		<div class="container-fluid">
			<div class="text-center">
				<h1>Paniers non soumis</h1>
			</div>
		</div>
	</div>
	{% if ns %}
		<div class="card-body">
			{% for n in ns %}
				<div class="callout callout-warning">
					<div class="d-flex justify-content-between">
						<h5>{{ n.chantier }}</h5>
						<a href="{{path('app_mouv_tiers', {'chantier' : n.chantier })}}">
							<i class="fa-solid fa-eye fa-bounce fa-2xl"></i>
						</a>
					</div>
					<i>
						<p>Saisie par
							{{ n.user }}</p>
					</i>
					<p class="text-right">
						<i>
							<small>le
								{{ n.dateCreation }}</small>
						</i>
					</p>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="card-body">
			<div class="callout callout-success">
				<div class="d-flex justify-content-between">
					<h5>Tous les paniers de marchandises ont été soumis</h5>
				</div>
				<i>
					<p>il n'y a rien à voir..</p>
				</i>
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block javascripts %}{% endblock %}
