{% extends 'base.html.twig' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block body %}
	<div class="card collapsed-card card-info">
		<div class="card-header">
			<h3 class="card-title">
				<i class="icon fas fa-info-circle"></i>
				Info</h3>
			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse">
					<i class="fas fa-minus"></i>
				</button>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body"></div>
	</div>
	{% set color = 'success' %}
	{% if piece.etat == 'En attente' %}
		{% set color = 'warning text-dark' %}
		{% set icone = "fa fa-pause" %}
	{% elseif piece.etat == 'En cours' %}
		{% set color = 'primary text-white' %}
		{% set icone = "fa fa-spinner" %}
	{% elseif piece.etat == 'A finir' %}
		{% set color = 'secondary text-white' %}
		{% set icone = "fa fa-battery-half" %}
	{% elseif piece.etat == 'Termine' %}
		{% set color = 'success text-white' %}
		{% set icone = "fa fa-check" %}
	{% elseif piece.etat == 'Litige' %}
		{% set color = 'danger text-white' %}
		{% set icone = "fa fa-exclamation" %}
	{% endif %}
	<div class="row">
		<div
			class="col-md-3">
			<!-- About Me Box -->
			<div class="card card-olive">
				<div class="card-header">
					<h3 class="card-title">à propos</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<strong>
						<i class="fas fa-book mr-1"></i>
						Piéces</strong>
					{% if piece.numCmd %}
						<p class="text-muted">Commande :
							<button class="btn btn-dark" onclick="copier(this.id)" id="{{piece.numCmd}}">{{piece.numCmd}}</button>
							en date du
							{{piece.dateCmd|date("d-m-Y")}}</p>
					{% endif %}
					{% if piece.numeroBl %}
						<p class="text-muted">Bon de livraison :
							<button id="{{piece.numeroBl}}" onclick="copier(this.id)" class="btn btn-dark">{{piece.numeroBl}}</button>
							en date du
							{{piece.dateBl|date("d-m-Y")}}</p>
					{% endif %}
					{% if piece.numeroFacture %}
						<p class="text-muted">Facture :
							<button id="{{piece.numeroFacture}}" onclick="copier(this.id)" class="btn btn-dark">{{piece.numeroFacture}}</button>
							en date du
							{{piece.dateFacture|date("d-m-Y")}}</p>
					{% endif %}
					{% if piece.affaire %}
						<p class="text-muted">Affaire :
							{{piece.affaire}}</p>
					{% endif %}
					<hr>

					<strong>
						<i class="fas fa-map-marker-alt mr-1"></i>
						Adresse</strong>
					<p class="text-muted">{{ piece.codeClient }}
						-
						{{piece.nom}}</p>
					<p class="text-muted">{{ piece.adresseLivraison }}</p>

					<hr>

					<strong>
						<i class="fa fa-truck mr-1"></i>
						Transport</strong>
					<p>
						<span class="text-muted">mode de transport :
							{{piece.modeDeTransport}}</span>
					</p>
					<p>
						<span class="text-muted">Code Op :
							{{piece.op}}</span>
					</p>

					{% if piece.delaiDemande or piece.delaiAccepte or piece.delaiReporte %}
						<hr>

						<strong>
							<i class="fa fa-calendar mr-1"></i>
							Délai :
						</strong>
						{% if piece.delaiDemande %}
							<p class="text-dark">Délai demandé :
								{{ piece.delaiDemande|date("d-m-Y")}}</p>
						{% endif %}
						{% if piece.delaiAccepte %}
							<p class="text-dark">Délai Accepté :
								{{ piece.delaiAccepte|date("d-m-Y")}}</p>
						{% endif %}
						{% if piece.delaiReporte %}
							<p class="text-dark">Délai reporté :
								{{ piece.delaiReporte|date("d-m-Y")}}</p>
						{% endif %}

					{% endif %}

				</div>
				<!-- /.card-body -->
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-orange">
				<div class="card-header">
					<h3 class="card-title text-white">Mettre à jour</h3>
				</div>
				<div class="card-body">
					{{ form_start(formMajConduiteTravaux, { attr: { 'accept-charset' : 'utf-8' }}) }}
					<strong>
						<i class="fa fa-thermometer-full mr-1"></i>
						Etat</strong>
					<p class="text-muted">Actuellement :
						<a class="btn btn-{{color}}">
							<i class="{{icone}} mr-2"></i>
							{{piece.etat}}</a>
					</p>
					{{ form_widget(formMajConduiteTravaux.etat) }}

					<hr>

					<strong>
						<i class="fa fa-calendar mr-1"></i>
						Date de chantier</strong>
					<p class="text-muted">Date début actuelle :
						{{ piece.dateDebutChantier|date("d-m-Y H:i") }}</p>
					{{ form_widget(formMajConduiteTravaux.dateDebutChantier) }}
					{{ form_errors(formMajConduiteTravaux.dateDebutChantier) }}
					<p class="text-muted">Date fin actuelle :
						{{ piece.dateFinChantier|date("d-m-Y H:i") }}</p>
					{{ form_widget(formMajConduiteTravaux.dateFinChantier) }}
					{{ form_errors(formMajConduiteTravaux.dateFinChantier) }}

					<hr>

					<div class="d-flex flex-row">
						<div class="col-5">
							<strong>
								<i class="fa fa-clock mr-1"></i>
								Durée des travaux</strong>
							<p>
								<span class="text-muted">Actuellement :
									{{piece.dureeTravaux}}</span>
							</p>
							{{ form_widget(formMajConduiteTravaux.dureeTravaux, { 'attr': {'value': piece.dureeTravaux} } ) }}
						</div>
						<div class="col-7 text-center">
							<strong>
								<i class="fa fa-paint-brush mr-1"></i>
								Couleurs actuels</strong>
							<div class="d-flex flex-row btn btn-xl" style="background-color: {{ piece.backgroundColor }}; color: {{ piece.textColor }}" ;>
								<div class="m-2">
									<p>Couleur fond</p>
									{{ form_widget(formMajConduiteTravaux.backgroundColor, { 'attr': {'value': piece.backgroundColor} } ) }}
								</div>
								<div class="m-2">
									<p>Couleur texte</p>
									{{ form_widget(formMajConduiteTravaux.textColor, { 'attr': {'value': piece.textColor} } ) }}
								</div>
							</div>
						</div>
					</div>
					{{ form_widget(formMajConduiteTravaux.modifier) }}
					{{ form_end(formMajConduiteTravaux) }}
				</div>
			</div>
		</div>

		<div
			class="col-md-3">
			<!-- About Me Box -->
			<div class="card card-navy">
				<div class="card-header">
					<h3 class="card-title">Piéces jointes et commentaires</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<div id="accordion">
						{{ form_start(formFiles, { attr: { 'accept-charset' : 'utf-8' }}) }}
						<div class="input-group">
							<div class="custom-file">

								{{ form_label(formFiles.file) }}
								{{ form_widget(formFiles.file) }}
							</div>
							<div class="input-group-append">
								{{ form_widget(formFiles.importer, {'label': "Télécharger des fichiers", 'attr' : { 'class': 'text-white btn btn-dark btn-outline-secondary mb-3' }}) }}
							</div>
						</div>
						{{ form_rest(formFiles) }}
						{{ form_errors(formFiles.file) }}
						{{ form_end(formFiles) }}
					</div>

					{% if comments %}
						<div class="card card-lightblue">
							<div class="card-header">
								<h4 class="card-title w-100">
									<a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
										Commentaires
										<span class="badge badge-info right">
											{{comments|length}}
										</span>
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="collapse show" data-parent="#accordion">
								<div class="card-body">
									{% for comment in comments %}
										{% if app.user.id == comment.user.id %}
											<div class="direct-chat-msg right">
												<div class="direct-chat-infos clearfix">
													<span class="direct-chat-name float-right">{{ comment.user.pseudo }}</span>
													<span class="direct-chat-timestamp float-left">{{ comment.createdAt|date("d/m/Y H:i")}}</span>
													<a class="text-danger" data-toggle="modal" data-target="#modal-comment-{{comment.id}}">
														<i class="fa fa-times ml-2" aria-hidden="true"></i>
													</a>
												</div>
												<!-- /.direct-chat-infos -->
												<img
												class="direct-chat-img" src="{{ asset(asset('img/profile/' ~ comment.user.img))}}" alt="message user image">
												<!-- /.direct-chat-img -->
												<div class="direct-chat-text">
													{{ comment.content|raw }}
												</div>
												<!-- /.direct-chat-text -->
											</div>
										{% else %}
											<div class="direct-chat-msg">
												<div class="direct-chat-infos clearfix">
													<span class="direct-chat-name float-left">{{ comment.user.pseudo }}</span>
													<span class="direct-chat-timestamp float-right">{{ comment.createdAt|date("d/m/Y H:i")}}</span>
													<a class="text-danger" data-toggle="modal" data-target="#modal-comment-{{comment.id}}">
														<i class="fa fa-times ml-2" aria-hidden="true"></i>
													</a>
												</div>
												<!-- /.direct-chat-infos -->
												<img
												class="direct-chat-img" src="{{ asset(asset('img/profile/' ~ comment.user.img))}}" alt="message user image">
												<!-- /.direct-chat-img -->
												<div class="direct-chat-text">
													{{ comment.content|raw }}
												</div>
												<!-- /.direct-chat-text -->
											</div>
											<!-- /.direct-chat-msg -->
										{% endif %}
										<div class="modal fade" id="modal-comment-{{comment.id}}">
											<div class="modal-dialog">
												<div class="modal-content bg-danger">
													<div class="modal-header">
														<h4 class="modal-title">Suppression d'un commentaire !</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<p>Etes vous sûr de vouloir supprimer ce commentaire
															{{ comment.content}}
															?</p>
														<p>Action irréverssible !</p>
													</div>
													<div class="modal-footer justify-content-between">
														<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
														<a href='{{path('app_conduite_de_travaux_me_delete_comment', {'id' : comment.id, 'identifiant' : piece.entId } ) }}' type="button" class="btn btn-light">Supprimer définitivement</a>
													</div>
												</div>
												<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
										<!-- /.modal -->
									{% endfor %}
								</div>
							</div>
						</div>
					{% endif %}

					{% if fichiers %}
						<div class="card card-navy">
							<div class="card-header">
								<h4 class="card-title w-100">
									<a class="d-block w-100" data-toggle="collapse" href="#collapseTwo">
										Piéces jointes
										<span class="badge badge-info right">
											{{fichiers|length}}
										</span>
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="collapse" data-parent="#accordion">
								<div class="card-body">
									{% for fichier in fichiers %}
										<div class="card-body clearfix">
											<blockquote class="quote-secondary">
												<a target="_blank" href="{{ asset('/doc/Lhermitte_freres/' ~ fichier.file ) }}" class="text-left">{{ fichier.file }}
													<a class="text-danger" data-toggle="modal" data-target="#modal-sm-{{fichier.id}}">
														<i class="fa fa-times ml-2" aria-hidden="true"></i>
													</a>
												</a>
											</br>
											<small class="float-right">Déposé par
												{{ fichier.user.pseudo}}
												le
												{{ fichier.createdAt|date("d/m/Y") }}</small>
										</blockquote>
									</div>
									<div class="modal fade" id="modal-sm-{{fichier.id}}">
										<div class="modal-dialog">
											<div class="modal-content bg-danger">
												<div class="modal-header">
													<h4 class="modal-title">Suppression de fichier !</h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<p>Etes vous sûr de vouloir supprimer le fichier
														{{ fichier.file}}
														?</p>
													<p>Action irréverssible !</p>
												</div>
												<div class="modal-footer justify-content-between">
													<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
													<a href='{{path('app_conduite_de_travaux_me_delete_pj', {'id' : fichier.id, 'identifiant' : piece.entId } ) }}' type="button" class="btn btn-light">Supprimer définitivement</a>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}


			</div>
			<!-- /.card-body -->
		</div>
	</div>

	<div
		class="col-md-3">
		<!-- About Me Box -->
		<div class="card card-lightblue">
			<div class="card-header">
				<h3 class="card-title">Ajouter Commentaire</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				{{ form(form) }}
				</div>
				<!-- /.card-body -->
			</div>
		</div>

	</div>
	<!-- /.card About Me Box -->
	<div class="row">
		<div class="col-md-12">
			<div class="card card-dark">
				<div class="card-header d-flex justify-content-between">
					<h2 class="card-title">Détail de la piéce</h2>
					<div class='ml-auto'>
						<a href="{{ path('app_conduite_de_travaux_me_nok') }}" class="btn btn-success">Voir les piéces à traitées</a>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					{% if details %}
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center">
										<span>Ref</span>
									</th>
									<th class="text-center">
										<span>Sref1</span>
									</th>
									<th class="text-center">
										<span>Sref2</span>
									</th>
									<th class="text-center">
										<span>Désignation</span>
									</th>
									<th class="text-center">
										<span>Qté</span>
									</th>
									<th class="text-center">
										<span>En commande fourniseur</span>
									</th>
									<th class="text-center">
										<span>En stock</span>
									</th>
								</tr>
							</thead>
							<tbody>

								{% for detail in details %}
									<tr>
										<td class="text-center">
											<a class="text-dark">{{ detail.ref }}</a>
										</td>
										<td class="text-center">
											<a class="text-dark">{{ detail.sref1 }}</a>
										</td>
										<td class="text-center">
											<a class="text-dark">{{ detail.sref2}}</a>
										</td>
										<td class="text-center">
											<a class="text-dark">{{ detail.designation}}</a>
										</td>
										<td class="text-center">
											<a class="text-dark">{{ detail.qte }}</a>
										</td>
										<td class="text-center">
											<a class="text-dark">cmd Fourn</a>
										</td>
										<td class="text-center">
											<a class="text-dark">Stock</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th class="text-center">
										<span>Ref</span>
									</th>
									<th class="text-center">
										<span>Sref1</span>
									</th>
									<th class="text-center">
										<span>Sref2</span>
									</th>
									<th class="text-center">
										<span>Désignation</span>
									</th>
									<th class="text-center">
										<span>Qté</span>
									</th>
									<th class="text-center">
										<span>En commande fourniseur</span>
									</th>
									<th class="text-center">
										<span>En stock</span>
									</th>
								</tr>
							</tfoot>
						</tr>
					</tfoot>
				</table>
			{% else %}
				<h4 class="text-left text-dark">
					<i class="fas fa-info-circle pr-2 text-primary"></i>Aucunes details à traiter actuellement, Félicitation !</h4>
			{% endif %}
		</div>
	</div>
</div></div><!-- achat fournisseur --><div class="row">
<div class="col-12">
	<div class="card card-success">
		<div class="card-header">
			<h3 class="card-title">Achats liés à cette affaire</h3>

			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="maximize">
					<i class="fas fa-expand"></i>
				</button>
				<button type="button" class="btn btn-tool" data-card-widget="collapse">
					<i class="fas fa-minus"></i>
				</button>
				<button type="button" class="btn btn-tool" data-card-widget="remove">
					<i class="fas fa-times"></i>
				</button>
			</div>
			<!-- /.card-tools -->
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			{% if achats %}
				<table id="example2" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center">
								<span>Piece</span>
							</th>
							<th class="text-center">
								<span>Numéro</span>
							</th>
							<th class="text-center">
								<span>Date piéce</span>
							</th>
							<th class="text-center">
								<span>Tiers</span>
							</th>
							<th class="text-center">
								<span>Nom</span>
							</th>
							<th class="text-center">
								<span>Ref</span>
							</th>
							<th class="text-center">
								<span>Sref1</span>
							</th>
							<th class="text-center">
								<span>Sref2</span>
							</th>
							<th class="text-center">
								<span>Désignation</span>
							</th>
							<th class="text-center">
								<span>Qté</span>
							</th>
							<th class="text-center">
								<span>stock actuel</span>
							</th>
						</tr>
					</thead>
					<tbody>

						{% for achat in achats %}
							<tr>
								<td class="text-center">
									<a class="text-dark">{{ achat.piece }}</a>
								</td>
								<td class="text-center">
									<a class="text-dark">{{ achat.num }}</a>
								</td>
								<td class="text-center">
									<a class="text-dark">{{ achat.datePiece }}</a>
								</td>
								<td class="text-center">
									<a class="text-dark">{{ achat.tiers }}</a>
								</td>
								<td class="text-center">
									<a class="text-dark">{{ achat.nom }}</a>
								</td>
								<td class="text-center">
									<a class="text-dark">{{ achat.ref }}</a>
								</td>
								<td class="text-center">
									<a class="text-dark">{{ achat.sref1 }}</a>
								</td>
								<td class="text-center">
									<a class="text-dark">{{ achat.sref2}}</a>
								</td>
								<td class="text-center">
									<a class="text-dark">{{ achat.designation}}</a>
								</td>
								<td class="text-center">
									<a class="text-dark">{{ achat.qte }}</a>
								</td>
								<td class="text-center">
									<a class="text-dark">stock Divalto</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th class="text-center">
								<span>Piece</span>
							</th>
							<th class="text-center">
								<span>Numéro</span>
							</th>
							<th class="text-center">
								<span>Date piéce</span>
							</th>
							<th class="text-center">
								<span>Tiers</span>
							</th>
							<th class="text-center">
								<span>Nom</span>
							</th>
							<th class="text-center">
								<span>Ref</span>
							</th>
							<th class="text-center">
								<span>Sref1</span>
							</th>
							<th class="text-center">
								<span>Sref2</span>
							</th>
							<th class="text-center">
								<span>Désignation</span>
							</th>
							<th class="text-center">
								<span>Qté</span>
							</th>
							<th class="text-center">
								<span>stock actuel</span>
							</th>
						</tr>
					</tfoot>
				</tr>
			</tfoot>
		</table>
	{% else %}
		<h4 class="text-left text-dark">
			<i class="fas fa-info-circle pr-2 text-primary"></i>Aucun achat n'est actuellement relié à cette vente</h4>
	{% endif %}
</div>
<!-- /.card-body --></div><!-- /.card --></div></div><!-- /achat fournisseur -->{% endblock %}{% block javascripts %}<script type="text/javascript">// copier le texte
function copier(id) {
navigator.clipboard.writeText(id);
}</script><script>// Colorpicker
$('.my-colorpicker2').colorpicker()

$('.my-colorpicker2').on('colorpickerChange', function (event) {
$('.my-colorpicker2 .fa-square').css('color', event.color.toString());
});</script><script>$(function () {
$("#example1").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": [
"copy",
"csv",
"excel",
"pdf",
"print",
"colvis"
]
}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
$("#example3").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": [
"copy",
"csv",
"excel",
"pdf",
"print",
"colvis"
]
}).buttons().container().appendTo('#example3_wrapper .col-md-6:eq(0)');
$('#example2').DataTable({
"paging": true,
"lengthChange": false,
"searching": false,
"ordering": false,
"info": true,
"autoWidth": false,
"responsive": true
});
});</script>{% endblock %}
