{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Mon profil</h1>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div
						class="col-md-3">

						<!-- Profile Image -->
						<div class="card card-primary card-outline">
							<div class="card-body box-profile">
								<div class="text-center">
									<img class="profile-user-img img-fluid img-circle" src="{{ asset(asset('img/profile/' ~ app.user.img)) }}" alt="User profile picture">
								</div>

								<h3 class="profile-username text-center">{{ user.pseudo}}</h3>
								<div class='text-center'>
									<p class="text-muted text-center">
										Service :
									</p>
									<p class="btn btn.sm" style="background-color: {{ user.service.color }}; color: {{ user.service.textColor }}">{{ user.service.title }}</p>
								</div>

								<ul class="list-group list-group-unbordered mb-3">
									<li class="list-group-item">
										<b>Anniversaire</b>
										<a class="float-right">{{ user.bornAt|date('d-m-Y') }}</a>
									</li>
								</ul>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
					<div class="col-md-9">
						<div class="card">
							<div class="card-header p-2">
								<ul class="nav nav-pills">
									<li class="nav-item">
										<a class="nav-link active" href="#conges" data-toggle="tab">Mes congés</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#settings" data-toggle="tab">Paramétres</a>
									</li>
								</ul>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<div class="tab-content">
									<div class="active tab-pane" id="conges">
										{{ form_start(formDates) }}
										<div class="d-flex flex-wrap justify-content-around p-2">
											<div>
												<strong>Veuillez selectionner la période :
												</strong>
											</div>
											<div>
												{{ form_widget(formDates.startDate) }}
											</div>
											<div>
												{{ form_widget(formDates.endDate) }}
											</div>
											<div>
												{{ form_widget(formDates.filtrer) }}
											</div>
										</div>
										<hr>
										{{ form_end(formDates) }}
										<div class="d-flex flex-wrap justify-content-around">
											{% if acceptes %}
												<div class="card card-success col-3 p-0 m-0" id="accordionAcceptes">
													<div class="card-header">
														<h3 class="card-title">Total des congés Acceptés</h3>
													</div>
													<!-- /.card-header -->
													<div class="card-body p-0">
														<table class="table table-hover">
															<thead>
																<tr>
																	<th>Type de congés</th>
																	<th>Nb Jours</th>
																	<th>Détails</th>
																</tr>
															</thead>
															<tbody>
																{% for accepte in acceptes %}
																	<tr data-toggle="collapse" href="#collapse{{ accepte.holidayType_id}}{{accepte.holidayStatus_id}}">
																		<td>{{ accepte.name }}</td>
																		<td>{{ accepte.nbJours }}</td>
																		<td class="text-center">
																			<i class="fas fa-eye text-primary"></i>
																		</td>
																	</tr>
																	<tr id="collapse{{ accepte.holidayType_id}}{{accepte.holidayStatus_id}}" class="collapse" data-parent="#accordionAcceptes">
																		<td colspan="5">
																			<p>
																				<ul>
																					{% for detailsAccepte in detailsAcceptes %}
																						{% if  accepte.holidayType_id == detailsAccepte.holidayType_id  and accepte.holidayStatus_id ==  detailsAccepte.holidayStatus_id  %}
																							<li>du{{detailsAccepte.start }}
																								au
																								{{detailsAccepte.end }}
																								soit
																								{{detailsAccepte.nbJours }}
																								jours
																							</li>
																						{% endif %}
																					{% endfor %}
																				</p>
																			</p>
																		</td>
																	</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											{% else %}
												<h5 class="text-left text-dark">
													<i class="fas fa-info-circle pr-2 text-info"></i>Pas de Congés Acceptés pour cette période !</h5>
											{% endif %}
											{% if attentes %}
												<div class="card card-warning col-3 p-0 m-0" id="accordionAttentes">
													<div class="card-header">
														<h3 class="card-title">Total des congés En attente de validation</h3>
													</div>
													<div class="card-body p-0">
														<table class="table table-hover">
															<thead>
																<tr>
																	<th>Type de congés</th>
																	<th>Nb Jours</th>
																	<th>Détails</th>
																</tr>
															</thead>
															<tbody>
																{% for attente in attentes %}
																	<tr data-toggle="collapse" href="#collapse{{ attente.holidayType_id}}{{attente.holidayStatus_id}}">
																		<td>{{ attente.name }}</td>
																		<td>{{ attente.nbJours }}</td>
																		<td class="text-center">
																			<i class="fas fa-eye text-primary"></i>
																		</td>
																	</tr>
																	<tr id="collapse{{ attente.holidayType_id}}{{attente.holidayStatus_id}}" class="collapse" data-parent="#accordionAttentes">
																		<td colspan="5">
																			<p>
																				<ul>
																					{% for detailsAttente in detailsAttentes %}
																						{% if  attente.holidayType_id == detailsAttente.holidayType_id  and attente.holidayStatus_id ==  detailsAttente.holidayStatus_id  %}
																							<li>du{{detailsAttente.start }}
																								au
																								{{detailsAttente.end }}
																								soit
																								{{detailsAttente.nbJours }}
																								jours</li>
																						{% endif %}
																					{% endfor %}
																				</ul>
																			</p>
																		</td>
																	</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
													<!-- /.card-body -->
												</div>
												<!-- /.card -->
											{% else %}
												<h5 class="text-left text-dark">
													<i class="fas fa-info-circle pr-2 text-info"></i>Pas de Congés en attente pour cette période !</h5>
											{% endif %}
											{% if refuses %}
												<div class="card card-danger col-3 p-0 m-0" id="accordionRefuses">
													<div class="card-header">
														<h3 class="card-title">Total des congés Refusés</h3>
													</div>
													<!-- /.card-header -->
													<div class="card-body p-0">
														<table class="table table-striped">
															<thead>
																<tr>
																	<th>Type de congés</th>
																	<th>Nb Jours</th>
																	<th>Détails</th>
																</tr>
															</thead>
															<tbody>
																{% for refuse in refuses %}
																	<tr data-toggle="collapse" href="#collapse{{ refuse.holidayType_id}}{{refuse.holidayStatus_id}}">
																		<td>{{ refuse.name }}</td>
																		<td>{{ refuse.nbJours }}</td>
																		<td class="text-center">
																			<i class="fas fa-eye text-primary"></i>
																		</td>
																	</tr>
																	<tr id="collapse{{ refuse.holidayType_id}}{{refuse.holidayStatus_id}}" class="collapse" data-parent="#accordionAttentes">
																		<td colspan="5">
																			<p>
																				<ul>
																					{% for detailsRefuse in detailsRefuses %}
																						{% if  refuse.holidayType_id == detailsRefuse.holidayType_id  and refuse.holidayStatus_id ==  detailsRefuse.holidayStatus_id  %}
																							<li>du{{detailsRefuse.start }}
																								au
																								{{detailsRefuse.end }}
																								soit
																								{{detailsRefuse.nbJours }}
																								jours</li>
																						{% endif %}
																					{% endfor %}
																				</ul>
																			</p>
																		</td>
																	</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											{% else %}
												<h5 class="text-left text-dark">
													<i class="fas fa-info-circle pr-2 text-info"></i>Pas de Congés refusés pour cette période !</h5>
											{% endif %}
										</div>
									</div>
									<div class="tab-pane" id="settings">
										{{ form_start(profileUserForm) }}
										<div class="form-horizontal">
											<div class="form-group row">
												<label for="inputName" class="col-sm-2 col-form-label">Email</label>
												<div class="col-sm-10">{{ form_errors(profileUserForm.email) }}{{ form_widget(profileUserForm.email) }}</div>
											</div>
											<div class="form-group row">
												<label for="inputEmail" class="col-sm-2 col-form-label">Pseudo</label>
												<div class="col-sm-10">{{ form_errors(profileUserForm.pseudo) }}{{ form_widget(profileUserForm.pseudo) }}</div>
											</div>
											<div class="form-group row">
												<label for="inputName2" class="col-sm-2 col-form-label">Date de naissance</label>
												<div class="col-sm-10">{{ form_errors(profileUserForm.bornAt) }}{{ form_widget(profileUserForm.bornAt) }}</div>
											</div>
											<div class="form-group row">
												<label for="inputName2" class="col-sm-2 col-form-label">Image de profil</label>
												<div class="col-sm-10">{{ form_errors(profileUserForm.img) }}{{ form_widget(profileUserForm.img) }}</div>
											</div>
											<div class="form-group row">
												<div class="offset-sm-2 col-sm-10 text-right">{{ form_widget(profileUserForm.Modifier, {'label': 'Modifier'} ) }}</div>
											</div>
										</div>
										{{ form_end(profileUserForm) }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="content">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Liste des fiches d'intervention</h3>
					<div>
						{{ form_start(formFiches) }}
						<div class="d-flex justify-content-end">
							<div class="col-12 col-sm-2">Date de Début :
							</div>
							{{ form_widget(formFiches.startDate) }}
							<div class="col-12 col-sm-2">Date de Fin :
							</div>
							{{ form_widget(formFiches.endDate) }}
							{{ form_widget(formFiches.filtrer) }}
						</div>
						{{ form_end(formFiches) }}
					</div>
				</div>
				<div class="card-body">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Mes heures durant cette période</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table id="example1" class="table table-bordered table-hover text-center">
								<thead>
									<tr>
										<th>Affaire</th>
										<th>Nom</th>
										<th>Date</th>
										<th>Heures et temps</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{# Initialise les tableaux vides pour chaque type d'heures #}
									{% set deplacement_hours = [] %}
									{% set depot_hours = [] %}
									{% set travaux_hours = [] %}

									{% for intervention in interventions %}
										<tr>
											<td>{{ intervention.intervention.code.code}}</td>
											<td>{{ intervention.intervention.code.libelle}}</td>
											<td>{{ intervention.createdAt|date("Y-m-d")}}</td>
											<td>
												{% for heure in intervention.Heures %}
													<div class="d-flex flex-wrap justify-content-around col-12">
														<div class="col-4">{{ heure.type }}</div>
														<ul class="col-4">
															<li>{{ heure.start|date("H:i")}}</li>
															<li>{{ heure.end|date("H:i")}}</li>
														</ul>
														<div class="col-4">

															{% set diff = date(heure.start|date("H:i", "Europe/Paris")).diff(date(heure.end|date("H:i", "Europe/Paris"))) %}
															{% set hours = diff.h %}
															{% set minutes = diff.i %}
															{{ hours }}H{{ minutes }}
															{% set start_time = heure.start|date("H:i") %}
															{% set end_time = heure.end|date("H:i") %}
															{% set difference = end_time|date("U") - start_time|date("U") %}

															{# Convertir la différence de temps en heures et minutes #}
															{% set hours = (difference // 3600) %}
															{% set minutes = ((difference % 3600) // 60) %}

															{# Ajouter les heures et les minutes au tableau approprié #}
															{% if heure.type == 'deplacement' %}
																{% set deplacement_hours = deplacement_hours|merge([{'hours': hours, 'minutes': minutes}]) %}
															{% elseif heure.type == 'depot' %}
																{% set depot_hours = depot_hours|merge([{'hours': hours, 'minutes': minutes}]) %}
															{% elseif heure.type == 'Travaux' %}
																{% set travaux_hours = travaux_hours|merge([{'hours': hours, 'minutes': minutes}]) %}
															{% endif %}
														</div>
													</div>
												{% endfor %}
											</td>
											<td>
												<a href='{{path('app_affaire_show_intervention', {'id' : intervention.intervention.id } ) }}'>
													<i class="fas fa-eye fa-2x text-secondary"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
									{# Calculer les totaux pour chaque type d'heures #}
									{% set total_deplacement_hours = 0 %}
									{% set total_deplacement_minutes = 0 %}
									{% set total_depot_hours = 0 %}
									{% set total_depot_minutes = 0 %}
									{% set total_travaux_hours = 0 %}
									{% set total_travaux_minutes = 0 %}

									{% for hour in deplacement_hours %}
										{% set total_deplacement_hours = total_deplacement_hours + hour.hours %}
										{% set total_deplacement_minutes = total_deplacement_minutes + hour.minutes %}
									{% endfor %}

									{% for hour in depot_hours %}
										{% set total_depot_hours = total_depot_hours + hour.hours %}
										{% set total_depot_minutes = total_depot_minutes + hour.minutes %}
									{% endfor %}

									{% for hour in travaux_hours %}
										{% set total_travaux_hours = total_travaux_hours + hour.hours %}
										{% set total_travaux_minutes = total_travaux_minutes + hour.minutes %}
									{% endfor %}

									{# Effectuer le report des minutes excédentaires dans les heures pour chaque type #}
									{% set carry_deplacement_hours = total_deplacement_minutes // 60 %}
									{% set total_deplacement_hours = total_deplacement_hours + carry_deplacement_hours %}
									{% set total_deplacement_minutes = total_deplacement_minutes % 60 %}

									{% set carry_depot_hours = total_depot_minutes // 60 %}
									{% set total_depot_hours = total_depot_hours + carry_depot_hours %}
									{% set total_depot_minutes = total_depot_minutes % 60 %}

									{% set carry_travaux_hours = total_travaux_minutes // 60 %}
									{% set total_travaux_hours = total_travaux_hours + carry_travaux_hours %}
									{% set total_travaux_minutes = total_travaux_minutes % 60 %}

								</tbody>
								<tfoot>
									{# Afficher les totaux pour chaque type d'heures #}
									<tr>
										<th colspan="5">
											<div class="d-flex justify-content-around">
												<div>
													Total Déplacement :
													{{ total_deplacement_hours }}
													heure(s) et
													{{ total_deplacement_minutes }}
													minute(s)
												</div>
												<div>
													Total Dépôt :
													{{ total_depot_hours }}
													heure(s) et
													{{ total_depot_minutes }}
													minute(s)
												</div>
												<div>Total Travaux :
													{{ total_travaux_hours }}
													heure(s) et
													{{ total_travaux_minutes }}
													minute(s)
												</div>
											</div>
										</th>
									</tr>
								</tfoot>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>
		</section>
	</div>
{% endblock %}
