<p>Bonjour,</p>
<p>Veuillez trouver ci dessous la liste des commandes et leurs délais acceptées et reportées pour un montant Total de {{total|format_currency('EUR', locale='fr')}}</p>

{% if commandesAvecDelais %}
<p><u><strong>Commandes à J-15 : {% if commandesAvecDelaiTotal %} pour un montant de {{commandesAvecDelaiTotal|format_currency('EUR', locale='fr')}} {% endif %}</strong></u></p>
    <table class="table table-bordered table-striped" cellspacing="0" cellpadding="10" border="1">
        <thead>
            <tr class="text-center">
            <th>Tiers</th>
            <th>Nom</th>
            <th>Cmd</th>
            <th>date Cmd</th>
            <th>Notre Ref</th>
            <th>Délai accepté</th>
            <th>Délai reporté</th>
            <th>Montant HT</th>
        </thead>
        <tbody>
{% for commandesAvecDelai in commandesAvecDelais %}
        <tr>
            <td>{{ commandesAvecDelai.Tiers }}</td>
            <td>{{ commandesAvecDelai.Nom }}</td>
            <td>{{ commandesAvecDelai.Cmd }}</td>
            <td>{{ commandesAvecDelai.DateCmd|date('d-m-Y') }}</td>
            <td>{{ commandesAvecDelai.NotreRef }}</td>
            <td>{% if commandesAvecDelai.DelaiAccepte %}{{ commandesAvecDelai.DelaiAccepte|date('d-m-Y') }}{% endif %}</td>
            <td>{% if commandesAvecDelai.DelaiReporte %}{{ commandesAvecDelai.DelaiReporte|date('d-m-Y') }}{% endif %}</td>
            <td>{{ commandesAvecDelai.ht }}</td>
        </tr>
{% endfor %}
       </tbody>
    </table>
{% endif %}

{% if commandesSansDelais %}
<p><u><strong>Commandes sans délais : {% if commandesSansDelaiTotal %} pour un montant de {{commandesSansDelaiTotal|format_currency('EUR', locale='fr')}} {% endif %}</strong></u></p>
    <table class="table table-bordered table-striped" cellspacing="0" cellpadding="10" border="1">
        <thead>
            <tr class="text-center">
            <th>Tiers</th>
            <th>Nom</th>
            <th>Cmd</th>
            <th>date Cmd</th>
            <th>Notre Ref</th>
            <th>Délai accepté</th>
            <th>Délai reporté</th>
            <th>Montant HT</th>
        </thead>
        <tbody>
{% for commandesSansDelai in commandesSansDelais %}
        <tr>
            <td>{{ commandesSansDelai.Tiers }}</td>
            <td>{{ commandesSansDelai.Nom }}</td>
            <td>{{ commandesSansDelai.Cmd }}</td>
            <td>{{ commandesSansDelai.DateCmd|date('d-m-Y') }}</td>
            <td>{{ commandesSansDelai.NotreRef }}</td>
            <td>{% if commandesSansDelai.DelaiAccepte %}{{ commandesSansDelai.DelaiAccepte|date('d-m-Y') }}{% endif %}</td>
            <td>{% if commandesSansDelai.DelaiReporte %}{{ commandesSansDelai.DelaiReporte|date('d-m-Y') }}{% endif %}</td>
            <td>{{ commandesSansDelai.ht }}</td>
        </tr>
{% endfor %}
       </tbody>
    </table>
{% endif %}

{% if commandesDelaiDepasses %}
<p><u><strong>Commandes avec délais dépassés : {% if commandesDelaiDepasseTotal %} pour un montant de {{commandesDelaiDepasseTotal|format_currency('EUR', locale='fr')}} {% endif %}</strong></u></p>
    <table class="table table-bordered table-striped" cellspacing="0" cellpadding="10" border="1">
        <thead>
            <tr class="text-center">
            <th>Tiers</th>
            <th>Nom</th>
            <th>Cmd</th>
            <th>date Cmd</th>
            <th>Notre Ref</th>
            <th>Délai accepté</th>
            <th>Délai reporté</th>
            <th>Montant HT</th>
        </thead>
        <tbody>
{% for commandesDelaiDepasse in commandesDelaiDepasses %}
        <tr>
            <td>{{ commandesDelaiDepasse.Tiers }}</td>
            <td>{{ commandesDelaiDepasse.Nom }}</td>
            <td>{{ commandesDelaiDepasse.Cmd }}</td>
            <td>{{ commandesDelaiDepasse.DateCmd|date('d-m-Y') }}</td>
            <td>{{ commandesDelaiDepasse.NotreRef }}</td>
            <td>{% if commandesDelaiDepasse.DelaiAccepte %}{{ commandesDelaiDepasse.DelaiAccepte|date('d-m-Y') }}{% endif %}</td>
            <td>{% if commandesDelaiDepasse.DelaiReporte %}{{ commandesDelaiDepasse.DelaiReporte|date('d-m-Y') }}{% endif %}</td>
            <td>{{ commandesDelaiDepasse.ht }}</td>
        </tr>
{% endfor %}
       </tbody>
    </table>
{% endif %}

<p>Intranet Axis</p>
<p>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</p>
