<p>Bonjour {% for user in holiday.user %}{{ user.pseudo }}{% endfor %},</p>
<p>Nous avons bien reçu votre demande pour des congés du <strong>{{ holiday.start|date('d-m-Y H:i:s') }}</strong> au <strong>{{ holiday.end|date('d-m-Y H:i:s') }}</strong></p>
<p>Type de demande: <strong>{{ holiday.holidayType.name }}</strong></p>
<p>Son Statut est : <strong>{{ holiday.holidayStatus.name }}</strong></p>

{% if holiday.details %}
    <p><u>Détails:</u></p>
    <p><strong>{{ holiday.details|raw }}</strong></p>
{% endif %}
        <p><u>Informations complémentaires : </u></p>
    <p>Nombre total de personne totale dans ce service: {{ countService['totalUsersService'] }}</p> 
    <p>Nombre de demande de congés du service durant la même période: {{ countService['totalUsersServiceInTime'] }}</p>
    <p>Nombre de personne du service présentent en entreprise durant cette même période: {{ countService['nbPersonPresent'] }}</p>

    <p><u>Actions:</u></p>
    <p><a href="192.168.50.244/holiday/show/{{ holiday.id }}">Pour voir ce congés vous pouvez cliquez Ici</a></p>
    <p><a href="192.168.50.244/holiday/edit/{{ holiday.id }}">Pour modifier cette demande de congés vous pouvez cliquez Ici</a></p>
    <p><a href="192.168.50.244/holiday/delete/{{ holiday.id }}">Pour supprimer cette demande de congés vous pouvez cliquez Ici</a></p>

{% if overlaps %}
    <p><u>Autres demandes pour ce service durant cette même période : </u></p>
    <table class="table table-bordered table-striped" cellspacing="0" cellpadding="10" border="1">
        <thead>
            <tr class="text-center">
            <th>Demandeur</th>
            <th>Date de demande</th>
            <th>Date Début</th>
            <th>Date fin</th>
            <th>Statut de la demande</th>
        </thead>
        <tbody>
            {% for overlap in overlaps %}
            <tr>
                <td>{{ overlap.pseudo }}</td>
                <td>{{ overlap.createdAt|date('d-m-Y H:i:s') }}</td>
                <td>{{ overlap.start|date('d-m-Y H:i:s') }}</td>
                <td>{{ overlap.end|date('d-m-Y H:i:s') }}</td>
                <td>{{ overlap.statut }}</td>
            </tr>
            {% endfor %}  
        </tbody>
    </table>
{% else %}
    <p>Pas de personne du même service pour la même période</p>
{% endif %}

<p>Intranet Axis</p>
