<p>Bonjour {{ holiday.user.pseudo }}

</p></br>
<p>Un congés de type :  <strong>{{ holiday.holidayType.name }}</strong> à été déposé pour vous pour la période du <strong>{{ holiday.start|date('d-m-Y H:i:s') }}</strong> au <strong>{{ holiday.end|date('d-m-Y H:i:s') }}</strong> par <strong>{{ holiday.treatmentedBy.pseudo }}</strong>.</p>
<p>Celui ci est maintenant visible sur la page d'accueil du site intranet</p>
</br>

<p>Intranet Axis</p>
<p>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</p>
