<p>Bonjour,</p>

<p>Vous devez alimenter des piéces FSC avec des fichiers joints</p>
<p>Un minimum de 5 piéces jointes est nécéssaire, vous pouvez cependant avoir plusieurs documents d'un même type</p>
<p>N'oubliez pas d'assigner les documents à un type de document pour débloquer les piéces</p>
    <ul>
        <li>Document commercial du fournisseur avec la mention FSC sur les produits (notre facture d'achat)</li>
        <li>Contrat d’achat de matière première du fournisseur</li>
        <li>Permissions de coupe du fournisseur</li>
        <li>factures d’achats de la matiére premiére du fournisseur</li>
        <li>Le document du site FSC attestant que le fournisseur est encore certifié</li>
    </ul>

{% if piecesAnormales %}
<p><u><strong>Veuillez trouver ci dessous la liste des pièces qui n'ont pas de piéces jointes pour le FSC: </strong></u></p>
    <table class="table table-bordered table-striped" cellspacing="0" cellpadding="10" border="1">
        <thead>
            <tr class="text-center">
            <th>Tiers</th>
            <th>Notre Ref</th>
            <th>Cmd</th>
            <th>date Cmd</th>
            <th>Bl</th>
            <th>date Bl</th>
            <th>Facture</th>
            <th>date Fact</th>
            <th>Nbre Types docs</th>
        </thead>
        <tbody>
{% for piecesAnormale in piecesAnormales %}
        <tr>
            <td>{{ piecesAnormale.tiers }}</td>
            <td>{{ piecesAnormale.notreRef }}</td>
            <td>{{ piecesAnormale.numCmd }}</td>
            <td>{% if piecesAnormale.numCmd %}{{ piecesAnormale.dateCmd|date('d-m-Y') }}{% endif %}</td>
            <td>{% if piecesAnormale.numBl %}{{ piecesAnormale.numBl }}{% endif %}</td>
            <td>{% if piecesAnormale.numBl %}{{ piecesAnormale.dateBl|date('d-m-Y') }}{% endif %}</td>
            <td>{% if piecesAnormale.numFact %}{{ piecesAnormale.numFact }}{% endif %}</td>
            <td>{% if piecesAnormale.numFact %}{{ piecesAnormale.dateFact|date('d-m-Y') }}{% endif %}</td>
            <td class='text-center'>{{ piecesAnormale.count }}</td>
        </tr>
{% endfor %}
       </tbody>
    </table>
{% endif %}

<p>Vous pouvez consulter la liste des piéces à compléter à l'adresse suivante.<a href='http://192.168.50.244/Roby/fsc/liste/nok'>http://192.168.50.244/Roby/fsc/liste/nok<a/></p>

<p>Intranet Axis</p>
<p>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</p>
