<p>Bonjour</p>
<p>Une demande de congés a été déposé par
	<strong>
		{{ holiday.user.pseudo }}
	</strong>
	du service
	<strong>{{ holiday.user.service.title }}</strong>
	pour des congés du
	<strong>{{ holiday.start|date('d-m-Y H:i:s') }}</strong>
	au
	<strong>{{ holiday.end|date('d-m-Y H:i:s') }}</strong>
</p>
<p>Type de demande:
	<strong>{{ holiday.holidayType.name }}</strong>
</p>
<p>Son Statut est :
	<strong>{{ holiday.holidayStatus.name }}</strong>
</p>
{% if holiday.details %}
	<p>
		<u>Détails:</u>
	</p>
	<p>
		<strong>{{ holiday.details|raw }}</strong>
	</p>
{% endif %}

<p>Intranet Axis</p>
<p>Merci de ne pas répondre à l'adresse intranet@groupe-axis.fr</p>
