{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-xl-6">
					<h3>Préparation
						{{ app.user.pseudo }}</h3>
					<i class="far fa-solid fa-cart-shopping text-navy mr-1"></i>
					Commandes à traiter :
					<span class="badge bg-danger">
						{{listCmds|length}}</span>
				</div>
				<div class="col-xl-6">
					<ol class="breadcrumb float-right">
						<li class="breadcrumb-item">
							<i class="far fa-solid fa-box-open text-warning mr-1"></i>
							ME
						</li>
						<li class="breadcrumb-item">
							<i class="far fa-solid fa-box-open text-danger mr-1"></i>
							HP
						</li>
						<li class="breadcrumb-item">
							<i class="far fa-solid fa-box-open text-success mr-1"></i>
							EV
						</li>
						<li class="breadcrumb-item">
							<i class="far fa-solid fa-box-open text-secondary mr-1"></i>
							Total
						</li>
						<li class="breadcrumb-item">
							<i class="far fa-solid fa-cart-shopping text-navy mr-1"></i>
							Cmds
						</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<div class="input-group mb-3">
		<input type="text" class="form-control" id="searchInput" placeholder="Rechercher par nom..." aria-label="Rechercher par nom..." aria-describedby="basic-addon2">
	</div>
	<div class="d-flex justify-content-around mb-3">
		<a href="{{ path('app_mouv_preparation_cmd', {'tri': 'dateCmd_asc'}) }}">Date croissante</a>
		<a href="{{ path('app_mouv_preparation_cmd', {'tri': 'dateCmd_desc'}) }}">Date décroissante</a>
	</div>
	<div class="d-flex flex-wrap" style="max-height: 70vh; overflow-y: auto;">
		{% for listCmd in listCmds %}
			{% include 'mouv_preparation_cmd/card_cmd.html.twig' with {'cmd': listCmd } %}
		{% endfor %}
	</div>
	<div class="modal fade" id="modal-overlay">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="overlay">
					<i class="fas fa-sync fa-spin"></i>
				</div>
				<div class="modal-header">
					<h4 class="modal-title">Chargement</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Veuillez patienter jusqu'au chargement complet des données.</p>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function () {

$('#searchInput').on('input', function () {
var searchText = $(this).val().toLowerCase();
$('.info-box').each(function () {
var nomText = $(this).find('.info-box-text').text().toLowerCase();
if (nomText.indexOf(searchText) === -1) {
$(this).hide();
} else {
$(this).show();
}
});
});

$('.start-button').click(function () { // Affichage du modal
$('#modal-overlay').modal('show');

// Attente du chargement complet de la page
$(window).on('load', function () { // Masquer le modal une fois le chargement terminé
$('#modal-overlay').modal('hide');
});
});

});
	</script>

{% endblock %}
