{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div
			class="container-fluid">
			<!-- /.card -->
			<div class="row">
				<div class="col-12">
					<div class="card card-dark">
						<div class="card-header d-flex">
							<h3 class="card-title text-center mr-auto">Liste des utilisateurs</h3>
							<a href="{{ path('app_admin') }}" class="badge badge-success ml-auto">Retourner à l'Administration générale</a>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center">
											<span>societe</span>
										</th>
										<th class="text-center">
											<span>email</span>
										</th>
										<th class="text-center">
											<span>Date de création</span>
										</th>
										<th class="text-center">
											<span>pseudo</span>
										</th>
										<th class="text-center">
											<span>Service</span>
										</th>
										<th class="text-center">
											<span>roles</span>
										</th>
										<th class="text-center">
											<span>Actions</span>
										</th>
									</tr>
								</thead>
								<tbody>
									{% for user in users %}
										<tr>
											<form method="POST">
												<td class="text-center col-1">
													{{ user.societe.nom }}
												</td>
												<td class="text-center col-1">
													{{ user.email }}
												</td>
												<td class="text-center col-1">
													{{ user.createdAt | date("d/m/Y") }}
												</td>
												<td class="text-center col-1">
													{{ user.pseudo }}
												</td>
												<td class="text-center col-1">
												{% if user.service %}
													{{ user.service.title }}
												{% endif %}
												</td>
												<td class="text-center col-6">
													{% for role in user.roles %}
														{{ role }}
													{% endfor %}
												</td>
												<td class="text-center col-1">
													<a class="btn btn-warning" href="{{ path('app_edit_user', {'id' : user.id}) }}"><i class="fas fa-edit"></i></a>
													{% if user.closedAt %}
														<a class="btn btn-danger" href="{{ path('app_open_user', {'id' : user.id}) }}"><i class="fas fa-lock"></i></a>
													{% else %}
														<a class="btn btn-success" href="{{ path('app_close_user', {'id' : user.id}) }}"><i class="fas fa-lock-open"></i></a>
													{% endif %}
												</td>
											</form>

										{% endfor %}
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th class="text-center">
											<span>societe</span>
										</th>
										<th class="text-center">
											<span>email</span>
										</th>
										<th class="text-center">
											<span>Date de création</span>
										</th>
										<th class="text-center">
											<span>pseudo</span>
										</th>
										<th class="text-center">
											<span>Service</span>
										</th>
										<th class="text-center">
											<span>roles</span>
										</th>
										<th class="text-center">
											<span>Actions</span>
										</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
