{% extends 'base.html.twig' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block body %}
	<div class="card collapsed-card card-info">
		<div class="card-header">
			<h3 class="card-title">
				<i class="icon fas fa-info-circle"></i>
				Info</h3>
			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse">
					<i class="fas fa-minus"></i>
				</button>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<p>Dans le haut à droite, vous pouvez modifier l'état de la piéce.</p>
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-around flex-row mb-1">
		{% if is_granted('ROLE_RESPONSABLE_SECTEUR') and is_granted('ROLE_ME') %}
			<a title='Affaires à traiter !' href="{{ path('app_piece_affaire_nok', {'affaire' : intervention.code.code }) }}" class="btn btn-success text-white col-12 col-lg-2 my-2">
				<i class="fas fa-eye mr-1"></i>
				Consulter l'affaire
			</a>
		{% endif %}
		<a href='{{path('app_affaire_me_nok' ) }}' class="text-light btn btn-xl btn-primary col-12 col-lg-2 my-2">
			<i class="fas fa-share mr-1"></i>
			Affaires
		</a>
		<a href="{{ path('app_mouv_tiers', {'chantier' : intervention.code.code }) }}" class="text-light btn btn-xl btn-secondary col-12 col-lg-2 my-2">
			<i class="fa fa-solid fa-arrow-right-arrow-left mr-2"></i>Retrait/Retour de marchandise
		</a>
	</div>
	<div class="text-dark">
		<div class="info-box">
			<span class=" info-box-icon" style=" background-color: {{ intervention.typeIntervention.backgroundColor }} ; color: {{ intervention.typeIntervention.textColor }} " ;>
				<i class="{{ intervention.typeIntervention.faIconsClass }}"></i>
			</span>
			<div class="info-box-content text-center">
				<h5 class="">{{ intervention.code.Libelle}}</h5>
				<div class="d-flex justify-content-around flex-wrap">
					<ul class="text-center">
						<li style="list-style-type: none;">
							<u>Dates :</u>
						</li>
						<li style="list-style-type: none;">du
							{{ intervention.start|date("d/m/Y H:i") }}
						</li>
						<li style="list-style-type: none;">au
							{{ intervention.end|date("d/m/Y H:i") }}
						</li>
					</ul>
					<ul class="text-center">
						<li style="list-style-type: none;">
							<u>Equipe :</u>
						</li>
						{% for monteur in intervention.Equipes %}
							<li style="list-style-type: none;">
								{{ monteur.Pseudo }}
							</li>
						{% endfor %}
					</ul>
					<ul class="text-center">
						<li style="list-style-type: none;">
							<u>Client :</u>
						</li>
						<li style="list-style-type: none;">
							{{ intervention.code.nom }}
						</li>
					</ul>
					<ul class="text-center">
						<li style="list-style-type: none;">
							<u>Adresse :</u>
						</li>
						<li style="list-style-type: none;">
							{{ intervention.adresse }}
						</li>
					</ul>
				</div>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<div class="card">
		<div class="card-header p-2">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link active" href="#comInterventions" data-toggle="tab">
						<i class="fas fa-comments fa-2x" aria-hidden="true"></i>
						Interv.
						{% set chatInt = 0 %}
						{% for chat in chats %}
							{% if chat.tables == intervention.id %}
								{% set chatInt = chatInt + 1 %}
							{% endif %}
						{% endfor %}
						<span class="badge bg-secondary pl-1">{{ chatInt }}</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#comAffaire" data-toggle="tab">
						<i class="fas fa-comments fa-2x" aria-hidden="true"></i>
						Affaire
						<span class="badge bg-secondary pl-1">{{chats|length}}</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<div class="tab-content">
				<div class="active tab-pane" id="comInterventions">
					<div class="card direct-chat direct-chat-warning">
						<div class="card-header">
							<h3 class="card-title">Commentaires de cette intervention</h3>
							<div class="card-tools">
								<button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
									<i class="fas fa-phone"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<div class="direct-chat-messages">
								{% set i = 0 %}
								{% if chats %}
									{% for chat in chats %}
										{% if chat.tables == intervention.id %}
											{% set i = i + 1 %}
											{% if app.user.id == chat.user.id %}
												<div class="direct-chat-msg">
													<div class="direct-chat-infos clearfix">
														<span class="direct-chat-name float-left">{{ chat.user.pseudo }}</span>
														<span class="direct-chat-timestamp float-right">{{ chat.createdAt|date("d/m/Y H:i") }}</span>
													</div>
													<img class="direct-chat-img" src="{{ asset(asset('img/profile/' ~ chat.user.img))}}" alt="message user image">
													<div class="direct-chat-text">
														{{ chat.content|raw }}
													</div>
												</div>
											{% else %}
												<div class="direct-chat-msg right">
													<div class="direct-chat-infos clearfix">
														<span class="direct-chat-name float-right">{{ chat.user.pseudo }}</span>
														<span class="direct-chat-timestamp float-left">{{ chat.createdAt|date("d/m/Y H:i") }}</span>
													</div>
													<img class="direct-chat-img" src="{{ asset(asset('img/profile/' ~ chat.user.img))}}" alt="message user image">
													<div class="direct-chat-text">
														{{ chat.content|raw }}
													</div>
												</div>
											{% endif %}
										{% endif %}
									{% endfor %}
									{% if i == 0 %}
										<div class="direct-chat-msg m-2">
											<div class="direct-chat-infos clearfix">
												<span class="direct-chat-name float-left">Intranet</span>
												<span class="direct-chat-timestamp float-right">15/06/2023 16:34</span>
											</div>
											<img class="direct-chat-img" src="{{ asset(asset('img/profile/AdminLTELogo.png'))}}" alt="message user image">
											<div class="direct-chat-text">
												C'est ici que les commentaires apparaissent .....
											</div>
										</div>
									{% endif %}
								{% else %}
									<div class="direct-chat-msg m-2">
										<div class="direct-chat-infos clearfix">
											<span class="direct-chat-name float-left">Intranet</span>
											<span class="direct-chat-timestamp float-right">15/06/2023 16:34</span>
										</div>
										<img class="direct-chat-img" src="{{ asset(asset('img/profile/AdminLTELogo.png'))}}" alt="message user image">
										<div class="direct-chat-text">
											C'est ici que les commentaires apparaissent .....
										</div>
									</div>
								{% endif %}
							</div>
							<!-- Contacts are loaded here -->
							<div class="direct-chat-contacts">
								<ul class="contacts-list">
									{% for usersMe in usersMes %}
										<li>
											<a href="#">
												<img class="contacts-list-img" src="{{ asset(asset('img/profile/' ~ usersMe.img))}}" alt="User Avatar">

												<div class="contacts-list-info">
													<span class="contacts-list-name">
														{{ usersMe.pseudo }}
														<small class="contacts-list-date float-right">{{ usersMe.createdAt|date("d-m-Y") }}</small>
													</span>
													<a href='tel:{{usersMe.portable|replace({' ': ""})}}' class="contacts-list-msg">{{usersMe.portable}}</a>
												</div>
												<!-- /.contacts-list-info -->
											</a>
										</li>
									{% endfor %}
								</ul>
								<!-- /.contacts-list -->
							</div>
							<!-- /.direct-chat-pane -->
						</div>
					</div>
				</div>
				<div class="tab-pane" id="comAffaire">
					<div class="card direct-chat direct-chat-warning">
						<div class="card-header">
							<h3 class="card-title">Commentaires de cette affaire</h3>
							<div class="card-tools">
								<button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
									<i class="fas fa-phone"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<div class="direct-chat-messages">
								{% if chats %}
									{% for chat in chats %}
										{% if app.user.id == chat.user.id %}
											<div class="direct-chat-msg">
												<div class="direct-chat-infos clearfix">
													<span class="direct-chat-name float-left">{{ chat.user.pseudo }}</span>
													<span class="direct-chat-timestamp float-right">{{ chat.createdAt|date("d/m/Y H:i") }}</span>
												</div>
												<img class="direct-chat-img" src="{{ asset(asset('img/profile/' ~ chat.user.img))}}" alt="message user image">
												<div class="direct-chat-text">
													{{ chat.content|raw }}
												</div>
											</div>
										{% else %}
											<div class="direct-chat-msg right">
												<div class="direct-chat-infos clearfix">
													<span class="direct-chat-name float-right">{{ chat.user.pseudo }}</span>
													<span class="direct-chat-timestamp float-left">{{ chat.createdAt|date("d/m/Y H:i") }}</span>
												</div>
												<img class="direct-chat-img" src="{{ asset(asset('img/profile/' ~ chat.user.img))}}" alt="message user image">
												<div class="direct-chat-text">
													{{ chat.content|raw }}
												</div>
											</div>
										{% endif %}
									{% endfor %}
								{% else %}
									<div class="direct-chat-msg m-2">
										<div class="direct-chat-infos clearfix">
											<span class="direct-chat-name float-left">Intranet</span>
											<span class="direct-chat-timestamp float-right">15/06/2023 16:34</span>
										</div>
										<img class="direct-chat-img" src="{{ asset(asset('img/profile/AdminLTELogo.png'))}}" alt="message user image">
										<div class="direct-chat-text">
											C'est ici que les commentaires apparaissent .....
										</div>
									</div>
								{% endif %}
							</div>
							<!-- Contacts are loaded here -->
							<div class="direct-chat-contacts">
								<ul class="contacts-list">
									{% for usersMe in usersMes %}
										<li>
											<a href="#">
												<img class="contacts-list-img" src="{{ asset(asset('img/profile/' ~ usersMe.img))}}" alt="User Avatar">

												<div class="contacts-list-info">
													<span class="contacts-list-name">
														{{ usersMe.pseudo }}
														<small class="contacts-list-date float-right">{{ usersMe.createdAt|date("d-m-Y") }}</small>
													</span>
													<a href='tel:{{usersMe.portable|replace({' ': ""})}}' class="contacts-list-msg">{{usersMe.portable}}</a>
												</div>
												<!-- /.contacts-list-info -->
											</a>
										</li>
									{% endfor %}
								</ul>
								<!-- /.contacts-list -->
							</div>
							<!-- /.direct-chat-pane -->
						</div>
					</div>
				</div>
				<div class="card-footer p-0">
					{{ form_start(ChatsForm)}}
					<div class="input-group">
						{{ form_widget(ChatsForm.content, {'attr' : {'class' : "form-control"}})}}
						<span class="input-group-append">
							{{ form_widget(ChatsForm.Envoyer, {'attr' : {'class' : "btn btn-warning"}})}}
						</span>
					</div>
					{{ form_end(ChatsForm)}}
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header p-2">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link active" href="#docInterventions" data-toggle="tab">
						<i class="fas fa-copy fa-2x" aria-hidden="true"></i>
						Interv.
						{% set docsInt = 0 %}
						{% for doc in docs %}
							{% if doc.Parametre == intervention.id %}
								{% set docsInt = docsInt + 1 %}
							{% endif %}
						{% endfor %}
						<span class="badge bg-secondary pl-1">{{ docsInt }}</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#docAffaire" data-toggle="tab">
						<i class="fas fa-copy fa-2x" aria-hidden="true"></i>
						Affaire
						<span class="badge bg-secondary pl-1">{{ docs|length}}</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<div class="tab-content">
				<div class="active tab-pane" id="docInterventions">
					<div class="card direct-chat">
						<div class="card-header">
							<h3 class="card-title">Documents de cette intervention</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							{% if docs %}
								<table id="example2" class="table">
									<tbody>
										{% for doc in docs %}
											{% if doc.Parametre == intervention.id %}
												<tr>
													<td>
														<div class="d-flex flex-column">
															<div>
																<a target="_blank" href="{{ asset('doc/Lhermitte_freres/Affaires/' ~ doc.file)}}">{{ doc.file }}</a>
															</div>
															<div>
																<i>
																	<span class="float-left">{{ doc.user.Pseudo}}</span>
																</i>
																<i>
																	<span class="float-right">{{ doc.createdAt|date("d-m-Y H:i")}}</span>
																</i>
															</div>
														</div>
													</td>
												</tr>
											{% endif %}
										{% endfor %}
									</tbody>
								</table>

							{% else %}
								<h4 class="text-left text-dark m-2">
									<i class="fas fa-info-circle pr-2 text-primary"></i>Pas de document pour cette intervention....
								</h4>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="tab-pane" id="docAffaire">
					<div class="card direct-chat">
						<div class="card-header">
							<h3 class="card-title">Documents de cette affaire</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							{% if docs %}
								<table id="example3" class="table">
									<tbody>
										{% for doc in docs %}
											<tr>
												<td>
													<div class="d-flex flex-column">
														<div>
															<a target="_blank" href="{{ asset('doc/Lhermitte_freres/Affaires/' ~ doc.file)}}">{{ doc.file }}</a>
														</div>
														<div>
															<i>
																<span class="float-left">{{ doc.user.Pseudo}}</span>
															</i>
															<i>
																<span class="float-right">{{ doc.createdAt|date("d-m-Y H:i")}}</span>
															</i>
														</div>
													</div>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% else %}
								<h4 class="text-left text-dark m-2">
									<i class="fas fa-info-circle pr-2 text-primary"></i>Pas de document pour cette intervention....
								</h4>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="card-footer p-0">
					{{ form_start(formFiles, { attr: { 'accept-charset' : 'utf-8', 'type' : 'file' }}) }}
					<div class="input-group mb-2">
						{{ form_label(formFiles.file) }}
						{{ form_widget(formFiles.file, {'attr' : { 'class': 'form-control' }, 'type' : 'file' })}}
						{{ form_widget(formFiles.importer, {'label': "Télécharger", 'attr' : { 'class': 'text-white btn btn-dark btn-outline-secondary' }})}}
					</div>
					{{ form_end(formFiles) }}
				</div>
			</div>
		</div>
	</div>
	{% include 'components/modal_search_product.html.twig' %}
	<div class="card">
		<div class="card-header">
			<h2 class="card-title">Détail de l'intervention</h2>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			{% if produits %}
				<table class="table table-bordered table-striped" id="example1">
					<thead>
						<tr>
							<th>Désignation</th>
							<th class="text-center">Qte</th>
							<th>U.V</th>
							<th>Ref</th>
							<th>Sref1</th>
							<th>Sref2</th>
							<th class="text-center">Op</th>
							<th class="text-center">Ean.</th>
							<th class="text-center">Cmd Fou.</th>
							<th class="text-center">Stock</th>
							<th class="text-center">Date Ferm.</th>
						</tr>
					</thead>
					<tbody>
						{% for produit in produits %}
							<tr>
								<td>
									<a href="#" class="open-modal" data-ean="{{ produit.ean }}">
										{{ produit.designation }}
									</a>
								</td>
								<td class="text-center">
									{% if produit.blQte > 0 %}
										{{produit.blQte}}
									{% else %}
										{{produit.cmdQte}}
									{% endif %}
								</td>
								<td class="text-center">{{ produit.uv}}</td>
								<td>{{ produit.ref}}</td>
								<td>{{ produit.sref1 }}</td>
								<td>{{ produit.sref2 }}</td>
								<td class="text-center">{{ produit.op}}</td>
								<td class="text-center">
									{% if produit.ean %}
										{{ produit.ean}}{% else %}aucun
									{% endif %}
								</td>
								<td class="text-center">
									{% if produit.cmdFou != 0 %}
										{{ produit.cmdFou}}
									{% endif %}
								</td>
								<td class="text-center">
									{% if produit.stock %}
										{{ produit.stock}}
									{% endif %}
								</td>
								<td class="text-center">
									{% if produit.codeSref == 1 %}
										{{produit.ferme}}
									{% else %}
										{{produit.fermeSart}}
									{% endif %}
								</td>
							</tr>
							<tr>
								<td colspan="11">
									{% if produit.note %}
										<p>
											<span class="badge badge-info text-white">
												Note :
												{{ produit.note|raw|striptags }}
											</span>
										</p>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
				{% else %}
					</tbody>
					<h4 class="text-left text-dark">
						<i class="fas fa-info-circle pr-2 text-primary"></i>Pas de piéce pour cette intervention....
					</h4>
				{% endif %}
			</table>
		</div>
	</div>
	{% if retraits %}
		<div class="card">
			<div class="card-header">
				<h2 class="card-title">Liste des retraits de Marchandise pour cette affaire</h2>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<table id="example13" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Désignation</th>
							<th class="text-center">Qte</th>
							<th>U.V</th>
							<th>Ref</th>
							<th>Sref1</th>
							<th>Sref2</th>
							<th class="text-center">Retiré par</th>
							<th class="text-center">Retiré le</th>
						</tr>
					</thead>
					<tbody>
						{% for retrait in retraits %}
							<tr>
								<td>
									<a href="#" class="open-modal" data-ean="{{ retrait.ean }}">
										{{ retrait.designation }}
									</a>
								</td>
								<td class="text-center">{{ retrait.qte}}</td>
								<td class="text-center">{{ retrait.uv}}</td>
								<td>{{ retrait.ref}}</td>
								<td>{{ retrait.sref1 }}</td>
								<td>{{ retrait.sref2 }}</td>
								<td class="text-center">{{ retrait.createdBy.pseudo}}</td>
								<td class="text-center">{{ retrait.createdAt|date("d-m-Y H:i") }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>{{ productFormScript | raw }}</script>
	<script>
		$(document).ready(function () {
$('.open-modal').click(function (e) {
e.preventDefault();

// Récupérer la valeur de "ean" à partir de l'attribut data
var eanValue = $(this).data('ean');

// Remplir le champ "ean" avec la valeur récupérée
$('#ean').val(eanValue);

// Déclencher l'événement "change" sur le champ "ean"
$('#ean').change();
// Ouvrir la modal
$('#productModal').modal('show');
});
});
	</script>
{% endblock %}
