{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-10">
					<div class='d-flex'>
						<h1>{{app.request.attributes.get('commercial')}}</h1>
					</div>
				</div>
				{% if app.request.attributes.get('dos') == 1 %}
					{% set commerciaux = 'app_states_commerciaux_dd_dfLh' %}
				{% elseif app.request.attributes.get('dos') == 3 %}
					{% set commerciaux = 'app_states_commerciaux_dd_df' %}
				{% endif %}
				<div class="col-sm-2 text-right">
					<a class="btn btn-secondary" href="{{path(commerciaux, {'dos' : app.request.attributes.get('dos'),'metier' : app.request.attributes.get('metier'),'dd' : dd, 'df' : df})}}">Commerciaux</a>
					<a class="ml-1 btn btn-success" href="{{path('app_resume_states_dd_df', {'dos' : app.request.attributes.get('dos'),'metier' : app.request.attributes.get('metier'),'dd' : dd, 'df' : df})}}">Résumé</a>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>

	<!-- Section Famille client -->
	<section class="content">
		<div class="container-fluid">
			<div class="card card-lightblue">
				<div class="card-header">
					<h3 class="card-title">Par famille de client pour
						{{app.request.attributes.get('commercial')}}</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="maximize">
							<i class="fas fa-expand"></i>
						</button>
					</div>
				</div>
				<div class="card-body">
					<div class="">
						<div class="col-md-12">
							<h1 class="pt-4">TOP DES FAMILLES CLIENTS</h1>
							<span>* Année de référence</span>
							<table id="example2" class="table table-sm">
								<thead>
									<tr class="text-center">
										<th style="width: 10px">Top</th>
										<th class="text-left">Famille client</th>
										<th class="table-info">
											{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 3 }}
											au
											{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 3 }}
										</th>
										<th class="table-info">% CA</th>
										<th class="table-success">
											{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 2 }}
											au
											{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 2 }}
										</th>
										<th class="table-success">% CA</th>
										<th class="table-danger">
											{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 1 }}
											au
											{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 1 }}
										</th>
										<th class="table-danger">% CA</th>
										<th class="table-warning">
											{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") }}
											au
											{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") }}
											*</th>
										<th class="table-warning">% CA</th>
									</tr>
								</thead>
							</th>
						</tr>
					</thead>
					<tbody>
						{% set famClient = 1 %}
						{% for topFamilleClient in topFamilleClients %}
							<tr class="text-center">
								<td class="align-middle">{{ famClient }}</td>
								<td class="text-left align-middle">{{ topFamilleClient.familleClient }}</td>
								<td class="align-middle table-info">
									{{ topFamilleClient.montantN3|format_currency('EUR', locale='fr') }}
								</td>
								<td class="table-info">
									{% if topFamilleClient.montantN3 > 0 %}
										{{ (( topFamilleClient.montantN3 * 100 ) / totaux[0].montantN3 )|number_format(2, '.', ' ') }}
									{% endif %}
								</td>
								<td class="align-middle table-success">
									{% if topFamilleClient.montantN2 != 0 and topFamilleClient.montantN3 != 0 %}
										{% set deltaFamilleClientN2 = ((topFamilleClient.montantN2 / topFamilleClient.montantN3) - 1) %}
										{% if deltaFamilleClientN2 > 0 %}
											{% set colorDeltaFamilleClientN2 = 'success' %}
										{% elseif deltaFamilleClientN2 == 0  %}
											{% set colorDeltaFamilleClientN2 = 'warning' %}
										{% elseif deltaFamilleClientN2 < 0  %}
											{% set colorDeltaFamilleClientN2 = 'danger' %}
										{% endif %}
									{% else %}
										{% set colorDeltaFamilleClientN2 = 'warning' %}
										{% set deltaFamilleClientN2 = 0 %}
									{% endif %}
									{{ topFamilleClient.montantN2|format_currency('EUR', locale='fr') }}
									<span class="badge bg-{{colorDeltaFamilleClientN2}} ml-2">{{ deltaFamilleClientN2|format_percent_number }}</span>
								</td>
								<td class="table-success">
									{% if topFamilleClient.montantN2 > 0 %}
										{{ (( topFamilleClient.montantN2 * 100 ) / totaux[0].montantN2 )|number_format(2, '.', ' ') }}
									{% endif %}
								</td>
								<td class="align-middle table-danger">
									{% if topFamilleClient.montantN1 != 0 and topFamilleClient.montantN2 != 0 %}
										{% set deltaFamilleClientN1 = ((topFamilleClient.montantN1 / topFamilleClient.montantN2) - 1) %}
										{% if deltaFamilleClientN1 > 0 %}
											{% set colorDeltaFamilleClientN1 = 'success' %}
										{% elseif deltaFamilleClientN1 == 0  %}
											{% set colorDeltaFamilleClientN1 = 'warning' %}
										{% elseif deltaFamilleClientN1 < 0  %}
											{% set colorDeltaFamilleClientN1 = 'danger' %}
										{% endif %}
									{% else %}
										{% set colorDeltaFamilleClientN1 = 'warning' %}
										{% set deltaFamilleClientN1 = 0 %}
									{% endif %}
									{{ topFamilleClient.montantN1|format_currency('EUR', locale='fr') }}
									<span class="badge bg-{{colorDeltaFamilleClientN1}} ml-2">{{ deltaFamilleClientN1|format_percent_number }}</span>
								</td>
								<td class="table-danger">
									{% if topFamilleClient.montantN1 > 0 %}
										{{ (( topFamilleClient.montantN1 * 100 ) / totaux[0].montantN1 )|number_format(2, '.', ' ') }}
									{% endif %}
								</td>
								<td class="align-middle table-warning">
									{% if topFamilleClient.montantN1 != 0 and topFamilleClient.montantN != 0 %}
										{% set deltaFamilleClientN = ((topFamilleClient.montantN / topFamilleClient.montantN1) - 1) %}
										{% if deltaFamilleClientN > 0 %}
											{% set colorDeltaFamilleClientN = 'success' %}
										{% elseif deltaFamilleClientN == 0  %}
											{% set colorDeltaFamilleClientN = 'warning' %}
										{% elseif deltaFamilleClientN < 0  %}
											{% set colorDeltaFamilleClientN = 'danger' %}
										{% endif %}
									{% else %}
										{% set colorDeltaFamilleClientN = 'warning' %}
										{% set deltaFamilleClientN = 0 %}
									{% endif %}
									{{ topFamilleClient.montantN|format_currency('EUR', locale='fr') }}
									<span class="badge bg-{{colorDeltaFamilleClientN}} ml-2">{{ deltaFamilleClientN|format_percent_number }}</span>
								</td>
								<td class="table-warning">
									{% if topFamilleClient.montantN > 0 %}
										{{ (( topFamilleClient.montantN * 100 ) / totaux[0].montantN )|number_format(2, '.', ' ') }}
									{% endif %}
								</td>
							</tr>
							{% set famClient = famClient + 1 %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-md-12">
			<div class="chart">
				<canvas id="barChartCommercialClient" style="min-height: 250px; height: 90%; max-height: 90%; max-width: 90%;"></canvas>
			</div>
		</div>
		<!-- /.row -->

		<div class="col-md-12">
			<h1 class="pt-4">TOP DES CLIENTS</h1>
			<span>* Année de référence</span>
			<table id="example1" class="table table-sm">
				<thead>
					<tr class="text-center">
						<th style="width: 10px">Top</th>
						<th class="text-left">client</th>
						<th>{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 3 }}
							au
							{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 3 }}</th>
						<th>{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 2 }}
							au
							{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 2 }}</th>
						<th>{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 1 }}
							au
							{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 1 }}</th>
						<th>{{ app.request.attributes.get('dd')|date("d-m-Y") }}
							au
							{{ app.request.attributes.get('df')|date("d-m-Y") }}*
						</th>
					</tr>
				</thead>
				<tbody>
					{% set client = 1 %}
					{% for topClient in topClients %}
						<tr class="text-center">
							<td class="align-middle">{{ client }}</td>
							<td class="text-left align-middle">{{ topClient.nom }}</td>
							<td class="align-middle">
								{{ topClient.montantN3|format_currency('EUR', locale='fr') }}
							</td>
							<td class="align-middle">
								{% if topClient.montantN2 != 0 and topClient.montantN3 != 0 %}
									{% set deltaN2 = ((topClient.montantN2 / topClient.montantN3) - 1) %}
									{% if deltaN2 > 0 %}
										{% set colorDeltaN2 = 'success' %}
									{% elseif deltaN2 == 0  %}
										{% set colorDeltaN2 = 'warning' %}
									{% elseif deltaN2 < 0  %}
										{% set colorDeltaN2 = 'danger' %}
									{% endif %}
								{% else %}
									{% set colorDeltaN2 = 'warning' %}
									{% set deltaN2 = 0 %}
								{% endif %}
								{{ topClient.montantN2|format_currency('EUR', locale='fr') }}
								<span class="badge bg-{{colorDeltaN2}} ml-2">{{ deltaN2|format_percent_number }}</span>
							</td>
							<td class="align-middle">
								{% if topClient.montantN1 != 0 and topClient.montantN2 != 0 %}
									{% set deltaN1 = ((topClient.montantN1 / topClient.montantN2) - 1) %}
									{% if deltaN1 > 0 %}
										{% set colorDeltaN1 = 'success' %}
									{% elseif deltaN1 == 0  %}
										{% set colorDeltaN1 = 'warning' %}
									{% elseif deltaN1 < 0  %}
										{% set colorDeltaN1 = 'danger' %}
									{% endif %}
								{% else %}
									{% set colorDeltaN1 = 'warning' %}
									{% set deltaN1 = 0 %}
								{% endif %}
								{{ topClient.montantN1|format_currency('EUR', locale='fr') }}
								<span class="badge bg-{{colorDeltaN1}} ml-2">{{ deltaN1|format_percent_number }}</span>
							</td>
							<td class="align-middle">
								{% if topClient.montantN1 != 0 and topClient.montantN != 0 %}
									{% set deltaN = ((topClient.montantN / topClient.montantN1) - 1) %}
									{% if deltaN > 0 %}
										{% set colorDeltaN = 'success' %}
									{% elseif deltaN == 0  %}
										{% set colorDeltaN = 'warning' %}
									{% elseif deltaN < 0  %}
										{% set colorDeltaN = 'danger' %}
									{% endif %}
								{% else %}
									{% set colorDeltaN = 'warning' %}
									{% set deltaN = 0 %}
								{% endif %}
								{{ topClient.montantN|format_currency('EUR', locale='fr') }}
								<span class="badge bg-{{colorDeltaN}} ml-2">{{ deltaN|format_percent_number }}</span>
							</td>
						</tr>
						{% set client = client + 1 %}
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div></div><!-- /.container-fluid --></section><!-- /.content --><!-- Section Famille produit --><section class="content"><div class="container-fluid">
<div class="card card-olive">
	<div class="card-header">
		<h3 class="card-title">Par famille de produit pour
			{{app.request.attributes.get('commercial')}}</h3>
		<div class="card-tools">
			<button type="button" class="btn btn-tool" data-card-widget="maximize">
				<i class="fas fa-expand"></i>
			</button>
		</div>
	</div>
	<div class="card-body">
		<div class="">
			<div class="col-md-12">
				<h1 class="pt-4">TOP DES FAMILLES PRODUITS</h1>
				<span>* Année de référence</span>
				<table id="example20" class="table table-sm">
					<thead>
						<tr class="text-center">
							<th style="width: 10px">Top</th>
							<th class="text-left">Famille Produit</th>
							<th class="table-info">
								{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 3 }}
								au
								{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 3 }}
							</th>
							<th class="table-info">% CA</th>
							<th class="table-success">
								{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 2 }}
								au
								{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 2 }}
							</th>
							<th class="table-success">% CA</th>
							<th class="table-danger">
								{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 1 }}
								au
								{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 1 }}
							</th>
							<th class="table-danger">% CA</th>
							<th class="table-warning">
								{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") }}
								au
								{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") }}
								*</th>
							<th class="table-warning">% CA</th>
						</tr>
					</thead>
				</th>
			</tr>
		</thead>
		<tbody>
			{% set famProduit = 1 %}
			{% for topFamilleProduit in topFamilleProduits %}
				<tr class="text-center">
					<td class="align-middle">{{ famProduit }}</td>
					<td class="text-left align-middle">{{ topFamilleProduit.familleProduit }}</td>
					<td class="align-middle table-info">
						{{ topFamilleProduit.montantN3|format_currency('EUR', locale='fr') }}
					</td>
					<td class="table-info">
						{% if topFamilleProduit.montantN3 > 0 %}
							{{ (( topFamilleProduit.montantN3 * 100 ) / totaux[0].montantN3 )|number_format(2, '.', ' ') }}
						{% endif %}
					</td>
					<td class="align-middle table-success">
						{% if topFamilleProduit.montantN2 != 0 and topFamilleProduit.montantN3 != 0 %}
							{% set deltaFamilleProduitN2 = ((topFamilleProduit.montantN2 / topFamilleProduit.montantN3) - 1) %}
							{% if deltaFamilleProduitN2 > 0 %}
								{% set colorDeltaFamilleProduitN2 = 'success' %}
							{% elseif deltaFamilleProduitN2 == 0  %}
								{% set colorDeltaFamilleProduitN2 = 'warning' %}
							{% elseif deltaFamilleProduitN2 < 0  %}
								{% set colorDeltaFamilleProduitN2 = 'danger' %}
							{% endif %}
						{% else %}
							{% set colorDeltaFamilleProduitN2 = 'warning' %}
							{% set deltaFamilleProduitN2 = 0 %}
						{% endif %}
						{{ topFamilleProduit.montantN2|format_currency('EUR', locale='fr') }}
						<span class="badge bg-{{colorDeltaFamilleProduitN2}} ml-2">{{ deltaFamilleProduitN2|format_percent_number }}</span>
					</td>
					<td class="table-success">
						{% if topFamilleProduit.montantN2 > 0 %}
							{{ (( topFamilleProduit.montantN2 * 100 ) / totaux[0].montantN2 )|number_format(2, '.', ' ') }}
						{% endif %}
					</td>
					<td class="align-middle table-danger">
						{% if topFamilleProduit.montantN1 != 0 and topFamilleProduit.montantN2 != 0 %}
							{% set deltaFamilleProduitN1 = ((topFamilleProduit.montantN1 / topFamilleProduit.montantN2) - 1) %}
							{% if deltaFamilleProduitN1 > 0 %}
								{% set colorDeltaFamilleProduitN1 = 'success' %}
							{% elseif deltaFamilleProduitN1 == 0  %}
								{% set colorDeltaFamilleProduitN1 = 'warning' %}
							{% elseif deltaFamilleProduitN1 < 0  %}
								{% set colorDeltaFamilleProduitN1 = 'danger' %}
							{% endif %}
						{% else %}
							{% set colorDeltaFamilleProduitN1 = 'warning' %}
							{% set deltaFamilleProduitN1 = 0 %}
						{% endif %}
						{{ topFamilleProduit.montantN1|format_currency('EUR', locale='fr') }}
						<span class="badge bg-{{colorDeltaFamilleProduitN1}} ml-2">{{ deltaFamilleProduitN1|format_percent_number }}</span>
					</td>
					<td class="table-danger">
						{% if topFamilleProduit.montantN1 > 0 %}
							{{ (( topFamilleProduit.montantN1 * 100 ) / totaux[0].montantN1 )|number_format(2, '.', ' ') }}
						{% endif %}
					</td>
					<td class="align-middle table-warning">
						{% if topFamilleProduit.montantN1 != 0 and topFamilleProduit.montantN != 0 %}
							{% set deltaFamilleProduitN = ((topFamilleProduit.montantN / topFamilleProduit.montantN1) - 1) %}
							{% if deltaFamilleProduitN > 0 %}
								{% set colorDeltaFamilleProduitN = 'success' %}
							{% elseif deltaFamilleProduitN == 0  %}
								{% set colorDeltaFamilleProduitN = 'warning' %}
							{% elseif deltaFamilleProduitN < 0  %}
								{% set colorDeltaFamilleProduitN = 'danger' %}
							{% endif %}
						{% else %}
							{% set colorDeltaFamilleProduitN = 'warning' %}
							{% set deltaFamilleProduitN = 0 %}
						{% endif %}
						{{ topFamilleProduit.montantN|format_currency('EUR', locale='fr') }}
						<span class="badge bg-{{colorDeltaFamilleProduitN}} ml-2">{{ deltaFamilleProduitN|format_percent_number }}</span>
					</td>
					<td class="table-warning">
						{% if topFamilleProduit.montantN > 0 %}
							{{ (( topFamilleProduit.montantN * 100 ) / totaux[0].montantN )|number_format(2, '.', ' ') }}
						{% endif %}
					</td>
				</tr>
				{% set famProduit = famProduit + 1 %}
			{% endfor %}
		</tbody>
	</table>
</div></div><!-- /.row --><div class="col-md-12">
<div class="chart">
	<canvas id="barChartCommercialProduit" style="min-height: 250px; height: 90%; max-height: 90%; max-width: 90%;"></canvas>
</div></div><div class="col-md-12">
<h1 class="pt-4">TOP DES PRODUITS</h1>
<span>* Année de référence</span>
<table id="example10" class="table table-sm">
	<thead>
		<tr class="text-center">
			<th style="width: 10px">Top</th>
			<th class="text-left">Référence</th>
			<th class="text-left">Sref1</th>
			<th class="text-left">Sref2</th>
			<th class="text-left">Désignation</th>
			<th class="text-left">Famille</th>
			<th>{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 3 }}
				au
				{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 3 }}</th>
			<th>{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 2 }}
				au
				{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 2 }}</th>
			<th>{{ app.request.attributes.get('dd')|date("d-m") }}-{{ app.request.attributes.get('dd')|date("Y") - 1 }}
				au
				{{ app.request.attributes.get('df')|date("d-m") }}-{{ app.request.attributes.get('df')|date("Y") - 1 }}</th>
			<th>{{ app.request.attributes.get('dd')|date("d-m-Y") }}
				au
				{{ app.request.attributes.get('df')|date("d-m-Y") }}*
			</th>
		</tr>
	</thead>
	<tbody>
		{% set produit = 1 %}
		{% for topProduit in topProduits %}
			<tr class="text-center">
				<td class="align-middle">{{ produit }}</td>
				<td class="text-left align-middle">{{ topProduit.ref }}</td>
				<td class="text-left align-middle">{{ topProduit.sref1 }}</td>
				<td class="text-left align-middle">{{ topProduit.sref2 }}</td>
				<td class="text-left align-middle">{{ topProduit.designation }}</td>
				<td class="text-left align-middle">{{ topProduit.familleProduit }}</td>
				<td class="align-middle">
					{{ topProduit.montantN3|format_currency('EUR', locale='fr') }}
				</td>
				<td class="align-middle">
					{% if topProduit.montantN2 != 0 and topProduit.montantN3 != 0 %}
						{% set deltaN2 = ((topProduit.montantN2 / topProduit.montantN3) - 1) %}
						{% if deltaN2 > 0 %}
							{% set colorDeltaN2 = 'success' %}
						{% elseif deltaN2 == 0  %}
							{% set colorDeltaN2 = 'warning' %}
						{% elseif deltaN2 < 0  %}
							{% set colorDeltaN2 = 'danger' %}
						{% endif %}
					{% else %}
						{% set colorDeltaN2 = 'warning' %}
						{% set deltaN2 = 0 %}
					{% endif %}
					{{ topProduit.montantN2|format_currency('EUR', locale='fr') }}
					<span class="badge bg-{{colorDeltaN2}} ml-2">{{ deltaN2|format_percent_number }}</span>
				</td>
				<td class="align-middle">
					{% if topProduit.montantN1 != 0 and topProduit.montantN2 != 0 %}
						{% set deltaN1 = ((topProduit.montantN1 / topProduit.montantN2) - 1) %}
						{% if deltaN1 > 0 %}
							{% set colorDeltaN1 = 'success' %}
						{% elseif deltaN1 == 0  %}
							{% set colorDeltaN1 = 'warning' %}
						{% elseif deltaN1 < 0  %}
							{% set colorDeltaN1 = 'danger' %}
						{% endif %}
					{% else %}
						{% set colorDeltaN1 = 'warning' %}
						{% set deltaN1 = 0 %}
					{% endif %}
					{{ topProduit.montantN1|format_currency('EUR', locale='fr') }}
					<span class="badge bg-{{colorDeltaN1}} ml-2">{{ deltaN1|format_percent_number }}</span>
				</td>
				<td class="align-middle">
					{% if topProduit.montantN != 0 and topProduit.montantN1 != 0 %}
						{% set deltaN = ((topProduit.montantN / topProduit.montantN1) - 1) %}
						{% if deltaN > 0 %}
							{% set colorDeltaN = 'success' %}
						{% elseif deltaN == 0  %}
							{% set colorDeltaN = 'warning' %}
						{% elseif deltaN < 0  %}
							{% set colorDeltaN = 'danger' %}
						{% endif %}
					{% else %}
						{% set colorDeltaN = 'warning' %}
						{% set deltaN = 0 %}
					{% endif %}
					{{ topProduit.montantN|format_currency('EUR', locale='fr') }}
					<span class="badge bg-{{colorDeltaN}} ml-2">{{ deltaN|format_percent_number }}</span>
				</td>
			</tr>
			{% set produit = produit + 1 %}
		{% endfor %}

	</tbody>
</table></div></div></div></div><!-- /.container-fluid --></section><!-- /.content -->{% endblock %}{% block javascripts %}<script>$(function () {
$("#example1").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "asc"]
],
"buttons": [
"copy",
"csv",
"excel",
"pdf",
"print",
"colvis"
]
}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
$("#example10").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "asc"]
],
"buttons": [
"copy",
"csv",
"excel",
"pdf",
"print",
"colvis"
]
}).buttons().container().appendTo('#example10_wrapper .col-md-6:eq(0)');
$("#example3").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "asc"]
],
"buttons": [
"copy",
"csv",
"excel",
"pdf",
"print",
"colvis"
]
}).buttons().container().appendTo('#example3_wrapper .col-md-6:eq(0)');
$('#example2').DataTable({
"paging": true,
"lengthChange": false,
"searching": false,
"ordering": false,
"info": true,
"autoWidth": false,
"responsive": true
});
$('#example20').DataTable({
"paging": true,
"lengthChange": false,
"searching": false,
"ordering": false,
"info": true,
"autoWidth": false,
"responsive": true
});
});</script><script>// Bar Chart Commercial Client
var names2 = {{ nomCommercialFamilleClient|raw }};
var colors2 = {{ couleurCommercialFamilleClient|raw }};
var data2 = {{ donneesCommercialFamilleClient|raw }};
var dates2 = {{ anneeCommercialFamilleClient|raw }};

new Chart('barChartCommercialClient', {
type: 'bar',
data: {
labels: dates2,
datasets: names2.map(
(ds, i) => ({label: names2[i], data: data2[i], borderColor: colors2[i], borderWidth: 3})
)
},
options: {
scales: {
y: {
min: 0
}
}
}
});</script><script>// Bar Chart Commercial produit
var names2 = {{ nomCommercialFamilleProduit|raw }};
var colors2 = {{ couleurCommercialFamilleProduit|raw }};
var data2 = {{ donneesCommercialFamilleProduit|raw }};
var dates2 = {{ anneeCommercialFamilleProduit|raw }};

new Chart('barChartCommercialProduit', {
type: 'bar',
data: {
labels: dates2,
datasets: names2.map(
(ds, i) => ({label: names2[i], data: data2[i], borderColor: colors2[i], borderWidth: 3})
)
},
options: {
scales: {
y: {
min: 0
}
}
}
});</script>{% endblock %}
