{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="card card-dark">
				<div class="card-header d-flex bd-highlight">
					<div class="p-2 flex-grow-1 bd-highlight">
						{% if app.request.attributes.get('_route')  == 'app_states_par_famille' or app.request.attributes.get('_route')  == 'app_states_par_famille_dd_df' or app.request.attributes.get('_route')  == 'app_states_par_familleLh' or app.request.attributes.get('_route')  == 'app_states_par_famille_dd_dfLh' %}
							{% set type = "produits" %}
						{% elseif app.request.attributes.get('_route')  == 'app_states_par_famille_clients' or app.request.attributes.get('_route')  == 'app_states_par_famille_clients_dd_df' or app.request.attributes.get('_route')  == 'app_states_par_famille_clientsLh' or app.request.attributes.get('_route')  == 'app_states_par_famille_clients_dd_dfLh' %}
							{% set type = "clients" %}
						{% endif %}
						<h3 class="card-title text-center">States
							{{ app.request.attributes.get('metier') }}
							par famille de
							{{ type }}
							{% if trancheD and trancheF %}
								{{ trancheF }}
								et
								{{ trancheD }}
							{% endif %}
						</h3>
					</div>
					<div class="p-2 bd-highlight">
						{{ form_start(form) }}
						<div class='d-flex'>
							<div class="p-1 mt-2">
								Veuillez selectionner la période :
							</div>
							<div class="p-1">
								{{ form_widget(form.startDate) }}
							</div>
							<div class="p-1">
								{{ form_widget(form.endDate) }}
							</div>
							<div class="p-1">
								{{ form_row(form.filtrer, { 'attr' : { 'class' : 'btn btn-xl btn-secondary' }}
								) }}
							</div>
							<div class="p-1">
								<a class="btn btn-success" href="{{path('app_resume_states_dd_df', {'dos' : app.request.attributes.get('dos'),'metier' : app.request.attributes.get('metier'),'dd' : dd, 'df' : df})}}">Résumé</a>
							</div>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					{% if familles %}

						<div class="row">
							<div class="col-sm-4 col-6">
								<div class="description-block border-right">
									<h1 class="description-header">{{ totaux[0].montantN1|format_currency('EUR', locale='fr') }}</h1>
									<span class="description-text">Total
										{{ trancheF }}
									</span>
								</div>
								<!-- /.description-block -->
							</div>
							<!-- /.col -->
							<div class="col-sm-4 col-6">
								{% if totaux[0].montantN - totaux[0].montantN1 > 0 %}
									{% set fleche = "up" %}
									{% set colFleche = "success" %}
								{% elseif totaux[0].montantN - totaux[0].montantN1 < 0 %}
									{% set fleche = "down" %}
									{% set colFleche = "danger" %}
								{% elseif totaux[0].montantN - totaux[0].montantN1 == 0 %}
									{% set fleche = "left" %}
									{% set colFleche = "warning" %}
								{% endif %}
								<div class="description-block border-right">
									<span class="description-percentage text-{{colFleche}}">
										<i class="fas fa-caret-{{fleche}}"></i>
										{{ ( ( (totaux[0].montantN - totaux[0].montantN1) / totaux[0].montantN1 ) * 100) |number_format(2, '.', ' ')}}
										%</span>
									<h5 class="description-header">{{ (totaux[0].montantN - totaux[0].montantN1)|format_currency('EUR', locale='fr') }}</h5>
									<span class="description-text">Delta</span>
								</div>
								<!-- /.description-block -->
							</div>
							<!-- /.col -->
							<div class="col-sm-4 col-6">
								<div class="description-block">
									<h1 class="description-header">{{ totaux[0].montantN|format_currency('EUR', locale='fr') }}</h1>
									<span class="description-text">Total
										{{ trancheD }}</span>
								</div>
								<!-- /.description-block -->
							</div>
						</div>
						<!-- /.row -->
						<div class="row">
							<div class="col-md-12">
								<div class="card card-primary">
									<div class="card-header">
										<h3 class="card-title text-center">Par famille de
											{{ type }}</h3>
										<div class="card-tools">
											<button type="button" class="btn btn-tool" data-card-widget="maximize">
												<i class="fas fa-expand"></i>
											</button>
										</div>
									</div>
									<div class='card-body d-flex flex-wrap'>

										<div class="chart col-12 col-sm-12 col-md-6">
											<canvas id="barChart" style="min-height: 250px; height: 415px; max-height: 100%; max-width: 100%;"></canvas>
										</div>


										<!-- AREA CHART -->
										<div class="card card-primary d-none">
											<div class="card-header">
												<h3 class="card-title">Non utilisé, mais fait bugger si on le retire</h3>

												<div class="card-tools">
													<button type="button" class="btn btn-tool" data-card-widget="collapse">
														<i class="fas fa-minus"></i>
													</button>
													<button type="button" class="btn btn-tool" data-card-widget="remove">
														<i class="fas fa-times"></i>
													</button>
												</div>
											</div>
											<div class="card-body">
												<div class="chart">
													<canvas id="areaChart" style="min-height: 250px; height: 250px; max-height: 94%; max-width: 94%;"></canvas>
												</div>
											</div>
											<!-- /.card-body -->
										</div>
										<!-- /.card -->

										<div class="col-12 col-sm-12 col-md-6">
											<table id="example2" class="table table-hover">
												<thead>
													<tr class='text-center'>
														<th>Famille</th>
														<th class='table-info'>{{ trancheF }}</th>
														<th class='table-info'>% CA</th>
														<th>Delta %</th>
														<th>Delta €</th>
														<th class='table-success'>{{ trancheD }}</th>
														<th class='table-success'>% CA</th>
													</tr>
												</thead>
												<tbody>
													{% for famille in familles %}
														<tr class='text-center'>
															<td>{{famille.famille}}</td>
															<td class='table-info'>
																{% if famille.montantN1 < 0 or famille.montantN1 > 0 %}
																	{{famille.montantN1|format_currency('EUR', locale='fr')}}
																{% endif %}
															</td>
															<td class='table-info'>
																{% if famille.montantN1 > 0 %}
																	{{ (( famille.montantN1 * 100 ) / totaux[0].montantN1 )|number_format(2, '.', ' ') }}
																	%
																{% endif %}
															</td>
															{% set color = "text-dark" %}
															{% if famille.montantN > 0 and famille.montantN1 > 0 %}
																{% set delta = ((famille.montantN - famille.montantN1) / famille.montantN1)* 100 %}
																{% if delta > 0 %}
																	{% set color = "text-success" %}
																{% elseif delta < 0 %}
																	{% set color = "text-danger" %}
																{% endif %}
																<td class="{{ color }}">
																	<b>{{ delta|number_format(2, '.', ' ') }}
																		%</b>
																</td>
															{% elseif famille.montantN > 0 and (famille.montantN1 == 0 or famille.montantN1 == "") %}
																{% set color = "text-success" %}
																<td class="{{ color }}">
																	<b>100 %</b>
																</td>
															{% elseif (famille.montantN == 0 or famille.montantN == "") and famille.montantN1 > 0 %}
																{% set color = "text-danger" %}
																<td class="{{ color }}">
																	<b>- 100 %</b>
																</td>
															{% else %}
																{% set color = "text-warning" %}
																<td class="{{ color }}">
																	<b>0 %</b>
																</td>
															{% endif %}
															{% if famille.montantN - famille.montantN1 > 0 %}
																{% set couleur = 'text-success' %}
															{% elseif famille.montantN - famille.montantN1 < 0 %}
																{% set couleur = 'text-danger' %}
															{% else %}
																{% set couleur = 'text-warning' %}
															{% endif %}
															<td class="{{ couleur }}">
																<b>{{(famille.montantN - famille.montantN1)|format_currency('EUR', locale='fr')}}</b>
															</td>
															<td class='table-success'>
																{% if famille.montantN < 0 or famille.montantN > 0 %}
																	{{famille.montantN|format_currency('EUR', locale='fr')}}
																{% endif %}
															</td>
															<td class='table-success'>
																{% if famille.montantN > 0 %}
																	{{ (( famille.montantN * 100 ) / totaux[0].montantN )|number_format(2, '.', ' ') }}
																	%
																{% endif %}
															</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>

								{% else %}
									<h5 class="text-left text-dark">
										<i class="fas fa-info-circle pr-2 text-info"></i>Pas de states pour cette période !</h5>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
				{% if states %}
					<div class="row">
						<div class="col-md-12">
							<div class="card card-warning">
								<div class="card-header">
									<h3 class="card-title text-center">Détail clients par famille de
										{{ type }}</h3>
									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="maximize">
											<i class="fas fa-expand"></i>
										</button>
									</div>
								</div>
								<div class="card-body">
									<table id="example1" class="table table-bordered table-striped">
										<thead>
											<tr class='text-center'>
												<th>Tiers</th>
												<th>Nom</th>
												<th>Famille</th>
												<th>{{ trancheF }}</th>
												<th>Delta %</th>
												<th>Delta €</th>
												<th>{{ trancheD }}</th>
											</tr>
										</thead>
										<tbody>
											{% for state in states %}
												<tr class='text-center'>
													<td>{{state.tiers}}</td>
													<td>{{state.nom}}</td>
													<td>{{state.famille}}</td>
													<td>{{state.montantN1|format_currency('EUR', locale='fr')}}</td>
													{% set color = "text-dark" %}
													{% if state.montantN > 0 and state.montantN1 > 0 %}
														{% set delta = ((state.montantN - state.montantN1) / state.montantN1)* 100 %}
														{% if delta > 0 %}
															{% set color = "text-success" %}
														{% elseif delta < 0 %}
															{% set color = "text-danger" %}
														{% endif %}
														<td class="{{ color }}">
															<b>{{ delta|number_format(2, '.', ' ') }}
																%</b>
														</td>
													{% elseif state.montantN > 0 and (state.montantN1 == 0 or state.montantN1 == "") %}
														{% set color = "text-success" %}
														<td class="{{ color }}">
															<b>100 %</b>
														</td>
													{% elseif (state.montantN == 0 or state.montantN == "") and state.montantN1 > 0 %}
														{% set color = "text-danger" %}
														<td class="{{ color }}">
															<b>- 100 %</b>
														</td>
													{% else %}
														{% set color = "text-warning" %}
														<td class="{{ color }}">
															<b>0 %</b>
														</td>
													{% endif %}
													{% if state.montantN - state.montantN1 > 0 %}
														{% set couleur = 'text-success' %}
													{% elseif state.montantN - state.montantN1 < 0 %}
														{% set couleur = 'text-danger' %}
													{% else %}
														{% set couleur = 'text-warning' %}
													{% endif %}
													<td class="{{ couleur }}">
														<b>{{(state.montantN - state.montantN1)|format_currency('EUR', locale='fr')}}</b>
													</td>
													<td>{{state.montantN|format_currency('EUR', locale='fr')}}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>

							{% else %}
								<h5 class="text-left text-dark">
									<i class="fas fa-info-circle pr-2 text-info"></i>Pas de states pour cette période !</h5>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}


	<script>
		$(function () {
$("#example1").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[6, "desc"]
],
"buttons": [
"copy",
"csv",
"excel",
"pdf",
"print",
"colvis"
]
}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
$("#example3").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": [
"copy",
"csv",
"excel",
"pdf",
"print",
"colvis"
]
}).buttons().container().appendTo('#example3_wrapper .col-md-6:eq(0)');
$('#example2').DataTable({
"paging": true,
"lengthChange": false,
"searching": false,
"ordering": false,
"info": true,
"autoWidth": false,
"responsive": true
});
});
	</script>

	<script>
		$(function () {
/* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */

// --------------
// - AREA CHART -
// --------------

// Get context with jQuery - using jQuery's .get() method.
var areaChartCanvas = $('#areaChart').get(0).getContext('2d')

var areaChartData = {
labels: {{ familleNom|raw }},
datasets: [
{
label: {{ trancheFJson|raw }},
backgroundColor: 'rgba(210, 214, 222, 1)',
borderColor: 'rgba(210, 214, 222, 1)',
pointRadius: false,
pointColor: 'rgba(210, 214, 222, 1)',
pointStrokeColor: '#c1c7d1',
pointHighlightFill: '#fff',
pointHighlightStroke: 'rgba(220,220,220,1)',
data: {{ familleMontantN1|raw }}
}, {
label: {{ trancheDJson|raw }},
backgroundColor: 'rgba(60,141,188,0.9)',
borderColor: 'rgba(60,141,188,0.8)',
pointRadius: false,
pointColor: '#3b8bba',
pointStrokeColor: 'rgba(60,141,188,1)',
pointHighlightFill: '#fff',
pointHighlightStroke: 'rgba(60,141,188,1)',
data: {{ familleMontantN|raw }}
},
]
}

var areaChartOptions = {
maintainAspectRatio: true,
responsive: true,
legend: {
display: true
},
scales: {
xAxes: [
{
gridLines: {
display: true
}
}
],
yAxes: [
{
gridLines: {
display: true
}
}
]
}
}


// -------------
// - BAR CHART -
// -------------
var barChartCanvas = $('#barChart').get(0).getContext('2d')
var barChartData = $.extend(true, {}, areaChartData)
var temp0 = areaChartData.datasets[1]
var temp1 = areaChartData.datasets[0]
barChartData.datasets[0] = temp1
barChartData.datasets[1] = temp0

var barChartOptions = {
responsive: true,
maintainAspectRatio: false,
datasetFill: false
}

new Chart(barChartCanvas, {
type: 'bar',
data: barChartData,
options: barChartOptions
})


})
	</script>

{% endblock %}
