{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="card collapsed-card card-info">
    <div class="card-header">
        <h3 class="card-title"><i class="icon fas fa-info-circle"></i> Info</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <p>Selectionnez le(s) fournisseur(s) souhaitez en commencant à saisir sont nom, le selectionnant puis en appuyant sur entrée</p>
        <p>Selectionnez le type d'export souhaité dans le menu déroulant</p>
        <p>Selectionnez la date de début et la date de fin</p>
        <p>Cliquez sur filtrer</p>
        <p>Si vous ne trouver pas un fournisseur, cliquez sur le bouton Mettre à jours la liste des fournisseurs</p>
    </div>
</div>

{% if totauxFournisseurs %}
<div class='row'>
<!-- /.col -->
<div class="col-md-12">
<div class="card card-secondary">
    <div class="card-header">
    <h3 class="card-title">Totaux par Fournisseur pour cette période</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class='text-center' style="width: 10px">Top</th>
            <th class='text-center' style="width: 80px">Tiers</th>
            <th class='text-left' >Nom</th>
            <th class='text-center bg-warning' >Dépôt</th>
            <th class='text-left'>Part du Dépôt de {{ totaux.montantDepot|number_format(2) }} €</th>
            <th class='text-center' style="width: 80px">% Dépôt</th>
            <th class='text-center bg-success'>Direct</th>
            <th class='text-left'>Part du Direct de {{ totaux.montantDirect|number_format(2) }} €</th>
            <th class='text-center' style="width: 80px">% Direct</th>
            <th class='text-center bg-primary'>Total</th>
            <th class='text-left'>Part du total de {{ totaux.montant|number_format(2) }} €</th>
            <th class='text-center' style="width: 80px">% Total</th>
        </tr>
        </thead>
        <tbody>
        {% set top = 1 %}
        {% for totauxFournisseur in totauxFournisseurs %}
                {% set progressTotauxDepot = 0 %}
                {% set progressTotauxDirect = 0 %}
                {% set progressTotauxTotaux = 0 %}
            <tr>
                <td class='text-center'>{{ top }}</td>
                <td class='text-center'>{{ totauxFournisseur.tiers }}</td>
                <td class='text-left'>{{ totauxFournisseur.nom }}</td>
                <!-- Pourcentage Dépôt -->
                <td class='text-center bg-warning'>{{ totauxFournisseur.montantDepot|number_format(2) }} €</td>
                <td class='text-left'>
                {% if totaux.montantDepot and totauxFournisseur.montantDepot %}
                    {% set progressTotauxDepot = (totauxFournisseur.montantDepot / totaux.montantDepot) %}
                {% endif %}
                
                <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" style="width: {{ progressTotauxDepot * 100 }}%"></div>
                </div>
                </td>
                <td class='text-center'><span class="badge bg-warning">{{ progressTotauxDepot|format_number(style='percent') }}</span></td>

                <!-- Pourcentage Direct -->
                <td class='text-center bg-success'>{{ totauxFournisseur.montantDirect|number_format(2) }} €</td>
                <td class='text-left'>
                {% if totaux.montantDirect > 0 and totauxFournisseur.montantDirect > 0 %}
                    {% set progressTotauxDirect = (totauxFournisseur.montantDirect / totaux.montantDirect) %}
                {% endif %}
                
                <div class="progress progress-xs">
                    <div class="progress-bar bg-success" style="width: {{ progressTotauxDirect * 100 }}%"></div>
                </div>
                </td>
                <td class='text-center'><span class="badge bg-success">{{ progressTotauxDirect|format_number(style='percent') }}</span></td>

                <!-- Pourcentage Total -->
                <td class='text-center bg-primary'>{{ totauxFournisseur.montant|number_format(2) }} €</td>
                <td class='text-left'>
                {% if totaux.montant and totauxFournisseur.montant %}
                    {% set progressTotaux = (totauxFournisseur.montant / totaux.montant) %}
                {% endif %}
                
                <div class="progress progress-xs">
                    <div class="progress-bar bg-primary" style="width: {{ progressTotaux * 100 }}%"></div>
                </div>
                </td>
                <td class='text-center'><span class="badge bg-primary">{{ progressTotaux|format_number(style='percent') }}</span></td>
            </tr>
            {% set top = top + 1 %}
        {% endfor %}
        </tbody>
    </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>

{% endif %}


<div class="row">
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header d-flex justify-content-between">
                <h2 class="card-title">Liste des achats fournisseurs par produit</h2>
                <div class='ml-auto'>
                    <a title = 'Metre à jour les fournisseurs' href="{{ path('app_fournisseurs_divalto') }}" class="btn btn-primary "><i class="fas fa-redo-alt pr-2"></i>Mettre à jour la liste des fournisseurs</a>                   
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ form_start(form) }}
                <div>{{ form_label(form.fournisseurs) }}</div>
                <div>{{ form_widget(form.fournisseurs) }}</div>
                <div>{{ form_label(form.type) }}</div>
                <div>{{ form_widget(form.type) }}</div>
              <div class="d-flex flex-wrap justify-content-around align-items-center p-2">
			  	<div><strong>Veuillez selectionner la période :</strong></div>
                <div>{{ form_label(form.start) }}</div>
                <div>{{ form_widget(form.start) }}</div>
                <div>{{ form_label(form.end) }}</div>
				<div>{{ form_widget(form.end) }}</div>
				<div>{{ form_widget(form.filtrer) }}</div>
			  </div>
				<hr>
				{{ form_end(form) }}
                    {% if states %}
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center"><span>Tiers</span></th>
                            <th class="text-center"><span>Référence</span></th>
                            <th class="text-center"><span>Sref1</span></th>
                            <th class="text-center"><span>Sref2</span></th>
                            <th class="text-center"><span>Désignation</span></th>
                            <th class="text-center"><span>Qte</span></th>
                            <th class="text-center"><span>Prix Unitaire</span></th>
                            <th class="text-center"><span>Montant</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for state in states %}
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.tiers }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.ref }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.sref1}}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ state.sref2}}</a>
                                        </td>
                                        <td class="text-left">
                                            <a class="text-dark">{{ state.designation }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">
                                         
                                                {{ state.qte }}
                                          
                                            </a>
                                        </td>                                      
                                        <td class="text-center">
                                            <a class="text-dark">
                                            {% if state.qte != 0 and state.montant != 0 %}
                                                {{ (state.montant / state.qte)|number_format(5)}} €
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">
                                            {% if state.montant != 0 %}
                                                {{ state.montant|number_format(2)}} €
                                            {% endif %}
                                            </a>
                                        </td>
                                    </tr>                   
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-center"><span>Tiers</span></th>
                            <th class="text-center"><span>Référence</span></th>
                            <th class="text-center"><span>Sref1</span></th>
                            <th class="text-center"><span>Sref2</span></th>
                            <th class="text-center"><span>Désignation</span></th>
                            <th class="text-center"><span>Qte</span></th>
                            <th class="text-center"><span>Prix Unitaire</span></th>
                            <th class="text-center"><span>Montant</span></th>
                        </tr>
                        </tr>
                    </tfoot>
                </table>
                        {% else %}
                                <h4 class="text-left text-dark"><i class="fas fa-info-circle pr-2 text-primary"></i>Aucuns achats fournisseurs à afficher</h4>
                    {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock %}


