{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header d-flex justify-content-between">
                        <h3 class="card-title text-center">Liste des clients</h3>
                        {{ form_start(clientForm, { 'attr' : { 'class' : 'ml-auto' }} ) }}
                        <div class='d-flex'>
                        <div class="p-1 mt-2">
                        Selectionnez le commercial : 
                        </div>
                        <div class="p-1">
                             {{ form_row(clientForm.commercial) }}
                        </div>
                        
                        <div class="p-1">
                            {{ form_row(clientForm.Modifier)}}
                        </div>
                        </div>
                        {{ form_end(clientForm)}}
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>Commercial</span></th>
                                    <th class="text-center"><span>Code Tiers</span></th>
                                    <th class="text-center"><span>Nom</span></th>
                                    <th class="text-center"><span>rue</span></th>
                                    <th class="text-center"><span>CP</span></th>
                                    <th class="text-center"><span>Ville</span></th>
                                    <th class="text-center"><span>Téléphone</span></th>
                                    <th class="text-center"><span>Mail</span></th>
                                </tr>
                            </thead>
                            <tbody>
                            
                                {% for client in clients %}
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-dark">{{client.Commercial}}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark" style="max-width: 40px;">{{client.Tiers}}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{client.Nom}}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ client.Rue}}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{client.CP}}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{client.Ville}}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{ client.Tel }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-dark">{{client.Mail}}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                           

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center"><span>Commercial</span></th>
                                    <th class="text-center"><span>Code Tiers</span></th>
                                    <th class="text-center"><span>Nom</span></th>
                                    <th class="text-center"><span>rue</span></th>
                                    <th class="text-center"><span>CP</span></th>
                                    <th class="text-center"><span>Ville</span></th>
                                    <th class="text-center"><span>Téléphone</span></th>
                                    <th class="text-center"><span>Mail</span></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
