{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div id="vmap" style="width: 680px; height: 520px;"></div>
    </div>
</div>



{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header d-flex">
                <h3 class="card-title text-center">Dépôt de congés pour un ou plusieurs salarié(s)</h3>
                <a href="{{ path('app_holiday_list') }}" class="badge badge-success ml-auto">Retourner à la liste</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">           
         <!-- /.col -->
        <div class="col-md-12">
          <div class="card card-dark card-outline">
            <div class="card-header">
              <h3 class="card-title">Liste des salariés</h3>
            </div>
            {{ form_start(form) }}
                <div class="row mt-2">
                
                
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </div>
                    {{ form_widget(form.start) }}
                    <input type="text" class="form-control float-right" id="reservation">
                  </div>
                
                {{ form_widget(form.end) }}
                
                {{ form_widget(form.holidayType) }}
                {{ form_widget(form.Envoyer) }}
                
                </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="mailbox-controls float-right">
                <!-- Check all button -->
                <button type="button" id="selectAll" class="btn btn-default btn-sm checkbox-toggle">Selectionner/déselectionner tout<i class="ml-4 far fa-square"></i>
                </button>
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <span>Nom de l'utilisateur</span>
                            </th>
                            <th class="text-center">
                                <span>Email de l'utilisateur</span>
                            </th>
                            <th class="text-center">
                                <span>Service</span>
                            </th>
                            <th class="text-center">
                                <span>Cocher</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in form.user.vars.choices %}
                        <tr>
                            <td class="mailbox-name text-center"><a>{{ user.data.pseudo }}</a></td>
                            <td class="mailbox-subject text-center" href=''><b>{{ user.data.email }}</b></td>
                            <td class="mailbox-date text-center"></td>
                            <td>
                                <div class="icheck-dark text-center">
                                    <input type="checkbox" value="" id="{{ user.data.id }}">
                                    <label for="{{ user.data.id }}"></label>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>

            
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
                
               
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block javascripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ asset("dist/js/jquery.vmap.js") }}"></script>
<script type="text/javascript" src="{{ asset("dist/js/jquery.vmap.france.js") }}" charset="utf-8"></script>

<script>
      jQuery(document).ready(function () {
        jQuery('#vmap').vectorMap({
        map: 'france_fr',
        backgroundColor: '#a5bfdd',
        borderColor: '#818181',
        borderOpacity: 0.25,
        borderWidth: 1,
        color: '#f4f3f0',
        enableZoom: true,
        hoverColor: '#c9dfaf',
        hoverOpacity: null,
        normalizeFunction: 'linear',
        scaleColors: ['#b6d6ff', '#005ace'],
        selectedColor: '#c9dfaf',
        selectedRegions: null,
        showTooltip: true,
        onRegionClick: function(element, code, region)
        {
            var message = 'You clicked "'
                + region
                + '" which has the code: '
                + code.toUpperCase();

            alert(message);
        }
        });
      });
    </script>
{% endblock %}