<!DOCTYPE html>
<html>
	<head>

		{% block stylesheets %}
			<meta
			charset="utf-8">
			<!-- Font Awesome -->
			<link
			rel="stylesheet" href="{{ asset("plugins/fontawesome-free/css/all.min.css") }}">
			<!-- Ionicons -->
			<link
			rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
			<!-- Tempusdominus Bbootstrap 4 -->
			<link
			rel="stylesheet" href="{{ asset("plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css") }}">
			<!-- iCheck -->
			<link
			rel="stylesheet" href="{{ asset("plugins/icheck-bootstrap/icheck-bootstrap.min.css") }}">
			<!-- JQVMap -->
			<link
			rel="stylesheet" href="{{ asset("plugins/jqvmap/jqvmap.min.css") }}">
			<!-- Theme style -->
			<link
			rel="stylesheet" href="{{ asset("dist/css/adminlte.min.css") }}">
			<!-- overlayScrollbars -->
			<link
			rel="stylesheet" href="{{ asset("plugins/overlayScrollbars/css/OverlayScrollbars.min.css") }}">
			<!-- Daterange picker -->
			<link
			rel="stylesheet" href="{{ asset("plugins/daterangepicker/daterangepicker.css") }}">
			<!-- summernote -->
			<link
			rel="stylesheet" href="{{ asset("plugins/summernote/summernote-bs4.css") }}">
			<!-- Bootstrap Color Picker -->
			<link
			rel="stylesheet" href="{{ asset("plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css") }}">
			<!-- Google Font: Source Sans Pro -->
			<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

		{% endblock %}
	</head>
	<body class="sidebar-mini" style="height: auto;">
		<div
			class="wrapper">
			<!-- début Entête des pages -->
			<nav
				id="content-wrapper" class="main-header navbar navbar-expand navbar-white navbar-light">
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" data-widget="pushmenu" href="#">
							<i class="fas fa-bars"></i>
						</a>
					</li>
					<li class="nav-item d-none d-sm-inline-block">
						<a href="{{path('app_home')}}" class="nav-link">Accueil</a>
					</li>
				</ul>
				<!-- Right navbar links -->
				<ul
					class="navbar-nav ml-auto">
					<!-- User Dropdown Menu -->
					<li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="">

							<div class="user-panel d-flex">

								<img class="direct-chat-img" src=" {{ app.user.img }} " alt="User Image">
								<div class="info">
									{{ app.user.email }}
								</div>
								<div class="info">
									{{ app.user.token }}
								</div>
							</div>

						</a>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{path('app_admin')}}" class="dropdown-item">
									<i class="fas fa-chalkboard-teacher mr-2"></i>
									Administration
								</a>
							{% endif %}

							<div class="dropdown-divider"></div>
							<a href="{{ path('app_profile_user') }}" class="dropdown-item">
								<i class="fas fa-address-card mr-2"></i>
								Mon Profil
							</a>
							<div class="dropdown-divider"></div>
							<a href=" {{ path('app_contact') }}" class="dropdown-item">
								<i class="fas fa-envelope mr-2"></i>
								Contact
							</a>
							<div class="dropdown-divider"></div>
							<a href="{{ path('app_logout')}}" class="dropdown-item">
								<i class="fas fa-sign-out-alt mr-2"></i>
								Déconnexion
							</a>
						</div>
					</li>
					<!-- End User Dropdown Menu -->
				</ul>
			</nav>
		</div>
		<!-- fin Entête des pages -->
		<aside
			class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Sidebar -->
			<div
				class="sidebar">
				<!-- Brand Logo -->
				<a class="brand-link">
					<img src="{{ asset("dist/img/AdminLTELogo.png")}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
					<span class="brand-text font-weight-light">Intranet Axis</span>
				</a>
				<nav class="mt-2">
					<ul
						class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
						<!-- Table Commune -->
						<li class="nav-header">Général</li>
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a href="" class="nav-link">
									<i class="nav-icon fas fa-newspaper"></i>
									<p>
										Actualités à faire
									</p>
									<span class="badge badge-danger right">8</span>
								</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a href="" class="nav-link">
									<i class="nav-icon fas fa-fw fa-bug "></i>
									<p>
										Tickets à faire
									</p>
									<span class="badge badge-danger right">8</span>
								</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a href="" class="nav-link">
									<i class="nav-icon fas fa-fw fa-comments "></i>
									<p>
										Chat à faire
									</p>
									<span class="badge badge-info right">4</span>
								</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a href="" class="nav-link">
									<i class="nav-icon fas fa-fw fa-truck"></i>
									<p>
										Bourse au transport à faire
									</p>
									<span class="badge badge-info right">1</span>
								</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a href="{{ path('annuaire')}}" class="nav-link">
								<i class="nav-icon fas fa-fw fa-phone"></i>
								<p>
									Annuaire
								</p>
							</a>
						</li>

						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a href="{{path('app_admin')}}" class="nav-link">
									<i class="nav-icon fas fa-chalkboard-teacher"></i>
									<p>
										Administration
									</p>
								</a>
							</li>
						{% endif %}
						<!-- Fin Table Commune -->
						{% if is_granted('ROLE_LHERMITTE') %}
							<!-- Table Menu Lhermitte-->

							<li class="nav-header">Lhermitte</li>
							<li class="nav-item has-treeview">
								<a href="" class="nav-link">
									<i class="nav-icon fas fa-tachometer-alt"></i>
									<p>
										States Lhermitte
										<i class="fas fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									{% if is_granted('ROLE_EV') %}
										<li class="nav-item">
											<a href="" class="nav-link">
												<i class="nav-icon fas fa-tree text-success"></i>
												<p>Espaces Verts</p>
											</a>
										</li>
									{% endif %}
									{% if is_granted('ROLE_HP') %}
										<li class="nav-item">
											<a href="" class="nav-link">
												<i class="nav-icon fas fa-seedling text-danger"></i>
												<p>Horticulteurs / Pépiniériste</p>
											</a>
										</li>
									{% endif %}
									{% if is_granted('ROLE_MA') %}
										<li class="nav-item">
											<a href="" class="nav-link">
												<i class="fab fa-apple nav-icon text-orange"></i>
												<p>Maraîchage</p>
											</a>
										</li>
									{% endif %}
									{% if is_granted('ROLE_ME') %}
										<li class="nav-item">
											<a href="" class="nav-link">
												<i class="fas fa-igloo nav-icon text-warning"></i>
												<p>Matériel équipement</p>
											</a>
										</li>
									{% endif %}
									<li class="nav-item">
										<a href="" class="nav-link">
											<i class="fas fa-globe nav-icon text-primary"></i>
											<p>Lhermitte Frères</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="{{path('app_lhermitte_documents')}}" class="nav-link">
									<i class="nav-icon fas fa-copy"></i>
									<p>
										Documents
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">
									<i class="nav-icon fas fa-fw fa-truck"></i>
									<p>
										Groupage
										<span class="badge badge-info right">2</span>
									</p>
								</a>
							</li>
							<!--Fin Table Menu Lhermitte -->
						{% endif %}
						{% if is_granted('ROLE_ROBY') %}
							<!--Table Menu Roby -->
							<li class="nav-header">Roby</li>
							<li class="nav-item has-treeview">
								<a href="" class="nav-link">
									<i class="nav-icon fas fa-tachometer-alt"></i>
									<p>
										States Roby
										<i class="fas fa-angle-left right"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="" class="nav-link">
											<i class="nav-icon fas fa-tree text-success"></i>
											<p>Roby</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="{{path('app_deb_roby')}}" class="nav-link">
									<i class="nav-icon fas fa-fw fa-plane"></i>
									<p>D.E.B</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link">
									<i class="fas fa-fw fa-table nav-icon"></i>
									<p>Planning</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="{{path('app_Roby_documents')}}" class="nav-link">
									<i class="nav-icon fas fa-copy"></i>
									<p>Documents</p>
								</a>
							</li>
							<!--fin Table Menu Roby -->
						{% endif %}
					</ul>
				</nav>
			</div>
			<!-- /.sidebar-menu -->
			<!-- /.sidebar -->
		</aside>

		<section class="content-wrapper" id="content" style="min-height: 1419.6px;">
			<div class="content-header">
				{% for message in app.flashes('message') %}
					<div class="alert alert-success" role="alert" id="alert">
						{{ message }}
						<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
				{% for message in app.flashes('info') %}
					<div class="card alert alert-info alert-dismissible fade show text-right" role="alert" id="alert">
						{{ message }}
						<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
				{% for message in app.flashes('danger') %}
					<div class="alert alert-danger" role="alert" id="alert">
						{{ message }}
						<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
				{% for message in app.flashes('warning') %}
					<div class="alert alert-warning text-align-right" role="alert" id="alert">
						{{ message }}
						<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
				<div class="container-fluid"> {% block body %}{% endblock %}
					</div>
				</div>
			</section>
			<footer class="main-footer fixed-bottom">
				<strong>Contacter l'administrateur<a href="mailto:jpochet@lhermitte.fr">
						Jpochet</a>.</strong>
				<div class="float-right d-none d-sm-inline-block">
					<b>Version</b>
					1.0.0 du 17/06/2020
				</div>
			</footer>
		</body>
		{% block javascripts %}
			<!-- jQuery -->
			<script src="{{ asset("plugins/jquery/jquery.min.js") }}"></script>
			<!-- jQuery UI 1.11.4 -->
			<script src="{{ asset("plugins/jquery-ui/jquery-ui.min.js")}}"></script>
			<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
			<script>
				$.widget.bridge('uibutton', $.ui.button)
			</script>
			<!-- Bootstrap 4 -->
			<script src="{{ asset("plugins/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
			<!-- ChartJS -->
			<script src="{{ asset("plugins/chart.js/Chart.min.js")}}"></script>
			<!-- Sparkline -->
			<script src="{{ asset("plugins/sparklines/sparkline.js")}}"></script>
			<!-- JQVMap -->
			<script src="{{ asset("plugins/jqvmap/jquery.vmap.min.js")}}"></script>
			<script src="{{ asset("plugins/jqvmap/maps/jquery.vmap.usa.js")}}"></script>
			<!-- jQuery Knob Chart -->
			<script src="{{ asset("plugins/jquery-knob/jquery.knob.min.js")}}"></script>
			<!-- jQuery Perso -->
			<script type="text/javascript" src="{{ asset("js/main.js")}}"></script>
			<!-- daterangepicker -->
			<script src="{{ asset("plugins/moment/moment.min.js")}}"></script>
			<script src="{{ asset("plugins/daterangepicker/daterangepicker.js")}}"></script>
			<!-- Tempusdominus Bootstrap 4 -->
			<script src="{{ asset("plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")}}"></script>
			<!-- Summernote -->
			<script src="{{ asset("plugins/summernote/summernote-bs4.min.js")}}"></script>
			<!-- overlayScrollbars -->
			<script src="{{ asset("plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")}}"></script>
			<!-- AdminLTE App -->
			<script src="{{ asset("dist/js/adminlte.js")}}"></script>
			<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
			<script src="{{ asset("dist/js/pages/dashboard.js")}}"></script>
			<!-- AdminLTE for demo purposes -->
			<script src="{{ asset("dist/js/demo.js")}}"></script>
			<script src="{{ asset("vendor/datatables/jquery.dataTables.js")}}"></script>
			<!-- bootstrap color picker -->
			<script src="{{ asset("vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js")}}"></script>

			<script src="{{ asset("vendor/datatables-bs4/js/dataTables.bootstrap4.js")}}"></script>
			<script src="https://cdn.tiny.cloud/1/zzwl9538k84ky9r4mp7zhy8zlyl4fqroicalnsvia2tkj4zy/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
			<script>
				$(function () {
$("#example1").DataTable();
$('#example2').DataTable({
"paging": true,
"lengthChange": false,
"searching": false,
"ordering": true,
"info": true,
"autoWidth": false
});
});
			</script>
			<script>
				jQuery(function ($) {

var monAlert = $('#Alert');
console.log(monAlert);
if (monAlert.length > 0) {
monAlert.hide().slideDown(500).delay(3000).slideUp();
}
});
			</script>
			<script>
				// Colorpicker
$('.my-colorpicker2').colorpicker()

$('.my-colorpicker2').on('colorpickerChange', function (event) {
$('.my-colorpicker2 .fa-square').css('color', event.color.toString());
});
			</script>
		{% endblock %}
	</html>
