<!DOCTYPE html>
<html>
	<head>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}

			<meta charset="utf-8">
			<meta
			name="viewport" content="width=device-width, initial-scale=1">
			<!-- MAP -->
			<link
			href="{{ asset("dist/css/jqvmap.css") }}" media="screen" rel="stylesheet" type="text/css">
			<!-- Police EAN code 128-->
			<link
			href="https://fonts.cdnfonts.com/css/code-128" rel="stylesheet">

			<!-- Font Awesome -->
			<link
			rel="stylesheet" href="{{ asset("plugins/fontawesome-free/css/all.min.css") }}">
			<!-- Ionicons -->
			<link
			rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
			<!-- Tempusdominus Bbootstrap 4 -->
			<link
			rel="stylesheet" href="{{ asset("plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css") }}">
			<!-- iCheck -->
			<link
			rel="stylesheet" href="{{ asset("plugins/icheck-bootstrap/icheck-bootstrap.min.css") }}">
			<!-- JQVMap -->
			<link
			rel="stylesheet" href="{{ asset("plugins/jqvmap/jqvmap.min.css") }}">
			<!-- DataTables -->
			<link rel="stylesheet" href="{{ asset("plugins/datatables-bs4/css/dataTables.bootstrap4.min.css") }}">
			<link rel="stylesheet" href="{{ asset("plugins/datatables-responsive/css/responsive.bootstrap4.min.css") }}">
			<link
			rel="stylesheet" href="{{ asset("plugins/datatables-buttons/css/buttons.bootstrap4.min.css") }}">

			<!-- Select2 -->
			<link rel="stylesheet" href="{{ asset("plugins/select2/css/select2.min.css") }}">
			<link
			rel="stylesheet" href="{{ asset("plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css") }}">
			<!-- Theme style -->
			<link
			rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
			<!-- overlayScrollbars -->
			<link
			rel="stylesheet" href="{{ asset("plugins/overlayScrollbars/css/OverlayScrollbars.min.css") }}">
			<!-- Daterange picker -->
			<link
			rel="stylesheet" href="{{ asset("plugins/daterangepicker/daterangepicker.css") }}">

			<!-- Bootstrap Color Picker -->
			<link
			rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/css/bootstrap-colorpicker.min.css">
			<!-- Google Font: Source Sans Pro -->
			<link
			href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

			<!-- FullCalendar -->
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">

			<link rel="stylesheet" href="{{ asset("css/style.css") }}">
			<title>
				{% block title %}{% endblock %}
			</title>
		{% endblock %}
	</head>
	<body class="hold-transition sidebar-mini sidebar-collapse">
		<div class="wrapper">
			<nav id="content-wrapper" class="main-header navbar navbar-expand navbar-white navbar-light">
				<ul class="navbar-nav">
					{% if is_granted('ROLE_USER') %}
						<li class="nav-item">
							<a class="nav-link" data-widget="pushmenu" href="#">
								<i class="fas fa-bars"></i>
							</a>
						</li>
					{% endif %}
					<li class="nav-item d-sm-inline-block">
						<a href="{{path('app_home')}}" class="nav-link">Accueil</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="">
							<div class="user-panel d-flex">
								<img class="direct-chat-img" src="{{ asset(asset('img/profile/' ~ app.user.img))}}" alt="User Image">
								<div class="info">
									{{ app.user.email }}
								</div>
								<div class="info">
									{{ app.user.token }}
								</div>
							</div>
						</a>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{path('app_admin')}}" class="dropdown-item">
									<i class="fas fa-chalkboard-teacher mr-2"></i>
									Administration
								</a>
							{% endif %}

							<div class="dropdown-divider"></div>
							<a href="{{ path('app_profile_user') }}" class="dropdown-item">
								<i class="fas fa-address-card mr-2"></i>
								Mon Profil
							</a>
							<div class="dropdown-divider"></div>
							<a href=" {{ path('app_contact') }}" class="dropdown-item">
								<i class="fas fa-envelope mr-2"></i>
								Contact
							</a>
							<div class="dropdown-divider"></div>
							<a href="{{ path('app_logout')}}" class="dropdown-item">
								<i class="fas fa-sign-out-alt mr-2"></i>
								Déconnexion
							</a>
						</div>
					</li>
					<!-- End User Dropdown Menu -->
				</ul>
			</nav>

			<!-- fin Entête des pages -->
			{% if is_granted('ROLE_USER') %}
				<aside class="main-sidebar sidebar-dark-primary elevation-4">
					<div class="sidebar">
						<a class="brand-link" href="{{path('app_home')}}">
							<img src="{{ asset("dist/img/AdminLTELogo.png")}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="width: 2em; height: 2em;opacity: .8;">
							<span class="brand-text font-weight-light">Intranet Axis</span>
						</a>
						<nav class="mt-2">
							<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
								<li class="nav-header">Général</li>

								<li class="nav-item">
									<a href="{{path('app_home')}}" class="nav-link">
										<i class="nav-icon fas fa-newspaper"></i>
										<p>
											Accueil
										</p>

									</a>
								</li>
								<li class="nav-item">
									<a href="{{path('app_holiday_list')}}" class="nav-link">
										<i class="nav-icon fas fa-mug-hot"></i>
										<p>
											Demande de congés
										</p>

									</a>
								</li>
								<li class="nav-item">
									<a href="{{path('app_video')}}" class="nav-link">
										<i class="nav-icon fas fa-video"></i>
										<p>
											Vidéos
										</p>

									</a>
								</li>
								<li class="nav-item">
									<a href="{{ path('app_tickets')}}" class="nav-link">
										<i class="nav-icon fas fa-fw fa-bug "></i>
										<p>
											Tickets
										</p>

									</a>
								</li>
								{% if is_granted('ROLE_LOGISTIQUE') or is_granted('ROLE_RESPONSABLE_SECTEUR') or is_granted('ROLE_COMMERCIAL') %}
									<li class="nav-item has-treeview">
										<a href="" class="nav-link">
											<i class="nav-icon fas fa-brands fa-product-hunt"></i>
											<p>
												Produits
												<i class="fas fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{ path('app_search_products')}}" class="nav-link">
													<i class="nav-icon fas fa-magnifying-glass text-primary"></i>
													<p>
														Recherche produit
													</p>

												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_matiere_dangeureuse')}}" class="nav-link">
													<i class="nav-icon fas fa-skull-crossbones text-danger"></i>
													<p>Matiéres Dangeureuses</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_controle_produit_stock_mouv_ef')}}" class="nav-link">
													<i class="nav-icon fa-solid fa-circle-xmark text-warning"></i>
													<p>Article impossible à fermer</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_article_blob')}}" class="nav-link">
													<i class="nav-icon fa-solid fa-download text-info"></i>
													<p>
														Export article avec Blob
													</p>
													<i class="fa-sharp fa-solid fa-memo-circle-success"></i>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_sref_by_art')}}" class="nav-link">
													<i class="nav-icon fab fa-product-hunt text-success"></i>
													<p>
														Sous réf ouvertes par Articles
													</p>
													<i class="fa-sharp fa-solid fa-memo-circle-info"></i>

												</a>
											</li>
										</ul>
									</li>
									<li class="nav-item has-treeview">
										<a href="" class="nav-link">
											<i class="nav-icon fas fa-solid fa-users"></i>
											<p>
												Clients
												<i class="fas fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{path('app_search_tiers')}}" class="nav-link">
													<i class="nav-icon fas fa-magnifying-glass text-primary"></i>
													<p>
														Chercher client par contact
													</p>

												</a>
											</li>
											<li class="nav-item">
												<a href="{{path('app_dernieres_pieces_ par_client')}}" class="nav-link">
													<i class="nav-icon fab fa-audible text-danger"></i>
													<p>Derniéres intéractions Tiers</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_coupe_station_chargeur_maj')}}" class="nav-link">
													<i class="nav-icon fas fa-truck-moving text-warning"></i>
													<p>
														Csv Client Coupé
													</p>

												</a>
											</li>
											{% if is_granted('ROLE_LHERMITTE') %}
												{% if is_granted('ROLE_RESPONSABLE_SECTEUR') %}
													<li class="nav-item">
														<a href="{{path('app_lhermitte_clients_secteur')}}" class="nav-link">
															<i class="nav-icon fas fa-address-book text-success"></i>
															<p>
																Liste des Clients
															</p>
														</a>
													</li>
												{% endif %}
											{% endif %}
										</ul>
									</li>
								{% endif %}
								{% if is_granted('ROLE_INFORMATIQUE') %}
									<li class="nav-item has-treeview">
										<a href="" class="nav-link">
											<i class="nav-icon fas fa-skull-crossbones"></i>
											<p>
												Phyto
												<i class="fas fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{ path('app_declaration_agence_eau')}}" class="nav-link">
													<i class="nav-icon fas fa-tint text-info"></i>
													<p>Agence de l'eau</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_audit_afnor')}}" class="nav-link">
													<i class="nav-icon fas fa-certificate text-warning"></i>
													<p>Audit AFNOR</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_matiere_dangeureuse')}}" class="nav-link">
													<i class="nav-icon fas fa-skull-crossbones text-danger"></i>
													<p>D9 - Matiéres Dangeureuses</p>
												</a>
											</li>
										</ul>
									</li>
								{% endif %}
								{% if is_granted('ROLE_LOGISTIQUE') or is_granted('ROLE_RESPONSABLE_SECTEUR') or is_granted('ROLE_COMMERCIAL') %}
									<li class="nav-item has-treeview">
										<a href="" class="nav-link">
											<i class="nav-icon fas fa-box-open"></i>
											<p>
												Logistique
												<i class="fas fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview">
											{% if (is_granted('ROLE_LOGISTIQUE_ADMIN') or is_granted('ROLE_ADMIN')) %}
												<li class="nav-item">
													<a href="{{ path('app_mouv_preparation_cmd_administration')}}" class="nav-link">
														<i class="nav-icon fa-solid fa-network-wired text-danger"></i>
														<p>Admin Préparation (béta)</p>
													</a>
												</li>
											{% endif %}
											{% if (is_granted('ROLE_PREPARATEUR') or is_granted('ROLE_LOGISTIQUE_ADMIN') or is_granted('ROLE_ADMIN')) %}
												<li class="nav-item">
													<a href="{{ path('app_mouv_preparation_cmd')}}" class="nav-link">
														<i class="nav-icon fa-solid fa-box-open text-info"></i>
														<p>Préparation (béta)</p>
													</a>
												</li>
											{% endif %}
											<li class="nav-item">
												<a href="{{ path('app_stock')}}" class="nav-link">
													<i class="nav-icon fa-solid fa-cubes text-primary"></i>
													<p>Stocks</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_stock_direct')}}" class="nav-link">
													<i class="nav-icon fab fa-confluence text-info"></i>
													<p>Stock Direct</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_mouv_stock')}}" class="nav-link">
													<i class="nav-icon fa-solid fa-cubes-stacked text-danger"></i>
													<p>
														Régularisation de stock
													</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_mouv_tiers')}}" class="nav-link">
													<i class="nav-icon fa-solid fa-arrow-right-arrow-left text-info"></i>
													<p>
														Retrait/Retour marchandise(s)
													</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_emplacement_depot')}}" class="nav-link">
													<i class="nav-icon fas fa-map-marker-alt text-warning"></i>
													<p>
														Gestion Emplacement
													</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_empl_stock_dif_empl_piece')}}" class="nav-link">
													<i class="nav-icon fas fa-search-location text-danger"></i>
													<p>
														Probléme Emplacement
													</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_print_empl')}}" class="nav-link">
													<i class="nav-icon fa-solid fa-map-location-dot text-success"></i>
													<p>
														Impr. étiquettes empl.
													</p>
												</a>
											</li>
										</ul>
									</li>
								{% endif %}
								{% if is_granted('ROLE_LOGISTIQUE') or is_granted('ROLE_RESPONSABLE_SECTEUR') or is_granted('ROLE_COMMERCIAL') %}
									<li class="nav-item has-treeview">
										<a href="" class="nav-link">
											<i class="nav-icon fas fa-broadcast-tower"></i>
											<p>
												Probléme
												<i class="fas fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{ path('app_controle_anomalies')}}" class="nav-link">
													<i class="nav-icon fas fa-exclamation-triangle text-warning"></i>
													<p>Anomalies Divalto</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_old_cmd')}}" class="nav-link">
													<i class="nav-icon fas fa-blind text-info"></i>
													<p>Vieilles commandes</p>
												</a>
											</li>
										</ul>
									</li>
								{% endif %}
								<li class="nav-item">
									<a href="{{ path('app_faq')}}" class="nav-link">
										<i class="nav-icon fas fa-question-circle"></i>
										<p>FAQ</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="{{ path('annuaire')}}" class="nav-link">
										<i class="nav-icon fas fa-fw fa-phone"></i>
										<p>
											Annuaire
										</p>
									</a>
								</li>

								{% if is_granted('ROLE_ADMIN') %}
									<li class="nav-item">
										<a href="{{path('app_admin')}}" class="nav-link">
											<i class="nav-icon fas fa-chalkboard-teacher"></i>
											<p>
												Administration
											</p>
										</a>
									</li>
								{% endif %}
								{% if is_granted('ROLE_RSE') %}
									<li class="nav-header">RSE</li>
									<li class="nav-item">
										<a href="{{ path('app_rse', {'dos' : '1' }) }}" class="nav-link">
											<i class="nav-icon fas fa-chart-pie text-primary"></i>
											<p>
												RSE Lhermitte
											</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{ path('app_rse', {'dos' : '3' }) }}" class="nav-link">
											<i class="nav-icon fas fa-chart-pie text-danger"></i>
											<p>
												RSE Roby
											</p>
										</a>
									</li>
								{% endif %}

								<li class="nav-header">Lhermitte</li>
								{% if is_granted('ROLE_LHERMITTE') %}

									{% if (is_granted('ROLE_EV') or is_granted('ROLE_HP') or is_granted('ROLE_MA') or is_granted('ROLE_ME')) and (is_granted('ROLE_RESPONSABLE_SECTEUR') or is_granted('ROLE_COMMERCIAL')) %}
										<li class="nav-item has-treeview">
											<a href="" class="nav-link">
												<i class="nav-icon fas fa-tachometer-alt"></i>
												<p>
													States
													<i class="fas fa-angle-left right"></i>
												</p>
											</a>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a href="{{ path('app_states_lhermitte') }}" class="nav-link">
														<i class="fas fa-globe nav-icon text-primary"></i>
														<p>States ventes</p>
													</a>
												</li>
												<li class="nav-item">
													<a href="{{ path('app_states_par_client_Lh') }}" class="nav-link">
														<i class="fas fa-globe nav-icon text-warning"></i>
														<p>States par client sur 3 ans tous métiers</p>
													</a>
												</li>
												{% if is_granted('ROLE_RESPONSABLE_SECTEUR') %}
													<li class="nav-item">
														<a href="{{ path('app_resume_states', {'dos' : '1' }) }}" class="nav-link">
															<i class="nav-icon fas fa-chart-pie text-danger"></i>
															<p>
																Résumé des states EV
															</p>
														</a>
													</li>
												{% endif %}
												<li class="nav-item">
													<a href="{{ path('app_activite_metier_Lhermitte') }}" class="nav-link">
														<i class="fas fa-store nav-icon text-success"></i>
														<p>Activités Métier</p>
													</a>
												</li>
												{% if is_granted('ROLE_RESPONSABLE_SECTEUR') %}
													<li class="nav-item">
														<a href="{{path('app_stats_achat', {'dos' : '1'})}}" class="nav-link">
															<i class="nav-icon fas fa-shopping-basket text-warning"></i>
															<p>
																States achats par article
															</p>
														</a>
													</li>
													<li class="nav-item">
														<a href="{{path('app_dernier_achat_par_produit', {'dos' : '1'})}}" class="nav-link">
															<i class="nav-icon fas fa-th text-info"></i>
															<p>
																Factures achats par article
															</p>
														</a>
													</li>
												{% endif %}
												<li class="nav-item">
													<a href="{{ path('app_tarif_vente_divalto') }}" class="nav-link">
														<i class="fas fa-dollar nav-icon text-warning"></i>
														<p>Prix de vente Divalto</p>
													</a>
												</li>
											</ul>
										</li>
									{% endif %}
									{% if (is_granted('ROLE_LOGISTIQUE') or is_granted('ROLE_RESPONSABLE_SECTEUR') or is_granted('ROLE_COMMERCIAL')) %}
										<li class="nav-item">
											<a href="{{path('app_lhermitte_rossignols')}}" class="nav-link">
												<i class="nav-icon fas fa-dove text-light"></i>
												<p>Rossignols</p>
											</a>
										</li>
										<li class="nav-item">
											<a href="{{ path('app_contrat_commissionnaire') }}" class="nav-link">
												<i class="fas fa-file-signature nav-icon text-light"></i>
												<p>Contrats Commissionnaires</p>
											</a>
										</li>
									{% endif %}

									{% if is_granted('ROLE_ME') and is_granted('ROLE_RESPONSABLE_SECTEUR') %}
										<li class="nav-item has-treeview">
											<a href="" class="nav-link">
												<i class="nav-icon fas fa-solid fa-igloo"></i>
												<p>
													Matériel équipement
													<i class="fas fa-angle-left right"></i>
												</p>
											</a>
											<ul class="nav nav-treeview">
												<li class="nav-item">
													<a href="{{path('app_affaire_me_nok')}}" class="nav-link">
														<i class="nav-icon fa-solid fa-signature text-primary"></i>
														<p>
															Affaire (Béta)
														</p>
													</a>
												</li>
												<li class="nav-item">
													<a href="{{ path('app_mouv_tiers')}}" class="nav-link">
														<i class="nav-icon fa-solid fa-arrow-right-arrow-left text-info"></i>
														<p>
															Retrait/Retour marchandise(s)
														</p>

													</a>
												</li>
												<li class="nav-item">
													<a href="{{ path('app_affaire_me_nok')}}" class="nav-link">
														<i class="nav-icon fa-solid fa-screwdriver-wrench text-warning"></i>
														<p>
															Interventions
														</p>

													</a>
												</li>
											</ul>
										</li>
									{% endif %}

									{% if (is_granted('ROLE_RESPONSABLE_SECTEUR') or is_granted('ROLE_COMMERCIAL')) and app.user.commercial %}
										<li class="nav-item">
											<a href="{{path('app_mes_clients', {'commercial' : app.user.commercial})}}" class="nav-link">
												<i class="nav-icon fa fa-address-card" aria-hidden="true"></i>
												<p>
													Mes Clients
												</p>
											</a>
										</li>
									{% endif %}

								{% endif %}
								{% if is_granted('ROLE_COMPTA') %}

									<li class="nav-item has-treeview">
										<a href="" class="nav-link">
											<i class="nav-icon fas fa-calculator"></i>
											<p>
												Comptabilité
												<i class="fas fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{path('app_controle_comptabilite', {'slug' : 'F'}) }}" class="nav-link">
													<i class="nav-icon fas fa-balance-scale-left text-danger"></i>
													<p>Contrôle Achat</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{path('app_controle_comptabilite', {'slug' : 'C'}) }}" class="nav-link">
													<i class="nav-icon fas fa-balance-scale-right text-success"></i>
													<p>Contrôle Vente</p>
												</a>
											</li>

											<li class="nav-item">
												<a href="{{path('app_compta_analytique') }}" class="nav-link">
													<i class="nav-icon fas fa-project-diagram text-info"></i>
													<p>Compta Analytique</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_dernier_achat_par_produit', {'dos' : '1' })}}" class="nav-link">
													<i class="fas fa-file-signature nav-icon text-primary"></i>
													<p>
														Aide à l'ICD
													</p>

												</a>
											</li>
										</ul>
									</li>
								{% endif %}
								<li class="nav-item">
									<a href="{{path('app_lhermitte_documents')}}" class="nav-link">
										<i class="nav-icon fas fa-copy"></i>
										<p>
											Documents
										</p>
									</a>
								</li>
								<li class="nav-header">Roby</li>
								{% if is_granted('ROLE_ROBY') %}
									<li class="nav-item has-treeview">
										<a href="" class="nav-link">
											<i class="nav-icon fas fa-tachometer-alt"></i>
											<p>
												States
												<i class="fas fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{path('app_states_roby')}}" class="nav-link">
													<i class="nav-icon fas fa-tree text-success"></i>
													<p>States ventes</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_resume_states', {'dos' : '3' }) }}" class="nav-link">
													<i class="nav-icon fas fa-chart-pie text-danger"></i>
													<p>
														Résumé des states
													</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{path('app_stats_achat', {'dos' : '3'})}}" class="nav-link">
													<i class="nav-icon fas fa-shopping-basket text-warning"></i>
													<p>
														States achats par article
													</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_activite_metier_Roby') }}" class="nav-link">
													<i class="fas fa-store nav-icon text-success"></i>
													<p>Activités Métier</p>
												</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a href="{{path('app_cmd_roby_delai_accepte_reporte_active')}}" class="nav-link">
											<i class="nav-icon fas fa-hourglass-half"></i>
											<p>Commandes</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path('app_rbue')}}" class="nav-link">
											<i class="nav-icon fas fa-arrow-right"></i>
											<p>Mouvements RBUE</p>
										</a>
									</li>
									<li class="nav-item has-treeview">
										<a href="" class="nav-link">
											<i class="nav-icon fas fa-tree"></i>
											<p>
												FSC
												<i class="fas fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{path('app_documents_reglementaires_fsc')}}" class="nav-link">
													<i class="nav-icon fas fa-file-signature text-primary"></i>
													<p>Documents réglementaires</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{path('app_movement_fsc_view_list')}}" class="nav-link">
													<i class="nav-icon fab fa-product-hunt text-success"></i>
													<p>Mouvements articles FSC</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{path('app_fsc_extract_periode')}}" class="nav-link">
													<i class="nav-icon fas fa-download text-warning"></i>
													<p>Extraction Période (Béta)</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{path('app_fsc_piece_client')}}" class="nav-link">
													<i class="nav-icon fas fa-arrow-right text-info"></i>
													<p>Factures Clients FSC</p>
												</a>
											</li>
										</ul>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{path('app_fsc_attached_file')}}" class="nav-link">
													<i class="nav-icon fas fa-arrow-left text-danger"></i>
													<p>Factures Fournisseurs FSC</p>
												</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a href="{{path('app_deb_roby')}}" class="nav-link">
											<i class="nav-icon fas fa-fw fa-plane"></i>
											<p>D.E.B</p>
										</a>
									</li>
								{% endif %}
								<li class="nav-item">
									<a href="{{path('app_Roby_documents')}}" class="nav-link">
										<i class="nav-icon fas fa-copy"></i>
										<p>Documents</p>
									</a>
								</li>
								{% if is_granted('ROLE_ADMIN') %}
									<li class="nav-header">Développeur</li>
									<li class="nav-item">
										<a href="https://adminlte.io/themes/v3/iframe.html#" class="nav-link">
											<i class="nav-icon fas fa-atlas"></i>
											<p>
												Théme Utilisé
											</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{{path('app_test')}}" class="nav-link">
											<i class="nav-icon fas fa-atlas"></i>
											<p>
												PHP info
											</p>
										</a>
									</li>
									<li class="nav-item has-treeview">
										<a href="" class="nav-link">
											<i class="nav-icon fas fa-truck-moving"></i>
											<p>
												à faire
												<i class="fas fa-angle-left right"></i>
											</p>
										</a>
										<ul class="nav nav-treeview">
											<li class="nav-item">
												<a href="{{path('app_mailing')}}" class="nav-link">
													<i class="nav-icon fas fa-hourglass-end text-warning"></i>
													<p>Mailing</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_old_cmd')}}" class="nav-link">
													<i class="nav-icon fas fa-blind text-success"></i>
													<p>Vieux Bls</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="" class="nav-link">
													<i class="nav-icon fas fa-fw fa-plane text-light"></i>
													<p>DEB Lhermitte</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{path('app_pays_interdit_commandes_fsc')}}" class="nav-link">
													<i class="nav-icon fas fa-ban text-warning"></i>
													<p>Ban Pays fournisseurs</p>
												</a>
											</li>
											<li class="nav-item">
												<a href="{{ path('app_anomalies_produits_fermes')}}" class="nav-link">
													<i class="nav-icon fas fa-bullhorn text-danger"></i>
													<p>Anomalies (Articles fermés)</p>
												</a>
											</li>
										</ul>
									</li>
								{% endif %}
							</nav>
						</div>
					</aside>
				{% endif %}
				<section class="content-wrapper" id="content" style="min-height: 1419.6px;">
					<div class="content-header">
						{% for message in app.flashes('message') %}
							<div class="alert alert-success" role="alert" id="alert">
								{{ message }}
								<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						{% for message in app.flashes('info') %}
							<div class="card alert alert-info alert-dismissible fade show text-right" role="alert" id="alert">
								{{ message }}
								<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						{% for message in app.flashes('danger') %}
							<div class="alert alert-danger" role="alert" id="alert">
								{{ message }}
								<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						{% for message in app.flashes('warning') %}
							<div class="alert alert-warning text-align-right" role="alert" id="alert">
								{{ message }}
								<button type="button" class="close ml-5" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						<div class="container-fluid"> {% block body %}{% endblock %}
							</div>
						</div>
					</section>
					<footer class="main-footer">
						<div>
							<a id="back-to-top" href="#" class="btn btn-dark back-to-top" role="button" aria-label="Scroll to top">
								<i class="fas fa-chevron-up"></i>
							</a>
						</div>
						<strong>Contacter l'administrateur<a href="mailto:jpochet@groupe-axis.fr">Jpochet</a>.</strong>
						<div class="float-right d-none d-sm-inline-block">
							<p>Version de PHP : 8.2.10 - Version de Symfony : 6.3.4</p>
						</div>
					</footer>

					<!-- jQuery -->
					<script src="{{ asset("plugins/jquery/jquery.min.js") }}"></script>
					<!-- jQuery UI 1.11.4 -->
					<script src="{{ asset("plugins/jquery-ui/jquery-ui.min.js")}}"></script>
					<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
					<script>
						$.widget.bridge('uibutton', $.ui.button)
					</script>
					<!-- Bootstrap 4 -->
					<script src="{{ asset("plugins/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
					<!-- ChartJS -->
					<script src="{{ asset("plugins/chart.js/Chart.min.js")}}"></script>
					<!-- date-range-picker -->
					<script src="{{ asset("plugins/daterangepicker/daterangepicker.js")}}"></script>
					<!-- Sparkline -->
					<script src="{{ asset("plugins/sparklines/sparkline.js")}}"></script>
					<!-- JQVMap -->
					<script src="{{ asset("plugins/jqvmap/jquery.vmap.min.js")}}"></script>
					<script src="{{ asset("plugins/jqvmap/maps/jquery.vmap.usa.js")}}"></script>
					<!-- jQuery Knob Chart -->
					<script src="{{ asset("plugins/jquery-knob/jquery.knob.min.js")}}"></script>
					<!-- jQuery Perso -->
					<script type="text/javascript" src="{{ asset("js/main.js")}}"></script>
					<!-- daterangepicker -->
					<script src="{{ asset("plugins/moment/moment.min.js")}}"></script>
					<script src="{{ asset("plugins/daterangepicker/daterangepicker.js")}}"></script>
					<!-- Tempusdominus Bootstrap 4 -->
					<script src="{{ asset("plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")}}"></script>
					<!-- overlayScrollbars -->
					<script src="{{ asset("plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")}}"></script>
					<!-- AdminLTE App -->
					<script src="{{ asset("dist/js/adminlte.js")}}"></script>
					<!-- AdminLTE for demo purposes -->
					<script src="{{ asset("dist/js/demo.js")}}"></script>
					<script src="{{ asset("vendor/datatables/jquery.dataTables.js")}}"></script>

					<script src="https://kit.fontawesome.com/4139e2359b.js" crossorigin="anonymous"></script>
					<!-- DataTables  & Plugins -->
					<script src="{{ asset("plugins/datatables/jquery.dataTables.min.js")}}"></script>
					<script src="{{ asset("plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")}}"></script>
					<script src="{{ asset("plugins/datatables-responsive/js/dataTables.responsive.min.js")}}"></script>
					<script src="{{ asset("plugins/datatables-responsive/js/responsive.bootstrap4.min.js")}}"></script>
					<script src="{{ asset("plugins/datatables-buttons/js/dataTables.buttons.min.js")}}"></script>
					<script src="{{ asset("plugins/datatables-buttons/js/buttons.bootstrap4.min.js")}}"></script>
					<script src="{{ asset("plugins/jszip/jszip.min.js")}}"></script>
					<script src="{{ asset("plugins/pdfmake/pdfmake.min.js")}}"></script>
					<script src="{{ asset("plugins/pdfmake/vfs_fonts.js")}}"></script>
					<script src="{{ asset("plugins/datatables-buttons/js/buttons.html5.min.js")}}"></script>
					<script src="{{ asset("plugins/datatables-buttons/js/buttons.print.min.js")}}"></script>
					<script src="{{ asset("plugins/datatables-buttons/js/buttons.colVis.min.js")}}"></script>


					<!-- FLOT CHARTS -->
					<script src="{{ asset("plugins/flot/jquery.flot.js")}}"></script>
					<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
					<script src="{{ asset("plugins/flot/plugins/jquery.flot.resize.js")}}"></script>
					<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
					<script src="{{ asset("plugins/flot/plugins/jquery.flot.pie.js")}}"></script>

					<!-- bootstrap color picker -->
					<script src="{{ asset("vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js")}}"></script>

					<script src="{{ asset("vendor/datatables-bs4/js/dataTables.bootstrap4.js")}}"></script>
					<script src="https://cdn.tiny.cloud/1/zzwl9538k84ky9r4mp7zhy8zlyl4fqroicalnsvia2tkj4zy/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

					<!-- Calendrier -->
					<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js" integrity="sha256-XCdgoNaBjzkUaEJiauEq+85q/xi/2D4NcB3ZHwAapoM=" crossorigin="anonymous"></script>
					<!-- Select2 -->
					<script src="{{ asset("plugins/select2/js/select2.full.min.js")}}"></script>
					{% block javascripts %}
						{{ encore_entry_script_tags('app') }}
						<script>
							$(function () {
$("#example1").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": ["copy", "csv", "excel", "pdf"]
}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
$("#example11").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": ["copy", "csv", "excel", "pdf"]
}).buttons().container().appendTo('#example11_wrapper .col-md-6:eq(0)');
$("#example12").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": ["copy", "csv", "excel", "pdf"]
}).buttons().container().appendTo('#example12_wrapper .col-md-6:eq(0)');
$("#example13").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": ["copy", "csv", "excel", "pdf"]
}).buttons().container().appendTo('#example13_wrapper .col-md-6:eq(0)');
$("#example14").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": ["copy", "csv", "excel", "pdf"]
}).buttons().container().appendTo('#example14_wrapper .col-md-6:eq(0)');
$("#example15").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": ["copy", "csv", "excel", "pdf"]
}).buttons().container().appendTo('#example15_wrapper .col-md-6:eq(0)');
$("#example16").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": ["copy", "csv", "excel", "pdf"]
}).buttons().container().appendTo('#example16_wrapper .col-md-6:eq(0)');
$("#example3").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": ["copy", "csv", "excel", "pdf",]
}).buttons().container().appendTo('#example3_wrapper .col-md-6:eq(0)');
$('#example2').DataTable({
"paging": true,
"lengthChange": false,
"searching": false,
"ordering": false,
"info": true,
"autoWidth": false,
"responsive": true
});
$('#example6').DataTable({
"paging": true,
"lengthChange": false,
"searching": false,
"ordering": false,
"info": true,
"autoWidth": false,
"responsive": true
});
$('#example4').DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
dom: 'Bftrip',
buttons: [
{
extend: 'csvHtml5',
text: 'Exporter en CSV avec séparateur point virgule',
fieldBoundary: '',
fieldSeparator: ';'
},
]
});
$("#example5").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"order": [
[0, "desc"]
],
"buttons": ["copy", "csv", "excel", "pdf"]
}).buttons().container().appendTo('#example5_wrapper .col-md-6:eq(0)');
});
						</script>
						<script>
							$(function () { // Initialize Select2 Elements
$('.select2').select2({placeholder: "Selectionnez les données"})

// Initialize Select2 Elements
$('.select2bs4').select2({theme: 'bootstrap4'})
})
						</script>

						<script>
							$('#reservation').daterangepicker()
						</script>

						<!-- Disparition automatique de message alert -->
						<!-- Disparition automatique de message alert -->
						<script>
							jQuery(function ($) {

var monAlert = $('#alert');
console.log(monAlert);
if (monAlert.length > 0) {
monAlert.delay(3000).slideUp();
}
});
						</script>
						<script>
							// Colorpicker
$('.my-colorpicker2').colorpicker()

$('.my-colorpicker2').on('colorpickerChange', function (event) {
$('.my-colorpicker2 .fa-square').css('color', event.color.toString());
});
						</script>

						<!--TinyMCE-->
						<script>
							tinymce.init({selector: 'textarea', height: 500, plugins: 'advlist autolink lists link image imagetools charmap print preview hr anchor pagebreak', toolbar_mode: 'floating'});
						</script>


						<script>
							// info bulle
$(function () {
$('[data-toggle="tooltip"]').tooltip()
})
						</script>


					{% endblock %}
				</body>
			</body>
		</body>
	</html>
</body></html></body></html>
