{% extends 'minimum.html.twig' %}
{% block body %}
	<style>
		.comment-container {
			max-width: 600px;
			margin: 0 auto;
		}

		.comment-table {
			width: 100%;
		}

		.comment-row {
			display: table-row;
		}

		.comment-cell {
			display: table-cell;
			padding: 10px;
			border: 1px solid #ccc;
		}

		.comment-text {
			padding: 10px;
			margin-bottom: 5px;
		}

		.comment-meta {
			font-size: 12px;
			text-align: center;
		}

		/* Styles pour le côté avec le pseudo et la date */
		.comment-meta-bg {
			background-color: #e0a800;
			color: white;
			padding: 5px;
		}
	</style>
	<div class="container mt-5 comment-container">
		<h1 class="mb-4">Compte rendu des décalages liés à l'ajout d'une nouvelle intervention</h1>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Clients</th>
					<th>Libellé affaire</th>
					<th>Ancienne Date Début</th>
					<th>Ancienne Date Fin</th>
					<th>Nouvelle Date Début</th>
					<th>Nouvelle Date Fin</th>
					<th>Commentaires</th>
				</tr>
			</thead>
			{% for donnee in donnees %}
				<tbody>
					<tr class="comment-row">
						<td class="comment-cell">
							<div class="comment-text">{{ donnee.nom }}</div>
						</td>
						<td class="comment-cell">
							<div class="comment-text">{{ donnee.libelle }}</div>
						</td>
						<td class="comment-cell">
							<div class="comment-text">{{ donnee.oldStart }}</div>
						</td>
						<td class="comment-cell">
							<div class="comment-text">{{ donnee.oldEnd }}</div>
						</td>
						<td class="comment-cell">
							<div class="comment-text">{{ donnee.start }}</div>
						</td>
						<td class="comment-cell">
							<div class="comment-text">{{ donnee.end }}</div>
						</td>
						<td class="comment-cell">
							<div class="comment-text">{{ donnee.commentaire }}</div>
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
		<hr>
		<p>Intranet Axis</p>
	{% endblock %}
