{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}
{% block body %}
<section class="content-header">	
		<div class="card card-dark">
			<div class="card-header d-flex">
				<h3 class="card-title">En voici une belle idée !</h3>
				<a href="{{ path('app_home') }}" class="badge badge-success ml-auto">Retourner à l'Accueil</a>
			</div>
			<div class="card-body">
				<div class="form-group col-12">
					<h2>{{ idea.sujet }}</h2>
					<article>{{ idea.content|raw}}</article>
					<div>
						<div class='text-right'>
							<a class="btn btn-sm btn-dark text-white" href=" {{path('app_idea_edit', {'id' : idea.id} ) }}">
								<i class="pr-1 fa fa-edit text-white"></i>Modifier
							</a>
						</div>
					</div>
				</div>
			</div>
					<div class="card-footer text-right">
							par
							<a href="mailto:{{idea.user.email}}">{{ idea.user.pseudo }}</a>
							le
							{{ idea.createdAt|date("d/m/Y")}}
							à
							{{ idea.createdAt|date("H:i")}}
					</div>
		</div>
</section>
{% endblock %}
