{% extends 'base.html.twig' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block body %}
<section class="content-header">
<div class="alert alert-info alert-dismissible col-12">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-info-circle"></i> info</h5>
                  Pour déposer une idée d'amélioration, cliquez sur tickets sur la gauche puis sur la barre à droite de Créer un nouveau ticket. </br>
                  Dans le degrés d'urgence, selectionnez boite à idée. </br>
</div>

<div class="col-md-3 float-right">
<!-- USERS LIST -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Membres</h3>
            <div class="card-tools">
                <span class="badge badge-danger">{{ users|length }} Membres</span>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
        </div>
    <!-- /.card-header -->
        <div class="card-body p-0">
            <ul class="users-list clearfix">
                {% for user in users %}
                    <li>
                    <img src="img/profile/{{ user.img }}" alt="User Image">
                    <a class="users-list-name" href="mailto:{{ user.email }}">{{ user.pseudo }}</a>
                        {% for track in tracks %}
                            {% if track.user_id == user.id %}
                                <span class="users-list-date">Derniére visite : </span>
                                <span class="users-list-date">{{ track.createdAt|date("d/m/Y-H:i")}}</span>
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}              
            </ul>
        </div>
    </div>
</div>
                
</section>
{% endblock %}