{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	<div
		class="col-md-12">
		<!-- general form elements disabled -->
		<div class="card card-dark">
			<div class="card-header d-flex">
				<h3 class="card-title text-white">Modification de document</h3>
				<a href="{{ path('app_admin_documents') }}" class="badge badge-success ml-auto">Retourner à la liste des documents</a>
			</div>
			<div class="card-body">
				{{ form_start(documentEditForm) }}
				<div class="form">
					<div class="row">
						<div class="form-group col-2">
							{{ form_row(documentEditForm.title, {'attr' : {'class' : "form-control"}})}}
						</div>
						<div class="form-group col-4">
							{{ form_row(documentEditForm.beginningDate, {'attr' : {'class' : "form-control"}})}}
						</div>
						<div class="form-group col-4">
							{{ form_row(documentEditForm.endDate, {'attr' : {'class' : "form-control"}})}}
						</div>
					</div>
					<div class="row">
						
						
					</div>
				</div>
                <div class="text-center">
				{{ form_row(documentEditForm.Modifier, {'attr' : {'class' : "btn btn-dark"}})}}
                </div>
				{{form_end(documentEditForm)}}
			</div>
		</div>
	</div>
</div>{% endblock %}
