{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="card collapsed-card card-info">
    <div class="card-header">
    <h3 class="card-title"><i class="icon fas fa-info-circle pr-2"></i>Informations utiles</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
<!-- /.card-header -->
    <div class="card-body">
        <h3>Comment mettre à jours les documents d’appels d’offres.</h3>
		<h4>GROUPAMA</h4>
		<h5>Contacts</h5>
        <p><a href="mailto:relationclientconstruction@groupama-ne.fr">relationclientconstruction@groupama-ne.fr</a> et <a href="mailto:sgalle@groupama-ne.fr">sgalle@groupama-ne.fr</a></p>
        <p>Service entreprise : Tel : 03.26.02.83.87</p>
		<h5>Documents</h5>
		<ul>
    		<li>ATTESTATION D'ASSURANCE PRODUITS PHYTOPHARMACEUTIQUE</li>
			<li>ATTESTATION D'ASSURANCE RESPONSABILITE CIVILE DECENNALE POUR LES OUVRAGES NON SOUMIS A L'OBLIGATION D'ASSURANCE </li>
			<li>ATTESTATION D'ASSURANCE RESPONSABILITE CIVILE HORS RESPONSABILITE DECENNALE</li>
			<li>ATTESTATION D'ASSURANCE RESPONSABILITE DECENNALE OBLIGATOIRE</li>
		</ul>
		<hr>
		<h4>URSSAF</h4>
		<h5>Connexion</h5>
        <p><a href="https://mon.urssaf.fr">https://mon.urssaf.fr</a></p>
        <p>ID : 78401372400025</p>
		<p>Mdp : KPU7C3P2</p>
		<h5>Documents</h5>
		<ul>
    		<li>Attestation URSSAF Marché public</li>
			<li>Attestation URSSAF Vigilance</li>
		</ul>
		<hr>
		<h4>IMPOT.GOUV </h4>
		<h5>Faire la demande à</h5>
        <p><a href="mailto:kdarras@groupe-axis.fr">Kathy Darras</a></p>
		<h5>Documents</h5>
		<ul>
    		<li>ATTESTATION DE REGULARITE FISCALE TVA</li>
		</ul>
		<hr>
		<h4>INFO GREFFE :</h4>
		<h5>Contacts</h5>
        <p>GIE Infogreffe </br>
		Immeuble Le Parisien </br>
		5-7, avenue de Paris </br>
		94300 VINCENNES </br>
		338 885 718 RCS Créteil </br>
		Tel : 0 891 01 11 11 (appel gratuit depuis un poste fixe sauf tarif en vigueur de votre opérateur)</p>
		<p><a href="mailto:infogreffe@infogreffe.fr">infogreffe@infogreffe.fr</a></p>
		<p><a href="https://infogreffe.fr">www.infogreffe.fr</a></p>
		
		<p><a href="https://monidenum.fr/">https://monidenum.fr/</a> (actuellement Uniquement pour Francial, Axis et Moulin bleu)</p>
		<p>id monidenum : jpochet@lhermitte.fr</p>
		<p>mdp monidenum : Lhermitte@62</p>
		<h5>Documents</h5>
		<ul>
    		<li>KBIS - <small>Le KBIS est payant sur infogreffe, il faut demande a JML de renouveler l’abonnement où à Floriane si elle l’a reçu par courrier.</small></li>
		</ul>		
    </div>
<!-- /.card-footer-->
</div>

	<section class="content-header">
		<div class="container-fluid">

		  <div class="card collapsed-card card-dark">
                  <div class="card-header">
                    <h3 class="card-title">Ajouter un Document</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                  {{ form_start(adminDocumentsForm) }}
				<div class="cart-body d-flex flex-wrap">
					<div class="form-group mx-auto">
						<label>{{ form_label(adminDocumentsForm.title) }}:</label>
						<div class="input-group">
							{{ form_widget(adminDocumentsForm.title) }}
						</div>
					</div>
					<div class="form-group mx-auto">
						<label>{{ form_label(adminDocumentsForm.url) }}:</label>
						<div class="input-group">
							{{ form_widget(adminDocumentsForm.url) }}
						</div>
					</div>
					<!-- Date dd/mm/yyyy -->
					<div class="form-group mx-auto">
						<label>{{ form_label(adminDocumentsForm.beginningDate) }}:</label>
						<div class="input-group">
							{{ form_widget(adminDocumentsForm.beginningDate) }}
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="far fa-calendar-alt"></i>
								</span>
							</div>
						</div>
						<!-- /.input group -->
					</div>
					<div class="form-group mx-auto">
						<label>{{ form_label(adminDocumentsForm.endDate) }}:</label>
						<div class="input-group">
							{{ form_widget(adminDocumentsForm.endDate) }}
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="far fa-calendar-alt"></i>
								</span>
							</div>
						</div>
						<!-- /.input group -->
					</div>
					<div class="form-group mx-auto">
						<label>{{ form_label(adminDocumentsForm.societe) }}:</label>
						<div class="form-group">
							{{ form_widget(adminDocumentsForm.societe) }}
						</div>
					</div>
					<div class="form-group mx-auto pt-4">
						<button class="btn btn-dark">Ajouter le document</button>
					</div>
				</div>
				<div class="alert alert-info alert-dismissible col-4 ml-3 mb-3">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<h5>
						<i class="icon fas fa-bell"></i>
						Memo:</h5>
					<ul>
						<li>Un KBis est valable 3 Mois</li>
						<li>Une assurance souvent pour l'année</li>
						<li>La liste des salariés étrangers est valable 6 mois</li>
						<li>L'attestation sociale Vigilance est valable 6 mois</li>
						<li>L'attestaion fiscale est valable 6 mois</li>
					</ul>
				</div>
				{{ form_end(adminDocumentsForm) }}
                
                
                  </div>
                  <!-- /.card-footer-->
                </div>



	<div class="row">
				<div class="col-12">
					<div class="card card-dark ">
						<div class="card-header d-flex">
							<h3 class="card-title">Modification documents</h3>
							<a href="{{ path('app_admin') }}" class="badge badge-success ml-auto">Retourner à l'Administration générale</a>
							<!-- /.card-tools -->
						</div>
						<!-- /.card-header -->
						<!-- /.card-header -->
						<div class="card-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center">
											<span>Nom</span>
										</th>
										<th class="text-center">
											<span>Nom du fichier</span>
										</th>
										<th class="text-center">
											<span>date Début</span>
										</th>
										<th class="text-center">
											<span>date Fin</span>
										</th>
										<th class="text-center">
											<span>Société</span>
										</th>
										<th class="text-center">
											<span>Action</span>
										</th>
									</tr>
								</thead>

								<tbody>
									{% for document in documents %}
										<tr>
											<td class="text-center">
											
												<a href="{{ asset('doc/' ~ document.societe.dossier ~ '/' ~ document.url)}}" id="lien" name="lien" class="text-center">{{ document.title}}</a></br>
													<div class="text-right">
														<small>
															<i>déposé par
																{{ document.user.pseudo}}</i>
														</small>
													</div>
											</td>
											<td class="text-center">{{ document.url}}</td>
											<td class="text-center" style="max-width: 80px">
												<div class="text-center" ;>
													{{ document.beginningDate|date("d/m/Y")}}
												</div>
											</td>
											<td class="text-center" style="max-width: 80px">
												<div class="text-center">
													{{ document.endDate|date("d/m/Y")}}
												</div>
											</td>
											<td class="text-center">{{ document.societe.nom}}</td>
											<td class="text-center">
												<a class="btn btn-warning" href="{{path('app_edit_document', {'id' : document.id})}}">
													<i class="fas fa-edit"></i>
												</a>
												<a class="btn btn-danger" href="{{path('app_delete_document', {'id' : document.id})}}">
													<i class="fas fa-trash-alt"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th class="text-center">
											<span>Nom</span>
										</th>
										<th class="text-center">
											<span>Nom du fichier</span>
										</th>
										<th class="text-center">
											<span>date Début</span>
										</th>
										<th class="text-center">
											<span>date Fin</span>
										</th>
										<th class="text-center">
											<span>Société</span>
										</th>
										<th class="text-center">
											<span>Action</span>
										</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
