{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container-fluid">
			<div class="card card-dark">
				<div class="card-header">
					<h3 class="card-title">Ajouter un Document</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-plus"></i>
						</button>
					</div>
					<!-- /.card-tools -->
				</div>
				<!-- /.card-header -->
				{{ form_start(adminDocumentsForm) }}
				<div class="d-flex flex-wrap">
					<div class="form-group mx-auto">
						<label>{{ form_label(adminDocumentsForm.title) }}:</label>
						<div class="input-group">
							{{ form_widget(adminDocumentsForm.title) }}
						</div>
					</div>
					<div class="form-group mx-auto">
						<label>{{ form_label(adminDocumentsForm.url) }}:</label>
						<div class="input-group">
							{{ form_widget(adminDocumentsForm.url) }}
						</div>
					</div>
					<!-- Date dd/mm/yyyy -->
					<div class="form-group mx-auto">
						<label>{{ form_label(adminDocumentsForm.beginningDate) }}:</label>
						<div class="input-group">
							{{ form_widget(adminDocumentsForm.beginningDate) }}
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="far fa-calendar-alt"></i>
								</span>
							</div>
						</div>
						<!-- /.input group -->
					</div>
					<div class="form-group mx-auto">
						<label>{{ form_label(adminDocumentsForm.endDate) }}:</label>
						<div class="input-group">
							{{ form_widget(adminDocumentsForm.endDate) }}
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="far fa-calendar-alt"></i>
								</span>
							</div>
						</div>
						<!-- /.input group -->
					</div>
					<div class="form-group mx-auto">
						<label>{{ form_label(adminDocumentsForm.societe) }}:</label>
						<div class="form-group">
							{{ form_widget(adminDocumentsForm.societe) }}
						</div>
					</div>
					<div class="form-group mx-auto pt-4">
						<button class="btn btn-dark">Ajouter le document</button>
					</div>
				</div>
				<div class="alert alert-info alert-dismissible col-4 ml-3 mb-3">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<h5>
						<i class="icon fas fa-bell"></i>
						Memo:</h5>
					<ul>
						<li>Un KBis est valable 3 Mois</li>
						<li>Une assurance souvent pour l'année</li>
						<li>La liste des salariés étrangers est valable 6 mois</li>
						<li>L'attestation sociale Vigilance est valable 6 mois</li>
						<li>L'attestaion fiscale est valable 6 mois</li>
					</ul>
				</div>
				{{ form_end(adminDocumentsForm) }}<!-- /.card-body --></div><!-- /.card --><div class="row">
				<div class="col-12">
					<div class="card card-dark ">
						<div class="card-header">
							<h3 class="card-title">Modification documents</h3>
							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-plus"></i>
								</button>
							</div>
							<!-- /.card-tools -->
						</div>
						<!-- /.card-header -->
						<!-- /.card-header -->
						<div class="card-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center">
											<span>Nom</span>
										</th>
										<th class="text-center">
											<span>Nom du fichier</span>
										</th>
										<th class="text-center">
											<span>date Début</span>
										</th>
										<th class="text-center">
											<span>date Fin</span>
										</th>
										<th class="text-center">
											<span>Société</span>
										</th>
										<th class="text-center">
											<span>Action</span>
										</th>
									</tr>
								</thead>

								<tbody>
									{% for document in documents %}
										<tr>
											<td class="text-center">
											
												<a href="{{ asset('doc/' ~ document.societe.dossier ~ '/' ~ document.url)}}" id="lien" name="lien" class="text-center">{{ document.title}}</a></br>
													<div class="text-right">
														<small>
															<i>déposé par
																{{ document.user.pseudo}}</i>
														</small>
													</div>
											</td>
											<td class="text-center">{{ document.url}}</td>
											<td class="text-center" style="max-width: 80px">
												<div class="text-center" ;>
													{{ document.beginningDate|date("d/m/Y")}}
												</div>
											</td>
											<td class="text-center" style="max-width: 80px">
												<div class="text-center">
													{{ document.endDate|date("d/m/Y")}}
												</div>
											</td>
											<td class="text-center">{{ document.societe.nom}}</td>
											<td class="text-center">
												<a class="btn btn-warning" href="{{path('app_edit_document', {'id' : document.id})}}">
													<i class="fas fa-edit"></i>
												</a>
												<a class="btn btn-danger" href="{{path('app_delete_document', {'id' : document.id})}}">
													<i class="fas fa-trash-alt"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th class="text-center">
											<span>Nom</span>
										</th>
										<th class="text-center">
											<span>Nom du fichier</span>
										</th>
										<th class="text-center">
											<span>date Début</span>
										</th>
										<th class="text-center">
											<span>date Fin</span>
										</th>
										<th class="text-center">
											<span>Société</span>
										</th>
										<th class="text-center">
											<span>Action</span>
										</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
