<div id="produit" class="d-none">
	<div class="col-12 col-sm-6">
		<h5 class="d-inline-block resultDes"></h5>
		<span class="float-right resultRef"></span>
		<div class="row mt-4">
			<nav class="w-100">
				<div class="nav nav-tabs" id="product-tab" role="tablist">
					<a class="nav-item nav-link active" id="product-pictures-tab" data-toggle="tab" href="#product-pictures" role="tab" aria-controls="product-pictures" aria-selected="true">
						<i class="fa-regular fa-images fa-2x"></i>
					</a>
					<a class="nav-item nav-link" id="product-documents-tab" data-toggle="tab" href="#product-documents" role="tab" aria-controls="product-documents" aria-selected="false">
						<i class="fa-regular fa-folder-open fa-2x"></i>
					</a>
					<a class="nav-item nav-link" id="product-add-pictures-tab" data-toggle="tab" href="#product-add-pictures" role="tab" aria-controls="product-add-pictures" aria-selected="true">
						<i class="fa-solid fa-camera-retro fa-2x"></i>
					</a>
					<a class="nav-item nav-link" id="product-tools-tab" data-toggle="tab" href="#product-tools" role="tab" aria-controls="product-tools" aria-selected="true">
						<i class="fa-solid fa-screwdriver-wrench fa-2x"></i>
					</a>
				</div>
			</nav>
			<div class="tab-content p-3" id="nav-tabContent">
				<div class="tab-pane fade show active" id="product-pictures" role="tabpanel" aria-labelledby="product-pictures-tab">
					<h4>Photos</h4>
					<div class="col-12">
						<a type="button" data-target-id="product-image" class="float-right updateButton">
							<i class="fas fa-trash-alt fa-3x text-secondary" style="cursor: pointer;"></i>
						</a>
						<img id="product-image" class="product-image" alt="Product Image">
					</div>
					<div class="col-12 product-image-thumbs overflow-auto d-flex" id="product-image-thumbs"></div>
					<!-- La liste d'images sera ajoutée ici dynamiquement -->
				</div>
				<div class="tab-pane fade" id="product-documents" role="tabpanel" aria-labelledby="product-documents-tab">
					<h4>Fichiers</h4>
					<div class="resultFiles"></div>
				</div>
				<div class="tab-pane fade" id="product-add-pictures" role="tabpanel" aria-labelledby="product-add-pictures-tab">
					<h4>Ajouter plusieurs Photos/Fichiers</h4>
					{{ form_start(formAddPicturesOrDocs, {'attr': {'enctype': 'multipart/form-data'}}) }}
					{{ form_widget(formAddPicturesOrDocs.files) }}
					{{ form_widget(formAddPicturesOrDocs.type) }}
					{{ form_widget(formAddPicturesOrDocs.reference, {'id': 'add_pictures_or_docs_reference' }) }}
					{{ form_widget(formAddPicturesOrDocs.importer) }}
					{{ form_end(formAddPicturesOrDocs) }}
				</div>
				<div class="tab-pane fade" id="product-tools" role="tabpanel" aria-labelledby="product-tools-tab">
					<h4>Utilitaires</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6">
		<ul class="nav flex-column">
			<li class="nav-item d-flex justify-content-between">
				<small id="sref1" class="nav-link">
					<b class="mr-3">Sref1 :</b>
					<span class="float-right resultSref1"></span>
				</small>
				<small id="sref2" class="nav-link">
					<b class="mr-3">Sref2 :</b>
					<span class="float-right resultSref2"></span>
				</small>
			</li>
			<li class="nav-item d-flex justify-content-between">
				<small class="nav-link">
					<b class="mr-1">Stock :</b>
					<span class="float-right resultStock"></span>
				</small>
				<small class="nav-link">
					<b class="mr-3">U.v :</b>
					<span class="float-right resultUv"></span>
				</small>
			</li>
			<li class="nav-item d-flex justify-content-between">
				<small id="ferme" class="nav-link">
					<b class="mr-1">Date Fermeture :</b>
					<span class="float-right resultFerme"></span>
				</small>
			</li>
		</ul>
	</div>
</div>
