{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container-fluid">
			<div class="card card-dark collapsed-card">
				<div class="card-header">
					<h3 class="card-title">Créer une News</h3>
					
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-plus"></i>
						</button>
					</div>
					<!-- /.card-tools -->
				</div>
				<!-- /.card-header -->
				<div class="row card-body">
					<div class="col-12">
						<div class="card">
							{{ form_start(form)}}
							<div class="d-flex flex-wrap card-body">
								<div class="form-group col-12">
									{{ form_row(form.title, {'attr' : {'placeholder' : "Titre", 'class' : "form-control"}})}}
								</div>
								<div class="form-group col-12">
									{{ form_row(form.content, {'attr' : {'placeholder' : "Votre publication", 'class' : "form-control"}})}}
								</div>
								<div class="form-group mx-auto pt-5">
									<button type="submit" class="btn btn-lg btn-dark mx-auto">Créer la publication</button>
								</div>
							</div>
							{{ form_end(form)}}
						</div>
					</div>
				</div>
				<!-- /.card-body -->
			</div>

			<!-- /.card -->
			<div class="row">
				<div class="col-12">
					<div class="card card-dark">
						<div class="card-header d-flex">
							<h3 class="card-title text-center mr-auto">Modification d'une News'</h3>
							<a href="{{ path('app_admin') }}" class="badge badge-success ml-auto">Retourner à l'Administration générale</a>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center">
											<span>id</span>
										</th>
										<th class="text-center">
											<span>titre</span>
										</th>
										<th class="text-center">
											<span>date de création</span>
										</th>
										<th class="text-center">
											<span>Dépositaire</span>
										</th>
										<th class="text-center">
											<span>Actions</span>
										</th>
									</tr>
								</thead>

								<tbody>
									{% for new in news %}
										<tr id="<?= $id ?>">
											<td class="text-center">
												<a class="text-dark" style="max-width: 40px;">{{new.id}}</a>
											</td>
											<td class="text-left">
												<a class="text-dark">{{new.title}}</a>
											</td>
											<td class="text-center">
												<a class="text-dark">{{ new.createdAt| date("d/m/Y")}}</a>
											</td>
											<td class="text-center">
												<a class="text-dark">{{ new.user.pseudo }}</a>
											</td>
											<td class="text-center">
												<a class="btn btn-warning" href="{{path('app_edit_news', {'id' : new.id})}}">
													<i class="fas fa-edit"></i>
												</a>
												<a class="btn btn-danger" data-toggle="modal" data-target={{"#modal-sm#{new.id}"}} >
													<i class="fas fa-trash-alt"></i>
												</a>
											</td>
											<div class="modal fade" id={{"modal-sm#{new.id}"}}>
												<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
													<h4 class="modal-title">Suppression d'une publication</h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
													</div>
													<div class="modal-body">
													<p>Vous vous apprétez à supprimer la publication <u>{{ new.title }}</u> &hellip;</p>
													</div>
													<div class="modal-footer justify-content-between">
													<button type="button" class="btn btn-success" data-dismiss="modal">Sortez moi de là !</button>
													<a href="{{path('app_delete_news', {'id' : new.id})}}" type="button" class="btn btn-danger">Supprimer définitivement</a>
													</div>
												</div>
												<!-- /.modal-content -->
												</div>
												<!-- /.modal-dialog -->
											</div>
											<!-- /.modal -->
										{% endfor %}
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th class="text-center">
											<span>id</span>
										</th>
										<th class="text-center">
											<span>titre</span>
										</th>
										<th class="text-center">
											<span>date de création</span>
										</th>
										<th class="text-center">
											<span>Dépositaire</span>
										</th>
										<th class="text-center">
											<span>Actions</span>
										</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
