{% extends 'base.html.twig' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block body %}

	<div class="card collapsed-card card-info">
		<div class="card-header">
			<h3 class="card-title">
				<i class="icon fas fa-info-circle pr-2"></i>Informations utiles</h3>
			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse">
					<i class="fas fa-minus"></i>
				</button>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<p>Cette liste permet de contrôler le stock présent dans Divalto, il est possible entre autre de la croiser avec la table achat Jardinew pour mettre à jour Wordpress</p>
			<p>L'idée est d'avoir une liste facilement accessible et exploitable sous excel pour ne pas avoir à contrôle chaque article manuellement !</p>
			<p>Vous ne pouvez choisir que de n'extraire que des codes articles qui commencent par, ou avec des designation qui contiennent, la case à cocher ne sort par défaut que les produits qui ont du stock, si vous la décochez, vous aurez les articles avec les commandes qui n'ont pas de stock</p>
			<p>le stock Direct est</p>
		</div>
		<!-- /.card-footer-->
	</div>

	{{ form_start(form) }}
	<div class="d-flex flex-wrap justify-content-between p-2">
		<div class="ml-4">
			<b>Paramétres de filtrage :</b>
		</div>
		<div class="ml-1 col-2">{{ form_widget(form.ref) }}</div>
		<div class="ml-1 col-3">{{ form_widget(form.des) }}</div>
		<div class='d-flex'>
			<div class="ml-1">{{ form_widget(form.cmd) }}</div>
			<div class="ml-1 mt-2">{{ form_label(form.cmd) }}</div>
		</div>
		<div class='d-flex'>
			<div class="ml-1">{{ form_widget(form.direct) }}</div>
			<div class="ml-1 mt-2">{{ form_label(form.direct) }}</div>
		</div>
		<div class="ml-1">{{ form_widget(form.filtrer) }}</div>
	</div>
	{{ form_end(form) }}
	<div class="row">
		<div class="col-md-12">
			<div
				class="card card-dark">
				<!-- /.card-header -->

				<div class="card-header d-flex justify-content-between ">
					<h3 class="card-title text-center">Stock et commandes clients/fournisseurs</h3>
				</div>
				<div class="card-body">
					{% if stockProduits %}
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center">
										<span>Fermé ?</span>
									</th>
									<th class="text-center">
										<span>Fournisseurs</span>
									</th>
									<th class="text-center">
										<span>Référence</span>
									</th>
									<th class="text-center">
										<span>Désignation</span>
									</th>
									<th class="text-center">
										<span>Sref1</span>
									</th>
									<th class="text-center">
										<span>Sref2</span>
									</th>
									<th class="text-center">
										<span>U.V</span>
									</th>
									<th class="text-center">
										<span>Stock</span>
									</th>
									<th class="text-center">
										<span>Cmd Cli</span>
									</th>
									<th class="text-center">
										<span>Cmd Fou</span>
									</th>
									<th class="text-center">
										<span>Total</span>
									</th>
								</tr>
							</thead>
							<tbody>
								<!-- >boucle -->
								{% for stockProduit in stockProduits %}
									<tr>
										<td class="text-center">
											<a class="text-center text-dark">
												{% if stockProduit.ArtFerme == 'CLOSE' %}
													<i class="fa-solid fa-triangle-exclamation text-danger"></i>
													Fermé !
												{% endif %}
											</a>
										</td>
										<td class="text-center">
											<a class="text-dark">{{ stockProduit.Fournisseur }}</a>
										</td>
										<td class="text-center">
											<a class="text-dark">{{ stockProduit.Ref }}</a>
										</td>
										<td class="text-left">
											<a class="text-dark">{{ stockProduit.Designation }}</a>
										</td>
										<td class="text-center">
											<a class="text-dark">
												{% if stockProduit.Sref1 %}
													{{ stockProduit.Sref1 }}
												{% endif %}
											</a>
										</td>
										<td class="text-center">
											<a class="text-dark">
												{% if stockProduit.Sref2 %}
													{{ stockProduit.Sref2 }}
												{% endif %}
											</a>
										</td>
										<td class="text-center">
											<a class="text-dark">{{ stockProduit.Uv }}</a>
										</td>
										<td class="text-center">
											<a class="text-dark">
												{% if stockProduit.Stock != 0 %}
													{{ stockProduit.Stock }}
												{% endif %}
											</a>
										</td>
										<td class="text-center">
											<a class="text-dark">
												{% if stockProduit.cmdCli != 0 %}
													{{ stockProduit.cmdCli }}
												{% endif %}
											</a>
										</td>
										<td class="text-center">
											<a class="text-dark">
												{% if stockProduit.cmdFou != 0 %}
													{{ stockProduit.cmdFou }}
												{% endif %}
											</a>
										</td>
										<td class="text-center">
											<a class="text-dark">
												{% if stockProduit.total != 0 %}
													{{ stockProduit.total }}
												{% endif %}
											</a>
										</td>
									</tr>
								{% endfor %}
								<!-- >boucle -->

							</tbody>
							<tfoot>
								<tr>
									<th class="text-center">
										<span>Fermé ?</span>
									</th>
									<th class="text-center">
										<span>Fournisseurs</span>
									</th>
									<th class="text-center">
										<span>Référence</span>
									</th>
									<th class="text-center">
										<span>Désignation</span>
									</th>
									<th class="text-center">
										<span>Sref1</span>
									</th>
									<th class="text-center">
										<span>Sref2</span>
									</th>
									<th class="text-center">
										<span>U.V</span>
									</th>
									<th class="text-center">
										<span>Stock</span>
									</th>
									<th class="text-center">
										<span>Cmd Cli</span>
									</th>
									<th class="text-center">
										<span>Cmd Fou</span>
									</th>
									<th class="text-center">
										<span>Total</span>
									</th>
								</tr>
							</tfoot>
						</table>
					{% else %}
						<h4 class="text-left text-dark">
							<i class="fas fa-info-circle pr-2 text-primary"></i>Veuillez alimenter le champs de recherche</h4>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
