{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}
{% block body %}
	{% if ns %}
		<div class="btn-group mb-2 col-12">
			<a href="{{ path('app_mouv_stock') }}" type="button" class="btn btn-primary col-6">
				<i class="fas fa-plus mr-2"></i>Nouvelle saisie
			</a>
			<a data-toggle="modal" data-target="#modal-sm-cloture" type="button" class="btn btn-success col-6">
				<i class="fas fa-bullhorn mr-2"></i>Soumettre
			</a>
			<div class="modal fade" id="modal-sm-cloture">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Voulez vous vraiment soumettre ces régularisations de stock ?</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form action="{{path('app_mouv_stock_send', {'emplacement' : app.request.attributes.get('emplacement') })}}" method="POST">
							<div class="modal-body form-group">
								<label>Commentaires
									<small>
										<i>(facultatif)</i>
									</small>
								</label>
								<textarea type="text" name="ta" class="form-control" rows="10" placeholder="Vous pouvez ajouter un commentaire..."></textarea>
							</div>
							<div class="modal-footer justify-content-between">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>

								<button class="btn btn-success" type="submit">Soumettre ces régularisations</button>
							</div>
						</form>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
		</div>
	{% else %}
		<a href="{{ path('app_mouv_stock') }}" class="text-white btn btn-primary col-12">Commencer une nouvelle saisie</a>
	{% endif %}
	{% if ns %}
		<div class="content-header">
			<div class="container-fluid">
				<div class="text-center">
					<h2>Régularisations de stock non soumises</h2>
				</div>
			</div>
		</div>
		<div class="card-body">
			{% for n in ns %}
				<div class="callout callout-warning">
					<div class="d-flex justify-content-between">
						<h5>{{ n.emplacement }}</h5>
						<a href="{{path('app_mouv_stock', {'emplacement' : n.emplacement })}}" class="text-white btn btn-info">Voir</a>
					</div>
					<i>
						<p>Saisie par
							{{ n.user }}</p>
					</i>
					<p class="text-right">
						<i>
							<small>le
								{{ n.dateCreation }}</small>
						</i>
					</p>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="card-body">
			<div class="callout callout-success">
				<div class="d-flex justify-content-between">
					<h5>Toutes les régularisations ont été soumises</h5>
				</div>
				<i>
					<p>il n'y a rien à voir..</p>
				</i>
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block javascripts %}{% endblock %}
