{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="btn-group mb-2 text-center col-12">
		<a href="{{ path('app_mouv_stock') }}" class="text-white btn btn-primary col-6">
			<i class="fa fa-plus mr-2"></i>Nouvelle Empl.
		</a>
		<a href="{{ path('app_search_products')}}" class="text-white btn btn-secondary col-6">
			<i class="fa-solid fa-magnifying-glass mr-2"></i>
		</i>Rech. prod.
	</a>
</div>
<!-- general form elements disabled -->
<div class="card card-navy">
	<div class="card-header d-flex">
		<h3 class="card-title">Régularisation de stock</h3>
		<a href="{{ path('app_mouv_stock_emplacement_ns') }}" class="badge badge-danger ml-auto">Non soumis</a>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		{{ form_start(form, { 'attr' : { 'class' : 'ml-auto' }}) }}
		<div class="form-group">
			<label class="col-form-label">
				<i class="fas fa-map-marker-alt"></i>
				Emplacement
			</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<button id="btn-emplacement" class="btn btn-warning" type="button" data-toggle="modal" data-target="#scannerModal" data-target-id="emplacement">
						<i class="fa-solid fa-camera"></i>
					</button>
				</div>
				{{ form_widget(form.emplacement, {'id': 'emplacement', 'name': 'emplacement' ,'attr' : { 'class' : 'form-control col-12 is-invalid' , 'value' : emplacement} }) }}
				{{ form_errors(form.emplacement) }}
			</div>
		</div>
		<div class="form-group mt-2">
			<label class="col-form-label" for="ean">
				<i class="fas fa-barcode"></i>
				{{ form_label(form.ean) }}
			</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<button id="btn-ean" class="btn btn-warning" type="button" data-toggle="modal" data-target="#scannerModal" data-target-id="ean">
						<i class="fa-solid fa-camera"></i>
					</button>
				</div>
				{{ form_widget(form.ean, { 'id': 'ean', 'name': 'ean' , 'attr' : { 'class' : 'form-control col-12 is-warning' } }) }}
				{{ form_errors(form.ean) }}
				<div class="input-group-append">
					<button class="btn btn-secondary" type="button" id="openProductsModal">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
			</div>
			<div class="form-check form-check-lg mt-2">
				<input class="form-check-input" type="checkbox" id="openProductsCheckbox" checked>
				<label class="form-check-label" for="openProductsCheckbox">
					Uniquement les articles ouverts
				</label>
			</div>
			<div class="form-check form-check-lg mt-2">
				<input class="form-check-input" type="checkbox" id="openProductsStockCheckbox" checked>
				<label class="form-check-label" for="openProductsStockCheckbox">
					Uniquement les articles en stock
				</label>
			</div>
		</div>
		<div class="form-group mt-2">
			<label class="col-form-label" for="oldLocation">
				<i class="fa-solid fa-right-left"></i>
				{{ form_label(form.oldLocation) }}
			</label>
			{{ form_widget(form.oldLocation, {'attr': {'disabled': true}}) }}
			<small>Transférer le stock d'un autre emplacement ou ajouter la quantité sur cet emplacement</small>
			{{ form_errors(form.oldLocation) }}
		</div>
		<div class="form-group mt-2">
			<label class="col-form-label" for="qte">
				<i class="fa-solid fa-calculator"></i>
				{{ form_label(form.qte) }}
			</label>
			{{ form_widget(form.qte, {'id': 'qte', 'type': 'number', 'attr': {'class': 'form-control col-12', 'step': '0.001', 'min': '0'}}) }}
			{{ form_errors(form.qte) }}
		</div>
	</div>
	<div class='card-footer'>
		{{ form_row(form.save, {'attr' : { 'class' : 'btn btn-xl btn-warning col-12' } }) }}
		{{ form_end(form)}}
	</div>
	<!-- /.card -->
</div>
<!-- /.card-body -->
{% include 'components/product_card.html.twig' %}
{% include 'components/product_card_light.html.twig' %}
{% include 'components/modal_scanner.html.twig' %}
{% include 'components/modal_products.html.twig' %}

{% if historiques %}
	<div class="card card-dark mt-4">
		<div class="card-header">
			<h3 class="card-title">Actuellement sur cet emplacement</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body p-0">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>Produit</th>
						<th style="width: 40px">X</th>
					</tr>
				</thead>
				<tbody>
					{% for historique in historiques %}
						<tr>
							<td>{{ historique.designation }}</td>
							<td class="text-align align-middle">
								<a data-toggle="modal" data-target={{"#modal-sm#{historique.id}"}} class="text-dark">
									<i class="fas fa-trash-alt"></i>
								</a>
								<div class="modal fade" id={{"modal-sm#{historique.id}"}}>
									<div class="modal-dialog modal-sm">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Voulez vous vraiment supprimer cette ligne ?</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="card-footer p-0">
												<ul class="nav flex-column">
													<li class="nav-item">
														<small class="nav-link">
															Id :
															<span class="float-right">{{ historique.id }}</span>
														</small>
													</li>
													<li class="nav-item">
														<small class="nav-link">
															Ean :
															<span class="float-right">{{ historique.ean }}</span>
														</small>
													</li>
													<li class="nav-item">
														<small class="nav-link">
															Référence :
															<span class="float-right">{{historique.ref}}</span>
														</small>
													</li>
													{% if historique.sref1 %}
														<li class="nav-item">
															<small class="nav-link">
																Sref1 :
																<span class="float-right">{{historique.sref1}}</span>
															</small>
														</li>
													{% endif %}
													{% if historique.sref2 %}
														<li class="nav-item">
															<small class="nav-link">
																Sref2 :
																<span class="float-right">{{historique.sref2}}</span>
															</small>
														</li>
													{% endif %}
													<li class="nav-item">
														<small class="nav-link">
															Désignation :
															<span class="float-right">{{historique.designation}}</span>
														</small>
													</li>
													<li class="nav-item">
														<small class="nav-link">
															Unité de vente :
															<span class="float-right">{{historique.uv}}</span>
														</small>
													</li>
													<li class="nav-item">
														<small class="nav-link">
															Ancien emplacement :
															<span class="float-right">
																{% if historique.oldLocation != 'Add' %}
																	{{historique.oldLocation}}
																{% endif %}
															</span>
														</small>
													</li>
													<li class="nav-item">
														<small class="nav-link">
															Quantité :
															<span class="float-right">{{historique.qte}}</span>
														</small>
													</li>
													<li class="nav-item">
														<small class="nav-link">
															Nouvel emplacement :
															<span class="float-right">{{historique.emplacement}}</span>
														</small>
													</li>
												</ul>
											</div>
											<div class="modal-footer justify-content-between">
												<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
												<a href="{{path('app_mouv_stock_emplacement_delete_id', {'id' : historique.id, 'emplacement' : app.request.attributes.get('emplacement') })}}" type="button" class="btn btn-danger">Supprimer cette ligne</a>
											</div>
										</div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>
								<!-- /.modal -->
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->
	</div>
	<!-- /.card -->

	<a data-toggle="modal" data-target="#modal-sm-supprimer" class="text-white btn btn-danger col-12">Supprimer cette saisie définitivement</a>
	<div class="modal fade" id="modal-sm-supprimer">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Voulez vous vraiment supprimer intégralement et définitivement cet emplacement
						{{app.request.attributes.get('emplacement')}}
						?</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					<a href="{{path('app_mouv_stock_emplacement_delete_all', {'emplacement' : app.request.attributes.get('emplacement') })}}" type="button" class="btn btn-danger">Supprimer</a>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
{% endif %}{% endblock %}{% block javascripts %}
{{ parent() }}<script src="https://unpkg.com/html5-qrcode"></script>
<script src="{{ asset("js/html5-qrcode.min.js")}}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>{{ productFormScript | raw }}</script>
<script>{{ eanScannerScript | raw }}</script>
<script>
	function alimSource(stockData) { // Supprimer toutes les options actuelles du champ oldLocation
$('#alimentation_emplacement_ean_oldLocation').empty();
$('#alimentation_emplacement_ean_oldLocation').prop('disabled', true);

// Ajouter l'option 'Ajouter' avec la valeur 'Add'
$('#alimentation_emplacement_ean_oldLocation').append($('<option>', {
value: 'Add',
text: 'Ajouter au stock'
}));

// Ajouter d'autres options en fonction de vos résultats (emplacements disponibles avec quantités)
if (stockData && Array.isArray(stockData) && stockData.length > 0) { // Lors du remplissage de la liste déroulante
stockData.forEach(stockRow => { // Ajoutez une option pour chaque emplacement avec sa valeur et son texte
$('#alimentation_emplacement_ean_oldLocation').append($('<option>', {
value: stockRow.empl,
text: stockRow.empl + ' - ' + stockRow.natureStock + ' - ' + stockRow.qteStock,
'data-qte': stockRow.qteStock // Stockez la quantité comme attribut de données
}));
});

// Activer le champ oldLocation
$('#alimentation_emplacement_ean_oldLocation').prop('disabled', false);
}

// Ajouter un gestionnaire d'événements pour le changement de la valeur du champ oldLocation
$('#alimentation_emplacement_ean_oldLocation').on('change', function () {
var selectedOption = $(this).find(':selected');
var qteInput = $('#qte');

// Récupérer la quantité stockée dans l'attribut de données
var qteEmplacement = parseFloat(selectedOption.data('qte'));

if (!isNaN(qteEmplacement)) { // Extraire la quantité de l'emplacement
qteInput.val(qteEmplacement);
qteInput.addClass('disabled');
} else { // Réactiver le champ qte si la valeur est 'Add'
qteInput.removeClass('disabled');
qteInput.val("");
}
});

}
</script>{% endblock %}
