{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="row mb-2 d-flex justify-content-between">
		<h1>{{ title}}</h1>
		<a class="btn btn-xl btn-default col-sm-2 col-12 m-1 float-right" href='{{path('app_affaire_change_code_affaire_search') }}'>
			<i class="fa-solid fa-code-pull-request pr-3"></i>
			<strong>Assigner code affaire sur piéce</strong>
		</a>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card collapsed-card card-dark">
				<div class="card-header">
					<h3 class="card-title text-center">Emails d'envoi des nouveaux commentaires et nouvelles affaires</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-card-widget="remove">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					{{ form_start(form)}}
					<div class="form-group d-flex flex-wrap">
						{{ form_widget(form.email) }}
						{{ form_widget(form.Ajouter)}}
					</div>
					{{ form_end(form)}}
					{% if listeMails %}
						<table id="example2" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center">
										<span>Email actuellement dans la liste</span>
									</th>
									<th class="text-center">
										<span>Action</span>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for listeMail in listeMails %}
									<tr>
										<td class="text-center">
											<a class="text-center text-dark">{{ listeMail.email }}</a>
										</td>
										<td class="text-center">
											<a data-toggle="modal" data-target="#modal-default-{{listeMail.id}}" class="text-center btn btn-xl btn-danger">
												<i class="fas fa-trash-alt"></i>
											</a>
											<div class="modal fade" id="modal-default-{{listeMail.id}}">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h4 class="modal-title">Voulez vous vraiment supprimer ce mail ?</h4>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															<p>Cette action est irréversible !&hellip;</p>
														</div>
														<div class="modal-footer justify-content-between">
															<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
															<a type="button" href='{{path('app_email_delete_redirect', {'id' : listeMail.id, 'route' : app.request.attributes.get('_route') } ) }}' class="btn btn-danger">Supprimer</a>
														</div>
													</div>
													<!-- /.modal-content -->
												</div>
												<!-- /.modal-dialog -->
											</div>
											<!-- /.modal -->
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-6">
					<div class="small-box bg-info">
						<div class="inner">
							<h3>{{ fichesNonVerrouillees|length }}</h3>
							<p>Non Verrouillée(s)</p>
						</div>
						<div class="icon">
							<i class="ion ion-bag"></i>
						</div>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-2 col-6">
					<div class="small-box bg-success">
						<div class="inner">
							<h3>
								{{ fichesAttenteValidations|length }}<sup style="font-size: 20px"></sup>
							</h3>
							<p>En attente de validation</p>
						</div>
						<div class="icon">
							<i class="ion ion-stats-bars"></i>
						</div>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-2 col-6">
					<div class="small-box bg-warning">
						<div class="inner">
							<h3>{{ fichesManquantes|length}}</h3>

							<p>Manquante(s)</p>
						</div>
						<div class="icon">
							<i class="ion ion-person-add"></i>
						</div>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-2 col-6">
					<div class="small-box bg-danger">
						<div class="inner">
							<h3>{{ fichesSansHeures|length }}</h3>

							<p>Sans heure(s)</p>
						</div>
						<div class="icon">
							<i class="ion ion-pie-graph"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-6">
					<div class="small-box bg-primary">
						<div class="inner">
							<h3>{{ fichesDatesIncoherentes|length }}</h3>

							<p>Dates incohérentes</p>
						</div>
						<div class="icon">
							<i class="ion ion-pie-graph"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-6">
					<div class="small-box bg-secondary">
						<div class="inner">
							<h3>??</h3>

							<p>Champs libre</p>
						</div>
						<div class="icon">
							<i class="ion ion-pie-graph"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="d-flex flex-wrap">
			{% if fichesNonVerrouillees %}
				<div class="col-md-12 col-12">
					<div class="card card-info">
						<div class="card-header">
							<h3 class="card-title">Fiche(s) non Verrouillée(s)</h3>
						</div>
						<div class="card-body text-center">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Intervenant</th>
										<th>Date</th>
										<th>Présence</th>
										<th>Nbes Heures</th>
										<th>Affaire</th>
										<th>Libellé</th>
										<th>Client</th>
										<th>Intervention</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for fichesNonVerrouillee in fichesNonVerrouillees %}
										<tr>
											<td {% if fichesNonVerrouillee.Heures|length == 0 %} class="table-danger" {% endif %}>{{ fichesNonVerrouillee.Intervenant.pseudo }}</td>
											<td {% if fichesNonVerrouillee.Heures|length == 0 %} class="table-danger" {% endif %}>{{ fichesNonVerrouillee.createdAt|date("d/m/Y", "Europe/Paris") }}</td>
											<td {% if fichesNonVerrouillee.Heures|length == 0 %} class="table-danger" {% endif %}>
												{% if fichesNonVerrouillee.here == 0 %}
													<strong>Absent</strong>
												{% else %}
													Présent
												{% endif %}
											</td>
											<td {% if fichesNonVerrouillee.Heures|length == 0 %} class="table-danger" {% endif %}>{{ fichesNonVerrouillee.Heures|length }}</td>
											<td {% if fichesNonVerrouillee.Heures|length == 0 %} class="table-danger" {% endif %}>{{ fichesNonVerrouillee.Intervention.code.code }}</td>
											<td {% if fichesNonVerrouillee.Heures|length == 0 %} class="table-danger" {% endif %}>{{ fichesNonVerrouillee.Intervention.code.libelle }}</td>
											<td {% if fichesNonVerrouillee.Heures|length == 0 %} class="table-danger" {% endif %}>{{ fichesNonVerrouillee.Intervention.code.nom }}</td>
											<td {% if fichesNonVerrouillee.Heures|length == 0 %} class="table-danger" {% endif %}>{{ fichesNonVerrouillee.Intervention.start|date("d/m/Y", "Europe/Paris") }}
												au
												{{ fichesNonVerrouillee.Intervention.end|date("d/m/Y", "Europe/Paris") }}
											</td>
											<td {% if fichesNonVerrouillee.Heures|length == 0 %} class="table-danger" {% endif %}>
												<a href='{{path('app_affaire_edit_fiche_intervention', {'id' : fichesNonVerrouillee.Intervention.id, 'ficheId' : fichesNonVerrouillee.id } ) }}'>
													<i class="nav-icon fas fa-eye fa-2x text-secondary m-2"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			{% endif %}
			{% if fichesAttenteValidations %}
				<div class="col-md-6 col-12">
					<div class="card card-success">
						<div class="card-header">
							<h3 class="card-title">Fiche(s) en attente de validation</h3>
						</div>
						<div class="card-body text-center">
							<table id="example11" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Intervenant</th>
										<th>Date</th>
										<th>Présence</th>
										<th>Nbes Heures</th>
										<th>Affaire</th>
										<th>Intervention</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for fichesAttenteValidation in fichesAttenteValidations %}
										<tr>
											<td {% if fichesAttenteValidation.Heures|length == 0 %} class="card-danger" {% endif %}>{{ fichesAttenteValidation.Intervenant.pseudo }}</td>
											<td {% if fichesAttenteValidation.Heures|length == 0 %} class="card-danger" {% endif %}>{{ fichesAttenteValidation.createdAt|date("d/m/Y", "Europe/Paris") }}</td>
											<td {% if fichesAttenteValidation.Heures|length == 0 %} class="card-danger" {% endif %}>
												{% if fichesAttenteValidation.here == 0 %}
													<strong>Absent</strong>
												{% else %}
													Présent
												{% endif %}
											</td>
											<td {% if fichesAttenteValidation.Heures|length == 0 %} class="card-danger" {% endif %}>{{ fichesAttenteValidation.Heures|length }}</td>
											<td {% if fichesAttenteValidation.Heures|length == 0 %} class="card-danger" {% endif %}>{{ fichesAttenteValidation.Intervention.code.code }}</td>
											<td {% if fichesAttenteValidation.Heures|length == 0 %} class="card-danger" {% endif %}>{{ fichesAttenteValidation.Intervention.start|date("d/m/Y", "Europe/Paris") }}
												au
												{{ fichesAttenteValidation.Intervention.end|date("d/m/Y", "Europe/Paris") }}
											</td>
											<td {% if fichesAttenteValidation.Heures|length == 0 %} class="card-danger" {% endif %}>
												<a data-toggle="modal" data-target="#modal-valider-{{fichesAttenteValidation.id}}">
													<i class="nav-icon fas fa-check-circle text-success fa-2x m-2"></i>
												</a>
											</td>
											<div class="modal fade" id="modal-valider-{{fichesAttenteValidation.id}}">
												<div class="modal-dialog modal-lg">
													<div class="modal-content">
														<div class="modal-header">
															<h4 class="modal-title">Voulez vous vraiment valider cette fiche ?</h4>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															<div>
																<p>
																	<strong>Affaire :</strong>
																	{{ fichesAttenteValidation.intervention.code.libelle }}
																</p>
																<p>
																	<strong>Client :</strong>
																	{{ fichesAttenteValidation.intervention.code.nom }}
																</p>
																<p>
																	<strong>Adresse :</strong>
																	{{ fichesAttenteValidation.intervention.adresse }}
																</p>
																<p>
																	<strong>Intervention :</strong>
																	du
																	{{ fichesAttenteValidation.intervention.start|date("d-m-Y", "Europe/Paris") }}
																	au
																	{{ fichesAttenteValidation.intervention.end|date("d-m-Y", "Europe/Paris") }}
																</p>
																<p>
																	<strong>Date :
																	</strong>
																	{{fichesAttenteValidation.createdAt|date("d/m/Y", "Europe/Paris")}}
																</p>
																<p>
																	<strong>Présence :</strong>
																	{% if fichesAttenteValidation.here == 0 %}Absence (Maladie ou autre)
																	{% else %}
																		Présence
																	{% endif %}
																</p>
																<p>
																	<strong>Saisie par :</strong>
																	{{ fichesAttenteValidation.createdBy.pseudo }}
																</p>
																<p>
																	<strong>Intervenant :</strong>
																	{{ fichesAttenteValidation.intervenant.pseudo }}
																</p>
																{% if fichesAttenteValidation.pension %}
																	<p>
																		<strong>Pension :</strong>
																		{% for pension in fichesAttenteValidation.pension %}
																			{{ pension }}
																			,

																		{% endfor %}
																	</p>
																{% endif %}
																<p>
																	<strong>Déplacements :</strong>

																	{% for heure in fichesAttenteValidation.heures %}
																		{% if heure.type == "deplacement" %}
																			<p>{{ heure.start|date("H:i", "Europe/Paris")}}
																				-
																				{{ heure.end|date("H:i", "Europe/Paris")}}
																			</p>
																		{% endif %}
																	{% endfor %}

																</p>
																<p>
																	<strong>Travaux :</strong>

																	{% for heure in fichesAttenteValidation.heures %}
																		{% if heure.type == "Travaux" %}
																			<p>{{ heure.start|date("H:i", "Europe/Paris")}}
																				-
																				{{ heure.end|date("H:i", "Europe/Paris")}}
																			</p>
																		{% endif %}
																	{% endfor %}

																</p>
																{% if fichesAttenteValidation.comment %}
																	<p>
																		<strong>Commentaires :</strong>
																		{% if fichesAttenteValidation.comment %}
																			{{ fichesAttenteValidation.comment|raw }}
																		{% endif %}
																	</p>
																{% endif %}
															</div>
														</div>
														<div class="modal-footer justify-content-between">
															<a href='{{path('app_affaire_edit_fiche_intervention', {'id' : fichesAttenteValidation.Intervention.id, 'ficheId' : fichesAttenteValidation.id } ) }}'>
																<i class="nav-icon fas fa-edit fa-2x text-secondary m-2"></i>
															</a>
															<a href='{{path('app_affaire_valider_fiche_intervention', {'id' : fichesAttenteValidation.id } ) }}' type="button" class="btn btn-success">Valider</a>
														</div>
													</div>
												</div>
											</div>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			{% endif %}
			{% if fichesManquantes %}
				<div class="col-md-6 col-12">
					<div class="card card-warning">
						<div class="card-header">
							<h3 class="card-title">Fiche(s) Manquante(s)</h3>
						</div>
						<div class="card-body text-center">
							<table id="example12" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Intervenant</th>
										<th>Date</th>
										<th>Affaire</th>
										<th>Intervention</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% set f = 1 %}
									{% for fichesManquante in fichesManquantes %}
										<tr>
											<td>{{ fichesManquante.intervenant.pseudo }}</td>
											<td>{{ fichesManquante.createdAt|date("d/m/Y", "Europe/Paris") }}</td>
											<td>{{ fichesManquante.intervention.code.code }}</td>
											<td>{{ fichesManquante.intervention.start|date("d/m/Y", "Europe/Paris") }}
												au
												{{ fichesManquante.intervention.end|date("d/m/Y", "Europe/Paris") }}
											</td>
											<td>
												<a data-toggle="modal" data-target="#modal-creer-{{f}}">
													<i class="nav-icon fas fa-plus-circle text-success fa-2x m-2"></i>
												</a>
											</td>
											<div class="modal fade" id="modal-creer-{{f}}">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h4 class="modal-title">Voulez vous vraiment créer cette fiche ?</h4>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															<p>
																<strong>Intervenants :
																</strong>
																{{ fichesManquante.intervenant.pseudo }}
															</p>
															<p>
																<strong>Date :
																</strong>
																{{ fichesManquante.createdAt|date("d/m/Y", "Europe/Paris") }}
															</p>
															<p>
																<strong>Affaire :
																</strong>
																{{ fichesManquante.intervention.code.code }}
															</p>
															<p>
																<strong>Libellé :
																</strong>
																{{ fichesManquante.intervention.code.libelle }}
															</p>
															<p>
																<strong>Client :
																</strong>
																{{ fichesManquante.intervention.code.nom }}
															</p>
															<p>
																<strong>Intervention
																</strong><br><strong>du
																</strong>
																{{ fichesManquante.intervention.start|date("d/m/Y", "Europe/Paris") }}
																<strong><br>
																	au
																</strong>
																{{ fichesManquante.intervention.end|date("d/m/Y", "Europe/Paris") }}
															</p>
														</div>
														<div class="modal-footer justify-content-between">
															<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
															<a href='{{path('app_affaire_creer_fiche_intervention', {'id' : fichesManquante.intervention.id, 'intervenant' : fichesManquante.intervenant.id, 'createdAt' : fichesManquante.createdAt|date("Y-m-d", "Europe/Paris") } ) }}' type="button" class="btn btn-primary">Créer</a>
														</div>
													</div>
												</div>
											</div>
										</tr>
										{% set f = f + 1 %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			{% endif %}
			{% if fichesDatesIncoherentes %}
				<div class="col-md-6 col-12">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Fiche(s) date(s) incohérente(s)</h3>
						</div>
						<div class="card-body text-center">
							<table id="example14" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Intervenant</th>
										<th>Date</th>
										<th>Affaire</th>
										<th>Intervention</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for fichesDatesIncoherente in fichesDatesIncoherentes %}
										<tr>
											<td>{{ fichesDatesIncoherente.pseudo }}</td>
											<td>{{ fichesDatesIncoherente.createdAt|date("d/m/Y", "Europe/Paris") }}</td>
											<td>{{ fichesDatesIncoherente.code }}</td>
											<td>{{ fichesDatesIncoherente.start|date("d/m/Y", "Europe/Paris") }}
												au
												{{ fichesDatesIncoherente.end|date("d/m/Y", "Europe/Paris") }}
											</td>
											<td>
												<a href='{{path('app_affaire_edit_fiche_intervention', {'id' : fichesDatesIncoherente.intId, 'ficheId' : fichesDatesIncoherente.ficheId } ) }}'>
													<i class="nav-icon fas fa-eye fa-2x text-secondary m-2"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</section>

	<section class="content">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Pointage d'heures par salarié</h3>
				<div>
					{{ form_start(formFiches) }}
					<div class="d-flex justify-content-end align-items-center">
						<div>
							du
						</div>
						{{ form_widget(formFiches.startDate, {'attr' : {'class' : "form-control col-3 mx-2"}}) }}
						<div>
							au
						</div>
						{{ form_widget(formFiches.endDate, {'attr' : {'class' : "form-control col-3 mx-2"}}) }}
						{{ form_widget(formFiches.filtrer, {'attr' : {'class' : "form-control col-3 btn btn-dark"}}) }}
					</div>
					{{ form_end(formFiches) }}
				</div>
			</div>
			<div class="card-body">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Pointage des salariés pour cette période</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<table id="example1" class="table table-bordered table-hover text-center">
							<thead>
								<tr>
									<th>Salariés</th>
									<th>Semaine</th>
									<th>Date</th>
									<th>Pension</th>
									<th>Heures</th>
								</tr>
							</thead>
							<tbody>
								{# Initialise les tableaux vides pour chaque type d'heures #}
								{% set deplacement_hours = [] %}
								{% set depot_hours = [] %}
								{% set travaux_hours = [] %}
								{% for tabPointage in tabPointages %}
									<tr>
										<td>{{ tabPointage.intervenant.pseudo }}</td>
										<td>{{ tabPointage.createdAt|date("W", "Europe/Paris") }}</td>
										<td>{{ tabPointage.createdAt|date("d/m/Y", "Europe/Paris") }}</td>
										<td>
											{% for pension in tabPointage.pension %}
												{{ pension }}
												|
											{% endfor %}
										</td>
										<td>
											<ul>
												{% for heure in tabPointage.heures %}
													<li>
														{{ heure.type }}
														-
														{{ heure.start|date("H:i", "Europe/Paris") }}
														-
														{{ heure.end|date("H:i", "Europe/Paris") }}
														{% set difference = heure.end|date("U") - heure.start|date("U") %}
														=
														{% set hours = (difference // 3600) %}
														{% set minutes = ((difference % 3600) // 60) %}
														{{ hours }}
														h
														{{ minutes }}
													</li>
													{# Ajouter les heures et les minutes au tableau approprié #}
													{% if heure.type == 'deplacement' %}
														{% set deplacement_hours = deplacement_hours|merge([{'hours': hours, 'minutes': minutes}]) %}
													{% elseif heure.type == 'Depot' %}
														{% set depot_hours = depot_hours|merge([{'hours': hours, 'minutes': minutes}]) %}
													{% elseif heure.type == 'Travaux' %}
														{% set travaux_hours = travaux_hours|merge([{'hours': hours, 'minutes': minutes}]) %}
													{% endif %}
												{% endfor %}
											</ul>
										</td>
									</tr>
								{% endfor %}

								{# Calculer les totaux pour chaque type d'heures #}
								{% set total_deplacement_hours = 0 %}
								{% set total_deplacement_minutes = 0 %}
								{% set total_depot_hours = 0 %}
								{% set total_depot_minutes = 0 %}
								{% set total_travaux_hours = 0 %}
								{% set total_travaux_minutes = 0 %}

								{% for hour in deplacement_hours %}
									{% set total_deplacement_hours = total_deplacement_hours + hour.hours %}
									{% set total_deplacement_minutes = total_deplacement_minutes + hour.minutes %}
								{% endfor %}

								{% for hour in depot_hours %}
									{% set total_depot_hours = total_depot_hours + hour.hours %}
									{% set total_depot_minutes = total_depot_minutes + hour.minutes %}
								{% endfor %}

								{% for hour in travaux_hours %}
									{% set total_travaux_hours = total_travaux_hours + hour.hours %}
									{% set total_travaux_minutes = total_travaux_minutes + hour.minutes %}
								{% endfor %}

								{# Effectuer le report des minutes excédentaires dans les heures pour chaque type #}
								{% set carry_deplacement_hours = total_deplacement_minutes // 60 %}
								{% set total_deplacement_hours = total_deplacement_hours + carry_deplacement_hours %}
								{% set total_deplacement_minutes = total_deplacement_minutes % 60 %}

								{% set carry_depot_hours = total_depot_minutes // 60 %}
								{% set total_depot_hours = total_depot_hours + carry_depot_hours %}
								{% set total_depot_minutes = total_depot_minutes % 60 %}

								{% set carry_travaux_hours = total_travaux_minutes // 60 %}
								{% set total_travaux_hours = total_travaux_hours + carry_travaux_hours %}
								{% set total_travaux_minutes = total_travaux_minutes % 60 %}

								{# Afficher les totaux pour chaque type d'heures #}
								<div class="row">
									<div>
										Total Déplacement pour cette période :
										{{total_deplacement_hours}}
										heures et
										{{ total_deplacement_minutes }}
										minutes
									</div>
									<div>
										total dépôt pour cette période :
										{{ total_depot_hours }}
										heures et
										{{ total_depot_minutes }}
										minutes
									</div>
									<div>
										total travaux pour cette période :
										{{ total_travaux_hours }}
										heures et
										{{ total_travaux_minutes }}
										minutes
									</div>
								</tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
