{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<div class="card collapsed-card card-info">
    <div class="card-header">
    <h3 class="card-title"><i class="icon fas fa-info-circle pr-2"></i>Informations utiles</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
<!-- /.card-header -->
    <div class="card-body">
        <p>Pour saisir une commande de produit Rossignol dans Divalto, il faut impérativement utiliser le code OP "CO" ( la lettre C et la lettre O comme Occasion)</p>
        <p>Le stock est sur la nature de stock O (comme Occasion), il est donc clairement distingué du reste, le service logistique peut donc alimenter ce stock Occasion avec des produits abimés, l'intranet sera mis à jour instantanément</p>
        <p>Pour qu'une vente soit lié a un rossignol, il faut donc impérativement utiliser le code op "CO"</p>
        <p>Vous pouvez utiliser les codes OP suivants:</p>
        <ul>
            <li>JIO => Régularisation en entrée Occasion (les caractéres JIO sont tous des lettres, le O signifie Occasion)</li>
            <li>IIO => Régularisation en sortie Occasion (les caractéres IIO sont tous des lettres, le O signifie Occasion)</li>
            <li>CO => Vente Occasion (les caractéres CO sont tous des lettres, le O signifie Occasion)</li>
            <li>DO => Avoir Occasion (DO sont des lettres, comme la note de musique DO en majuscule, le O signifie Occasion)</li>
        </ul>
    </div>
<!-- /.card-footer-->
</div>


<div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <!-- /.card-header -->
                    <div class="card-header d-flex justify-content-between ">
                        <h3 class="card-title text-center">Rossignols</h3>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>Référence</span></th>
                                    <th class="text-center"><span>Désignation</span></th>
                                    <th class="text-center"><span>Sref1</span></th>
                                    <th class="text-center"><span>Sref2</span></th>
                                    <th class="text-center"><span>U.V</span></th>
                                    <th class="text-center"><span>Dépôt</span></th>
                                    <th class="text-center"><span>Nature</span></th>
                                    <th class="text-center"><span>stock</span></th>
                                    <th class="text-center"><span>Qté Réservée</span></th>
                                    
                                </tr>
                            </thead>
                            <tbody>
							 
                              <!-- >boucle -->
                              {% for stockRossignol in stockRossignols %}
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ stockRossignol.Ref }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ stockRossignol.Designation }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ stockRossignol.Sref1 }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ stockRossignol.Sref2 }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ stockRossignol.Uv }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ stockRossignol.Depot }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ stockRossignol.Nature }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ stockRossignol.Stock }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-center text-dark">{{ stockRossignol.CmdQte }}</a>
                                        </td>
                                    </tr>
                              {% endfor %}
                             <!-- >boucle -->

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center"><span>Référence</span></th>
                                    <th class="text-center"><span>Désignation</span></th>
                                    <th class="text-center"><span>Sref1</span></th>
                                    <th class="text-center"><span>Sref2</span></th>
                                    <th class="text-center"><span>U.V</span></th>
                                    <th class="text-center"><span>Dépôt</span></th>
                                    <th class="text-center"><span>Nature</span></th>
                                    <th class="text-center"><span>stock</span></th>
                                    <th class="text-center"><span>Qté Réservée</span></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

