{% extends 'base.html.twig' %}

{% block title %}Dépôt de congés pour un ou plusieurs salarié(s){% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header d-flex">
                <h3 class="card-title text-center">Dépôt de congés pour un ou plusieurs salarié(s)</h3>
                <a href="{{ path('app_holiday_list') }}" class="badge badge-success ml-auto">Retourner à la liste</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ form_start(form) }}
                <div class="d-flex flex-wrap">
                {{ form_label(form.start) }}
                {{ form_widget(form.start) }}
                {{ form_widget(form.sliceStart) }}
                {{ form_label(form.end) }}
                {{ form_widget(form.end) }}
                {{ form_widget(form.sliceEnd) }}
                {{ form_label(form.holidayType) }}
                {{ form_widget(form.holidayType) }}

                </div>
                
              <div class="mailbox-controls float-right">
                <button type="button" id="selectAll" class="btn btn-default btn-sm checkbox-toggle">Selectionner/déselectionner tout<i class="ml-4 far fa-square"></i></button>
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <span>Nom de l'utilisateur</span>
                            </th>
                            <th class="text-center">
                                <span>Email de l'utilisateur</span>
                            </th>
                            <th class="text-center">
                                <span>Service</span>
                            </th>
                            <th class="text-center">
                                <span>Cocher</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    {% block form_row %}
                    {% spaceless %}

                        <tr>
                            <td>{{form_label(form.user)}}</td>
                            <td> {{form_widget(form.user) }} </td>
                            
                        </tr>

                    {% endspaceless %}
                    {% endblock %}

                    </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>


                {% if app.request.attributes.get('_route') == 'app_holiday_edit' %}
                {{ form_widget(form.Envoyer, {'label': 'Modifier'} ) }}
                <a class='btn btn-danger m-3' title="supprimer" data-toggle="modal" data-target="#modal-default"></i>Supprimer cette demande de congés</a>
                 <div class="modal fade" id="modal-default">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">Voulez vous vraiment supprimer ce congés ?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <p>Cette action est irréversible !&hellip;</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <a type="button" href="{{ path( 'app_holiday_delete', {'id': app.request.get('id')} ) }}" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$('#selectAll').click(function(e) {
    if($(this).hasClass('checkedAll')) {
      $('input').prop('checked', false);   
      $(this).removeClass('checkedAll');
    } else {
      $('input').prop('checked', true);
      $(this).addClass('checkedAll');
    }
});
</script>
{% endblock %}

