{% extends 'base.html.twig' %}

{% block title %}Liste des congés{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header d-flex">
                <h3 class="card-title text-center">Liste des congés</h3>
                {% if is_granted('ROLE_CONGES') %}
                <a href="{{ path('app_holiday_new_closing') }}" class="badge badge-success ml-auto">administration des congés</a>
                {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr class="text-center">
                            <th>Id</th>
                            <th>Statuts</th>
                            <th>Utilisateur</th>
                            <th>Services</th>
                            <th>Date de Début</th>
                            <th>Date de Fin</th>
                            <th>Nb CP</th>
                            <th>Demande déposé</th>
                            <th>Date de traitement</th>
                            <th>Traité par</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                    {% for holiday in holidays %}
                        <tr>
                            <td>{{ holiday.id }}</td>
                            <td>
                            {% if holiday.holidayStatus.id == 1 %}
                                <a class="btn btn-light btn-xl text-dark" data-toggle="dropdown">
                                <i class="far fa-hourglass"></i>
                                <span class="badge badge-success navbar-badge">0</span>
                            </a>
                            {% endif %}
                            {% if holiday.holidayStatus.id == 2 %}
                            <a class="btn btn-light btn-xl text-dark" data-toggle="dropdown">
                                <i class="far fa-hourglass"></i>
                                <span class="badge badge-warning navbar-badge">10</span>
                            </a>
                            {% endif %}
                            {% if holiday.holidayStatus.id == 3 %}
                                <div><i class="fas fa-check fa-2x text-success"></i></div>
                            {% endif %}
                            {% if holiday.holidayStatus.id == 4 %}
                                <div><i class="fas fa-times fa-2x text-danger"></i></div>
                            {% endif %}
                            </td>
                                <td>{{ holiday.user.pseudo }}</td>
                                <td><div class="btn" style="background-color: {{ holiday.user.service.color }}; color: {{ holiday.user.service.textColor }}">{{ holiday.user.service.title }}</div></td>
                            {% if holiday.sliceStart == 'AM' %}{% set trancheStart = 'Matin' %}{% elseif holiday.sliceStart == 'PM' %}{% set trancheStart = 'Aprés midi' %}{% else %}{% set trancheStart = 'Journée' %}{% endif %}
                            <td>{{ holiday.start ? holiday.start|date('d-m-Y') : '' }} {{ trancheStart }}</td>
                            {% if holiday.sliceEnd == 'AM' %}{% set trancheEnd = 'Matin' %}{% elseif holiday.sliceEnd == 'PM' %}{% set trancheEnd = 'Aprés midi' %}{% else %}{% set trancheEnd = 'Journée' %}{% endif %}
                            <td>{{ holiday.end ? holiday.end|date('d-m-Y') : '' }} {{ trancheEnd }}</td>
                            <td>{{ holiday.nbJours }}</td>
                            <td>{{ holiday.createdAt|time_diff }}</td>
                            <td>{{ holiday.treatmentedAt ? holiday.treatmentedAt|date('d-m-Y H:i:s') : '' }}</td>
                            <td>
                                {% if holiday.treatmentedBy %}
                                    {{ holiday.treatmentedBy.pseudo }}
                                {% endif %}
                            </td>
                            <td>
                                {% if holiday.user.id == app.user.id or is_granted('ROLE_CONGES') %}
                                    <a class='btn btn-info' title="Voir" href="{{ path('app_holiday_show', {'id': holiday.id}) }}"><i class="fas fa-eye"></i></a>
                                    <a class='btn btn-warning' title="Modifier" href="{{ path('app_holiday_edit', {'id': holiday.id}) }}"><i class="fas fa-edit"></i></a>
                                {% endif %}
                            {% if is_granted('ROLE_CONGES') %}
                                <a class='btn btn-success' title="Accepter" href="{{ path('app_holiday_accept', {'id': holiday.id}) }}"><i class="fas fa-check"></i></a>
                                <a class='btn btn-danger' title="Refuser" href="{{ path('app_holiday_refuse', {'id': holiday.id}) }}"><i class="fas fa-times"></i></a>
                            {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">Pas de données à afficher</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class='btn btn-dark float-right mt-3' href="{{ path('app_holiday_new') }}">Déposer une demande de congés</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header d-flex">
                <h3 class="card-title text-center">Calendrier des congés validés</h3>
            </div>
            <div class="card-body">
                    <div >
                    <!-- THE CALENDAR -->
                    <div id="external-events"></div>
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<!-- tables -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,"order": [[ 0, "desc" ]],
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
	$("#example3").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,"order": [[ 0, "desc" ]],
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example3_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": false,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

<!-- fullCalendar 2.2.5 -->
<script>
  $(function () {

    /* initialize the external events
     -----------------------------------------------------------------*/
    function ini_events(ele) {
      ele.each(function () {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        }

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject)

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex        : 1070,
          revert        : true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        })

      })
    }

    ini_events($('#external-events div.external-event'))

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()

    var Calendar = FullCalendar.Calendar;
    var Draggable = FullCalendarInteraction.Draggable;

    var containerEl = document.getElementById('external-events');
    var checkbox = document.getElementById('drop-remove');
    var calendarEl = document.getElementById('calendar');

    // initialize the external events
    // -----------------------------------------------------------------

    new Draggable(containerEl, {
      itemSelector: '.external-event',
      eventData: function(eventEl) {
        console.log(eventEl);
        return {
          title: eventEl.innerText,
          backgroundColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          borderColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          textColor: window.getComputedStyle( eventEl ,null).getPropertyValue('color'),
        };
      }
    });

    var calendar = new Calendar(calendarEl, {
      plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid' ],
	  locale: 'fr',
    timeZone: 'Europe/Paris',
      header    : {
        left  : 'prev,next today',
        center: 'title',
        right : 'dayGridMonth,timeGridWeek,timeGridDay'
      },
	  buttonText: {
		  today: 'Aujourd\'hui',
		  month: 'Mois',
      day: 'Jour',
		  week: 'Semaine'
	  },
      //Random default events
      events    : {{ data|raw }},
      editable  : false,
      droppable : true, // this allows things to be dropped onto the calendar !!!
      drop      : function(info) {
        // is the "remove after drop" checkbox checked?
        if (checkbox.checked) {
          // if so, remove the element from the "Draggable Events" list
          info.draggedEl.parentNode.removeChild(info.draggedEl);
        }
      }    
    });

    calendar.render();
    // $('#calendar').fullCalendar()

    /* ADDING EVENTS */
    var currColor = '#3c8dbc' //Red by default
    //Color chooser button
    var colorChooser = $('#color-chooser-btn')
    $('#color-chooser > li > a').click(function (e) {
      e.preventDefault()
      //Save color
      currColor = $(this).css('color')
      //Add color effect to button
      $('#add-new-event').css({
        'background-color': currColor,
        'border-color'    : currColor
      })
    })
    $('#add-new-event').click(function (e) {
      e.preventDefault()
      //Get value and make sure it is not null
      var val = $('#new-event').val()
      if (val.length == 0) {
        return
      }

      //Create events
      var event = $('<div />')
      event.css({
        'background-color': currColor,
        'border-color'    : currColor,
        'color'           : '#fff'
      }).addClass('external-event')
      event.html(val)
      $('#external-events').prepend(event)

      //Add draggable funtionality
      ini_events(event)

      //Remove event from text input
      $('#new-event').val('')
    })
  })
</script>
<!-- End Calendrier -->

{% endblock %}
