{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		#reader {
			width: 100%;
			height: calc(100% - 40px);
		}
		#read-video,
		#read-canvas {
			display: none;
		}
		#text {
			width: 100%;
			height: 40px;
			text-align: center;
			font-size: 24px;
			color: #FFF;
			background-color: #333;
		}
	</style>
{% endblock %}
{% block body %}
	<!-- general form elements disabled -->
	<div class="card card-navy">
		<div class="card-header">
			<h3 class="card-title">Sortie de stock</h3>
			<div class="card-tools">
				<a href='{{path('app_affaire_me_nok' ) }}' class="badge badge-primary">
					<i class="fas fa-share mr-1"></i>
					Affaires
				</a>
				<a href="{{ path('app_scan_ean_ns') }}" class="badge badge-danger ml-auto">Retrait non soumis</a>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			{{ form_start(form, { 'attr' : { 'class' : 'ml-auto' }}
			) }}
			<div class="form-group">
				{{ form_widget(form.chantier, {'id': 'chantier' ,'attr' : { 'value' : chantier} }) }}
				{{ form_errors(form.chantier) }}
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<button id="clear-ean-button" class="btn btn-dark" type="button">
							<i class="fa-solid fa-trash-can"></i>
						</button>
					</div>
					{{ form_widget(form.ean, { 'id': 'ean', 'name':"ean" , 'attr' : { 'class' : 'form-control col-12 is-warning' } }) }}
					<div class="input-group-append">
						<button id="btn-ean" class="btn btn-warning" type="button" data-toggle="modal" data-target="#scannerModal" data-target-id="ean">
							<i class="fa-solid fa-camera"></i>
						</button>
					</div>
				</div>
				{{ form_errors(form.ean) }}
			</div>
			{% include 'components/product_card.html.twig' %}
			<div id="panier" class="d-none">
				<div id="stockFaux" class="custom-control custom-switch">
					{{ form_widget(form.stockFaux) }}
					{{ form_label(form.stockFaux) }}
				</div>

				<div class="form-group d-flex justify-content-between align-items-center">
					{{ form_widget(form.qte, {'id': 'qte', 'type': 'number', 'attr': {'class': 'form-control col-4', 'step': '0.001', 'min': '0'}}) }}
					{{ form_errors(form.qte) }}
					{{ form_widget(form.save, {'attr': {'class': 'form-control btn btn-xl btn-warning col-7'}}) }}
				</div>
			</div>
			{{ form_end(form)}}


			{% if historiques %}
				<a data-toggle="modal" data-target="#modal-sm-cloture" class="btn btn-success text-center col-12 mt-3">Soumettre le retrait pour ce chantier</a>
				<div class="modal fade" id="modal-sm-cloture">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Voulez vous vraiment soumettre ce retrait pour ce chantier ?</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form action="{{path('app_scan_ean-send', {'chantier' : app.request.attributes.get('chantier') })}}" method="POST">
								<div class="modal-body form-group">
									<label>Commentaires
										<small>
											<i>(facultatif)</i>
										</small>
									</label>
									<textarea type="text" name="ta" class="form-control" rows="10" placeholder="Vous pouvez ajouter un commentaire, des produits qui n'avaient pas de code barre, etc ..."></textarea>
								</div>
								<div class="modal-footer justify-content-between">
									<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
									<button class="btn btn-success" type="submit">Soumettre ce retrait de marchandise</button>
								</div>
							</form>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
			{% endif %}
			<!-- /.card -->
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>

	<div class="modal fade" id="scannerModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Scannez le code</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="text">Scannez le code</div>
					<div id="reader"></div>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default close" data-dismiss="modal">fermer</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>


	{% if historiques %}
		<div class="card card-dark mt-4">
			<div class="card-header">
				<h3 class="card-title">Panier de ce chantier</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body p-0">
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Produit</th>
							<th>qte</th>
							<th style="width: 40px">X</th>
						</tr>
					</thead>
					<tbody>
						{% for historique in historiques %}
							<tr>
								<td>{{ historique.designation }}</td>
								<td class="align-middle">{{ historique.qte }}</td>
								<td class="text-align align-middle">
									<a data-toggle="modal" data-target={{"#modal-sm#{historique.id}"}} class="text-dark">
										<i class="fa-solid fa-trash-can fa-bounce"></i>
									</a>
									<div class="modal fade" id={{"modal-sm#{historique.id}"}}>
										<div class="modal-dialog modal-sm">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Voulez vous vraiment supprimer cette ligne ?</h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="card-footer p-0">
													<ul class="nav flex-column">
														<li class="nav-item">
															<small class="nav-link">
																Id :
																<span class="float-right">{{ historique.id }}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Ean :
																<span class="float-right">{{ historique.ean }}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Référence :
																<span class="float-right">{{historique.ref}}</span>
															</small>
														</li>
														{% if historique.sref1 %}
															<li class="nav-item">
																<small class="nav-link">
																	Sref1 :
																	<span class="float-right">{{historique.sref1}}</span>
																</small>
															</li>
														{% endif %}
														{% if historique.sref2 %}
															<li class="nav-item">
																<small class="nav-link">
																	Sref2 :
																	<span class="float-right">{{historique.sref2}}</span>
																</small>
															</li>
														{% endif %}
														<li class="nav-item">
															<small class="nav-link">
																Désignation :
																<span class="float-right">{{historique.designation}}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Unité de vente :
																<span class="float-right">{{historique.uv}}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Quantité sortie :
																<span class="float-right">{{historique.qte}}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Stock Faux ? :
																<span class="float-right">
																	{% if historique.stockFaux == 1 %}
																		Oui
																	{% else %}
																		Non
																	{% endif %}
																</span>
															</small>
														</li>
													</ul>
												</div>
												<div class="modal-footer justify-content-between">
													<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
													<a href="{{path('app_scan_ean-delete', {'id' : historique.id, 'chantier' : app.request.attributes.get('chantier') })}}" type="button" class="btn btn-danger">Supprimer cette ligne</a>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->

		<a data-toggle="modal" data-target="#modal-sm-supprimer" class="text-white btn btn-danger col-12">Supprimer cette saisie définitivement</a>
		<div class="modal fade" id="modal-sm-supprimer">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Voulez vous vraiment supprimer intégralement et définitivement le panier de ce chantier
							{{app.request.attributes.get('chantier')}}
							?</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						<a href="{{path('app_scan_ean_delete_all', {'chantier' : app.request.attributes.get('chantier') })}}" type="button" class="btn btn-danger">Supprimer</a>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	{% endif %}

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://unpkg.com/html5-qrcode"></script>
	<script src="{{ asset("js/html5-qrcode.min.js")}}"></script>
	<script>
		// Vérifie si le protocole est HTTP, puis redirige vers HTTPS
if (window.location.protocol !== "https:") { // Affiche une boîte de dialogue pour avertir l'utilisateur
var confirmation = confirm("Vous allez être redirigé sur l'adresse HTTPS de cette même page de l'intranet afin de pouvoir scanner des codes barres. Appuyez sur OK quand vous aurez lu ce message.");
// Si l'utilisateur appuie sur OK, redirige vers HTTPS
if (confirmation) {
window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
}
}
const txt = document.getElementById('text');
const eanInput = document.getElementById('ean'); // Assurez-vous que votre champ de saisie a l'ID 'ean'
var lastResult;

function onScanSuccess(decodedText, decodedResult) {
if (decodedText !== lastResult) {
lastResult = decodedText;
console.log (`Scan result ${decodedText}`, decodedResult);
txt.textContent = decodedText;
// Mettre à jour la valeur de l'input avec le résultat du scan
eanInput.value = decodedText;
processEAN();

closeScannerModal()
}
}

// Fonction pour démarrer la caméra
function startScanner() {
var html5QrcodeScanner = new Html5QrcodeScanner("reader", {
fps: 10,
qrbox: 250
});

html5QrcodeScanner.render(onScanSuccess);
}

// Gestionnaire d'événements pour détecter l'ouverture de la modal
$('#scannerModal').on('shown.bs.modal', function () { // Démarrer la caméra lorsque la modal est ouverte
startScanner();
});


function closeScannerModal() { // Fermer la modal et arrêter la caméra
$('#scannerModal').modal('hide');
// Déclencher le clic sur le bouton pour arrêter la caméra
$('#html5-qrcode-button-camera-stop').click();
}

// Ajouter un gestionnaire d'événements pour le bouton avec la classe "close"
$('.close').on('click', function () {
closeScannerModal();
});
	</script>
	<script>
		$(document).ready(function () {
$('.product-image-thumb').on('click', function () {
var $image_element = $(this).find('img')
$('.product-image').prop('src', $image_element.attr('src'))
$('.product-image-thumb.active').removeClass('active')
$(this).addClass('active')
})
})
	</script>
	<script>
		// Sélectionnez le bouton par son ID ou sa classe CSS
const clearButton = document.querySelector('#clear-ean-button');
// Remplacez '#clear-ean-button' par votre sélecteur approprié

// Sélectionnez le champ EAN par son ID
const eanInput = document.querySelector('#ean');

// Ajoutez un écouteur d'événements sur le bouton pour détecter les clics
clearButton.addEventListener('click', function () { // Effacez la valeur du champ EAN
eanInput.value = '';
$("#produit").attr('class', 'd-none');
$("#ean").attr('class', 'form-control col-12 is-invalid');
});
	</script>

	<script>

		window.onload = (event) => {
eanInput.value = "";
document.getElementById("qte").value = "";
eanInput.focus();
}
	</script>

	<script>
		function processEAN() {
const ean = $('#ean');
if (ean.val().length === 13) {
$.ajax({
url: "/scan/ean/ajax/1/" + ean.val(),
type: "GET"
}).done(function (data) {
console.log(data.error);
const resultRef = document.querySelector('.resultRef');
const resultDes = document.querySelector('.resultDes');
// const resultEan = document.querySelector('.resultEan');
const resultStock = document.querySelector('.resultStock');
const resultUv = document.querySelector('.resultUv');
const resultFerme = document.querySelector('.resultFerme');
const resultSref1 = document.querySelector('.resultSref1');
const resultSref2 = document.querySelector('.resultSref2');

resultRef.textContent = data.ref;
resultDes.textContent = data.designation;
// resultEan.textContent = data.ean;
resultStock.textContent = data.stock !== null ? data.stock : 0;
resultUv.textContent = data.uv;
resultFerme.textContent = data.ferme;
resultSref1.textContent = data.sref1;
resultSref2.textContent = data.sref2;

if (data.ean == null) { // Le produit n'a pas été trouvé, donc marquez le champ EAN comme invalide
$("#ean").attr('class', 'form-control col-12 is-invalid');
$("#produit").attr('class', 'd-none');
} else { // Le produit a été trouvé, marquez le champ EAN comme valide
$("#ean").attr('class', 'form-control col-12 is-valid');
$("#produit").attr('class', 'mt-3');
}
if (data.ean == null) { // Le produit n'a pas été trouvé, donc on affiche pas la section panier
$("#panier").attr('class', 'd-none');
} else { // Le panier a été trouvé, on donne accés au champs du panier
$("#panier").attr('class', '');
}


if (data.sref1) {
$("#sref1").attr('class', 'nav-link');
} else {
$("#sref1").attr('class', 'd-none');
}

if (data.sref2) {
$("#sref2").attr('class', 'nav-link');
} else {
$("#sref2").attr('class', 'd-none');
}

if (data.ferme) {
$("#ferme").attr('class', 'nav-link');
} else {
$("#ferme").attr('class', 'd-none');
}
});
} else {
$("#ean").attr('class', 'form-control col-12 is-invalid');
$("#produit").attr('class', 'd-none');
}
}

$(document).ready(function () { // Utilisez 'input' au lieu de 'change' pour détecter les modifications en temps réel
$('#ean').on('input', function () {
processEAN();
});
});
	</script>
{% endblock %}
