{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<!-- general form elements disabled -->
	<div class="card card-navy">
		<div class="card-header">
			<h3 class="card-title">Sortie de stock</h3>
			<div class="card-tools">
				<a href='{{path('app_affaire_me_nok' ) }}' class="badge badge-primary">
					<i class="fas fa-share mr-1"></i>
					Affaires
				</a>
				<a href="{{ path('app_scan_ean_ns') }}" class="badge badge-danger ml-auto">Retrait non soumis</a>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			{% include 'components/product_card.html.twig' %}
			{% include 'components/modal_scanner.html.twig' %}
			{% include 'components/modal_products.html.twig' %}
			{{ form_start(form, { 'attr' : { 'class' : 'ml-auto' }}
			) }}
			<div class="form-group">
				{{ form_widget(form.chantier, {'id': 'chantier' ,'attr' : { 'value' : chantier} }) }}
				{{ form_errors(form.chantier) }}
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<button id="btn-ean" class="btn btn-warning" type="button" data-toggle="modal" data-target="#scannerModal" data-target-id="ean">
							<i class="fa-solid fa-camera"></i>
						</button>
					</div>
					{{ form_widget(form.ean, { 'id': 'ean', 'name':"ean" , 'attr' : { 'class' : 'form-control col-12 is-warning' } }) }}
					<div class="input-group-append">
						<button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#productsModal" data-target-id="ean">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</div>
				</div>
				{{ form_errors(form.ean) }}
			</div>
			<div id="panier" class="d-none">
				<div id="stockFaux" class="custom-control custom-switch">
					{{ form_widget(form.stockFaux) }}
					{{ form_label(form.stockFaux) }}
				</div>

				<div class="form-group d-flex justify-content-between align-items-center">
					{{ form_widget(form.qte, {'id': 'qte', 'type': 'number', 'attr': {'class': 'form-control col-4', 'step': '0.001', 'min': '0'}}) }}
					{{ form_errors(form.qte) }}
					{{ form_widget(form.save, {'attr': {'class': 'form-control btn btn-xl btn-warning col-7'}}) }}
				</div>
			</div>
			{{ form_end(form)}}
			{% if historiques %}
				<a data-toggle="modal" data-target="#modal-sm-cloture" class="btn btn-success text-center col-12 mt-3">Soumettre le retrait pour ce chantier</a>
				<div class="modal fade" id="modal-sm-cloture">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Voulez vous vraiment soumettre ce retrait pour ce chantier ?</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form action="{{path('app_scan_ean-send', {'chantier' : app.request.attributes.get('chantier') })}}" method="POST">
								<div class="modal-body form-group">
									<label>Commentaires
										<small>
											<i>(facultatif)</i>
										</small>
									</label>
									<textarea type="text" name="ta" class="form-control" rows="10" placeholder="Vous pouvez ajouter un commentaire, des produits qui n'avaient pas de code barre, etc ..."></textarea>
								</div>
								<div class="modal-footer justify-content-between">
									<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
									<button class="btn btn-success" type="submit">Soumettre ce retrait de marchandise</button>
								</div>
							</form>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
			{% endif %}
			<!-- /.card -->
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>

	{% if historiques %}
		<div class="card card-dark mt-4">
			<div class="card-header">
				<h3 class="card-title">Panier de ce chantier</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body p-0">
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Produit</th>
							<th>qte</th>
							<th style="width: 40px">X</th>
						</tr>
					</thead>
					<tbody>
						{% for historique in historiques %}
							<tr>
								<td>{{ historique.designation }}</td>
								<td class="align-middle">{{ historique.qte }}</td>
								<td class="text-align align-middle">
									<a data-toggle="modal" data-target={{"#modal-sm#{historique.id}"}} class="text-dark">
										<i class="fa-solid fa-trash-can fa-bounce"></i>
									</a>
									<div class="modal fade" id={{"modal-sm#{historique.id}"}}>
										<div class="modal-dialog modal-sm">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Voulez vous vraiment supprimer cette ligne ?</h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="card-footer p-0">
													<ul class="nav flex-column">
														<li class="nav-item">
															<small class="nav-link">
																Id :
																<span class="float-right">{{ historique.id }}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Ean :
																<span class="float-right">{{ historique.ean }}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Référence :
																<span class="float-right">{{historique.ref}}</span>
															</small>
														</li>
														{% if historique.sref1 %}
															<li class="nav-item">
																<small class="nav-link">
																	Sref1 :
																	<span class="float-right">{{historique.sref1}}</span>
																</small>
															</li>
														{% endif %}
														{% if historique.sref2 %}
															<li class="nav-item">
																<small class="nav-link">
																	Sref2 :
																	<span class="float-right">{{historique.sref2}}</span>
																</small>
															</li>
														{% endif %}
														<li class="nav-item">
															<small class="nav-link">
																Désignation :
																<span class="float-right">{{historique.designation}}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Unité de vente :
																<span class="float-right">{{historique.uv}}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Quantité sortie :
																<span class="float-right">{{historique.qte}}</span>
															</small>
														</li>
														<li class="nav-item">
															<small class="nav-link">
																Stock Faux ? :
																<span class="float-right">
																	{% if historique.stockFaux == 1 %}
																		Oui
																	{% else %}
																		Non
																	{% endif %}
																</span>
															</small>
														</li>
													</ul>
												</div>
												<div class="modal-footer justify-content-between">
													<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
													<a href="{{path('app_scan_ean-delete', {'id' : historique.id, 'chantier' : app.request.attributes.get('chantier') })}}" type="button" class="btn btn-danger">Supprimer cette ligne</a>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->

		<a data-toggle="modal" data-target="#modal-sm-supprimer" class="text-white btn btn-danger col-12">Supprimer cette saisie définitivement</a>
		<div class="modal fade" id="modal-sm-supprimer">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Voulez vous vraiment supprimer intégralement et définitivement le panier de ce chantier
							{{app.request.attributes.get('chantier')}}
							?</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						<a href="{{path('app_scan_ean_delete_all', {'chantier' : app.request.attributes.get('chantier') })}}" type="button" class="btn btn-danger">Supprimer</a>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	{% endif %}

{% endblock %}
{% block javascripts %}
	{{ parent() }}

	<script src="https://unpkg.com/html5-qrcode"></script>
	<script src="{{ asset("js/html5-qrcode.min.js")}}"></script>
	<script>{{ eanScannerScript | raw }}</script>
	<script>{{ productFormScript | raw }}</script>
	<script>
		document.querySelectorAll(".updateButton").forEach(function (button) {
button.addEventListener("click", function () {
var target = this.getAttribute("data-target-id");
console.log(target);
// Vérifier le type d'élément (image ou fichier)
if (document.getElementById(target).tagName.toLowerCase() === "img") { // Pour les images, utilisez l'attribut src
filePath = document.getElementById(target).src;
} else if (document.getElementById(target).tagName.toLowerCase() === "a") { // Pour les fichiers, utilisez l'attribut href
filePath = document.getElementById(target).href;
}
var fileName = filePath.substring(filePath.lastIndexOf("/") + 1);

var isConfirmed = confirm("Êtes-vous sûr de vouloir supprimer le fichier " + fileName + " ?");

if (isConfirmed) {
$.ajax({
url: "/ajax/product/delete/file/1/" + document.getElementById("add_pictures_or_docs_reference").value + "/" + fileName,
type: 'POST',
success: function (response) {
processEAN();
},
error: function (error) {
console.error("Erreur lors de la suppression de l\'image :", error);
}
});
}
});
});
	</script>
{% endblock %}
